<div class="row">
  <div class="col breadcrumbs">
    <%= link_to "Home", root_path.to_s %>
    <%= link_to "Collections", collections_path %>
    <%= @collection.name %>
  </div>
</div>

<div class="row ctaRow collection-show">
  <div class="col-8 offset-1 description">
    <h2 class="unstyled"><%= @collection.name %></h2>
    <div class="row">
    	<div class="col-4 text-center">
          <% if @collection.image.attached? %>
            <%= image_tag @collection.show_image %>
          <% else %>
            <%= image_tag 'T-borderless.gif' %>
          <% end %>
    	</div>
    	<div class="col-8">
    		<%= sanitize @collection.description.html_safe %>
    	</div>
    </div>
  </div>
  <div class="col-3 text-left">
    <div class="card ctaLast subjects">
      <div class="card-title">
        Subjects
      </div>
      <div class="card-body text-left">
        <ul>
        	<% @collection.subject.each do |subject| %>
        		<li><%= subject %></li>
        	<% end %>
        </ul>
      </div>
    </div>

		<div class="card ctaLast spaces">
      <div class="card-title">
        Location
      </div>
      <div class="card-body text-left">
        <ul>
        	<li><%= link_to @collection.space.name, @collection.space %></li>
        </ul>
      </div>
    </div> 

    <div class="card ctaBoth">
      <div class="card-title text-center">
        <%= link_to "Contents", {controller: :collections, action: :finding_aids, id: @collection.id} %>
      </div>
    </div>

  </div>
</div>




