<div class="row">
  <div class="col breadcrumbs">
    <%= link_to "Home", root_path.to_s %>
    <%= link_to "Collections", collections_path %>
    <%= @collection.name %>
  </div>
</div>

<div class="row collection-show">
  <div class="col-10 description">
    <h2 class="unstyled" style=""><%= @collection.name %></h2>
    <div class="row info">
    	<div class="col-4" style="padding-left: 0;">
          <% if @collection.image.attached? %>
            <%= image_tag @collection.show_image, alt: "" %>
          <% else %>
            <%= image_tag 'T-borderless.gif', alt: "" %>
          <% end %>
    	</div>
    	<div class="col-8" style="padding-left:21px;">
    		<%= sanitize @collection.description.html_safe %>
    	</div>
    </div>
  </div>
  <div class="col-2 text-left">
    <div class="card ctaLast subjects">
      <div class="card-title">
        Subject List
      </div>
      <div class="card-body text-left">
        <ul>
        	<% @collection.subject.each do |subject| %>
        		<li><%= subject %></li>
        	<% end %>
        </ul>
      </div>
    </div>

		<div class="card ctaLast spaces">
      <div class="card-title">
        Space
      </div>
      <div class="card-body text-left">
        <ul>
        	<li><%= link_to @collection.space.name, @collection.space %></li>
        </ul>
      </div>
    </div> 

    <div class="card ctaBoth">
      <div class="card-title text-center">
        <%= link_to "Contents", {controller: :collections, action: :finding_aids, id: @collection.id}, style: "vertical-align:middle;" %>
      </div>
    </div>

  </div>
</div>


<%= render "policies" %>

<%= render "visit" %>

