<%= render "mobile-menu-secondary" %>

<div class="container-lg collection-show">
  
  <div class="row">
    <% unless @categories.blank? %>
      <div class="col-lg-3 d-none d-lg-block">
        <%= render "categories_list" %>
      </div>
      <div class="col-12 col-lg-6">
    <% else %>
      <div class="col-12">
    <% end %>
      
      <%= render "secondary_covid_alert" if @header_alert.present? %>
      
      <h1 class="page-title"><%= title @collection.name %></h1>
      <% if @collection.image.attached? %>
        <%= image_tag @collection.custom_image(600,300), class: "decorative", alt: "" %>
      <% end %>
        <div class="details">
          <%= @collection.description %>

          <% unless @collection.subject.blank? %>
          <h2><%= t("manifold.collections.show.subjects") %></h2>
          <ul class="list-unstyled">
          <%= @collection.subject.map { |subject| "<li>#{subject.to_s}</li>" }.collect do |subject| %>
            <%= subject.html_safe %>
          <% end.join %>
          </ul>
          <% end %>

          <h2><%= t("manifold.collections.show.locations") %></h2>
          
          <%= image_tag "location.png", class: "location decorative", alt: "" %> 
          <%= link_to @collection.space.label, space_path(@collection.space), class: "location" %>
          <div><%= phone_formatted(@collection.space.phone_number) %></div>
          <%= @collection.space.email %>
        </div>
      </div>

      <div class="col-12 col-lg-3">
        <% unless @collection.external_link.nil? %>
        <div class="collections-external-link">
          <h2><%= link_to @collection.external_link.title, @collection.external_link.link %></h2>
          <p class="print-only"><%= @collection.external_link.link %></p>

        </div>
        <% end %>
      </div>

  </div>
</div>
<script type="application/ld+json">
  <%= json_ld(@collection) %>
</script>
