<%= render "mobile-menu-secondary" %>

<div class="container collection-show">
  
  <div class="row">
    <% unless @categories.blank? %>
      <div class="col-lg-3 d-none d-lg-block">
        <%= render "categories_list" %>
      </div>
      <div class="col-12 col-lg-6">
    <% else %>
      <div class="col-12">
    <% end %>

      <h1 class="page-title"><%= title @collection.name %></h1>
      <% if @collection.image.attached? %>
        <%= image_tag @collection.show_image, class: "decorative", alt: "" %>
      <% end %>
        <div class="details">
          <h2>About the Collection</h2>
          <%= sanitize @collection.description.html_safe %>

          <% unless @collection.subject.blank? %>
          <h2> Subjects</h2>
          <ul class="list-unstyled">
          <%= @collection.subject.map { |subject| "<li>#{subject.to_s}</li>" }.collect do |subject| %>
            <%= subject.html_safe %>
          <% end.join %>
          </ul>
          <% end %>

          <h2>Locations</h2>
          <%= image_tag "location.png", class: "location decorative", alt: "" %> 
          <%= link_to @collection.space.label, spaces_path(@collection.space), class: "location" %>

          <h2>Contact</h2>
          <%= phone_formatted(@collection.space.phone_number) %>
          <br />
          <%= @collection.space.email %>
        </div>
      </div>

      <div class="col-12 col-lg-3">
        <% if @collection.finding_aids.exists? %>
        <div class="access-link">
          <h2><%= link_to "Explore this Collection", finding_aids_path(collection: @collection) %></h2>
        </div>
        <% end %>
        <% unless @collection.external_link.nil? %>
        <div>
          <h2><%= link_to @collection.external_link.title, @collection.external_link.link, class: "collections-external-link" %></h2>
        </div>
        <% end %>
      </div>

  </div>
</div>
