<%= render "mobile-menu-secondary" %>

<div class="container collection-show">
  
  <div class="row">
    <% unless @categories.blank? %>
      <div class="col-lg-3 d-none d-lg-block">
        <%= render "category_items" %>
      </div>
      <div class="col-12 col-lg-6">
    <% else %>
      <div class="col-12">
    <% end %>

      <h1 class="page-title"><%= @collection.name %></h1>
      <% if @collection.image.attached? %>
        <%= image_tag @collection.show_image, alt: @collection.name %>
      <% end %>
        <div class="details">
          <h2>About the Collection</h2>
          <%= sanitize @collection.description.html_safe %>

          <% unless @collection.subject.blank? %>
          <h2> Subjects</h2>
          <ul class="list-unstyled">
          <%= @collection.subject.each do |subject| %>
            <li><%= subject.to_s %></li>
          <% end %>
          </ul>
          <% end %>

          <h2>Locations</h2>
          <%= image_tag "location.png", class: "location" %> 
          <%= link_to @collection.space.label, spaces_path(@collection.space), class: "location" %>

          <h2>Contact</h2>
          <%= phone_formatted(@collection.space.phone_number) %>
          <br />
          <%= @collection.space.email %>
        </div>
      </div>

      <div class="col-12 col-lg-3">
        <div class="access-link">
          <h2><%= link_to "Explore this Collection", collections_path(@collection) %></h2>
        </div>
      </div>

  </div>
</div>
