<%= render "mobile-menu-secondary" %>

<div class="container">
  
  <div class="row service-show">
    <% unless @categories.blank? %>
      <div class="col-3 d-none d-md-none d-lg-block">
        <%= render "categories_list" %>
      </div>

      <div class="col-12 col-md-9 col-lg-6">
    <% else %>
      <div class="col-12 col-md-9 col-lg-9">
    <% end %>
    
      <h1 class="unstyled"><%= @service.title %></h1>
      <%= sanitize @service.description.html_safe %>

    </div>
    <div class="col-12 col-md-3 rightside-service">
      <% unless @service.external_link.blank? %>
        <div class="access-link">
          <h2><%= link_to @service.external_link.title, @service.external_link.link %></h2>
        </div>
      <% end %>
      <% unless @service.access_description.blank? %>
      <h2>Get Help</h2>
        <div class="entity-help">
          <%= sanitize @service.access_description.html_safe %>
        </div>
      <% end %>
    </div>
  </div>

</div>