<div class="row d-block d-md-block d-lg-none" id="services-mobile-nav">
  <nav class="navbar navbar-expand-lg navbar-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#services-mobile-menu" aria-controls="services-mobile-menu" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon" id="sub-toggler-icon" onclick="toggle(this)">
        <div class="bar1"></div>
        <div class="bar2"></div>
        <div class="bar3"></div>
      </span>
      <span class="navbar-brand" onclick="toggle('sub-toggler-icon')">
        <% @categories.each do |i| %>
          <%= i.name %> 
        <% end %> Menu</span>
    </button>
    <div class="collapse navbar-collapse" id="services-mobile-menu">
      <div class="navbar-nav"> 
         <%= render "all_services" %>
      </div>
    </div>
  </nav>
</div>

<div class="container">
  
<div class="row service-show">
  <% unless @categories.blank? %>
    <div class="col-3 d-none d-md-none d-lg-block">
      <%= render "all_services" %>
    </div>
  <% else %>
    <div class="d-block d-md-block d-lg-none">
      <%= render "mobile_services" %>
    </div>
  <% end %>
  
  <% unless @categories.blank? %>
    <div class="col-9 col-md-6">
  <% else %>
    <div class="col-9">
  <% end %>
  
    <h2 class="unstyled"><%= @service.title %></h2>
    <%= sanitize @service.description.html_safe %>
    <% unless @service.access_link.blank? %>
      <h3>Access Link:</h3>
      <p><%= link_to @service.title, strip_tags(@service.access_link) %></p>
    <% end %>
    <% unless @service.service_policies.blank? %>
      <h3>Service Policies:</h3>
      <%= sanitize @service.service_policies.html_safe %>
    <% end %>
  </div>
  <div class="col-3 rightside-service">
    <% unless @service.access_link.blank? %>
      <div class="access-link">
        <%= link_to "Access Link", @service.access_link %>
      </div>
    <% end %>
    <% unless @service.access_description.blank? %>
      <div class="entity-help">
        <%= sanitize @service.access_description.html_safe %>
      </div>
    <% end %>
  </div>
</div>


</div>