<%= render "mobile-menu-secondary" %>

<div class="container-lg">
  
  <div class="row service-show">
    <% unless @categories.blank? %>
      <div class="col-3 d-none d-md-none d-lg-block">
        <%= render "categories_list" %>
      </div>

      <div class="col-12 col-md-9 col-lg-6">
    <% else %>
      <div class="col-12 col-md-9 col-lg-9">
    <% end %>

    <%= render "secondary_covid_alert" if @header_alert.present? %>

    <h1 class="unstyled"><%= title @service.title %></h1>
    <%= @service.description %>

    </div>

  <% if @service.external_link.present? || @service.access_description.present? || @service.file_uploads.present? %>
    <div class="col-12 col-md-3 rightside-service">
      <% if @service.external_link.present? %>
        <div class="access-link">
          <h2><%= link_to @service.external_link.title, @service.external_link.link %></h2>
          <p class='print-only'><%= @service.external_link.link %></p>
        </div>
      <% end %>
      <% if @service.access_description.present? %>
      <h2><%= t("manifold.get_help") %></h2>
        <div class="entity-help">
          <%= @service.access_description %>
        </div>
      <% end %>
      <% if @service.file_uploads.present? %>
        <%= render "attachments" %>
      <% end %>
    </div>
  <% end %>

  </div>
</div>

<script type="application/ld+json">
  <%= json_ld(@service) %>
</script> 
