<div class="row">
  <div class="col breadcrumbs">
    <%= link_to "Home", root_path.to_s %>
    <%= link_to "Services", controller: 'spaces', action: :index %>
    <%= @service.title %>
  </div>
</div>

<div class="row">
  <div class="col">
    <div class="vertical-stripes-sm">
      <h2><span><%= @service.title %></span></h2>
    </div>
  </div>
</div>
<p>
  <strong>Description:</strong>
  <%= @service.description.html_safe %>
</p>

<p>
  <strong>Access Description:</strong>
  <%= @service.access_description.html_safe %>
</p>

<p>
  <strong>Access Link:</strong>
  <%= @service.access_link%>
</p>

<p>
  <strong>Related Spaces: </strong>
  <ul>
    <% @service.related_spaces.each do |s| %>
      <li><%= link_to s.name, controller: 'spaces', action: 'show', id: s.id %></li>
    <% end %>
  </ul>
</p>

<p>
  <strong>Related Groups: </strong>
  <ul>
    <% @service.related_groups.each do |g| %>
      <li><%= link_to g.name, controller: 'groups', action: 'show', id: g.id %></li>
    <% end %>
  </ul>
</p>

<p>
  <strong>Service Policies:</strong>
  <%= @service.service_policies.html_safe %>
</p>

<p>
  <strong>Intended Audience:</strong>
  <%= @service.intended_audience.join(", ") %>
</p>

<p>
  <strong>Service Category:</strong>
  <%= @service.service_category %>
</p>

<%= link_to 'Back', services_path %>
