<h4 style="text-decoration:underline"><%= message.subject %></h4>
<% array_values = "" %>
<% @resource.mail_form_attributes.each do |attribute, value| next if value.blank? %>
  <% if value.is_a?(Array) %>
    <%
      array_values+="<ul>\n"
      value.reject!(&:blank?).each {|v| array_values+="<li>#{v}</li>\n"}
      array_values+="</ul>"
    %>
  <div>
    <%= I18n.t("manifold.default.attributes.form.#{attribute}") %>:
    <%= array_values.html_safe %>
  </div>
  <% else %>
  <p><b><%= I18n.t("manifold.default.attributes.form.#{attribute}") %>:</b>
  <%= case value
      when /\n/
        raw(simple_format(h(value)))
      when Time
        value.strftime("%l:%M %P")
      when DateTime
        value.strftime("%m/%d/%Y, %l:%M %P")
      when Date
        value.strftime("%m/%d/%Y") 
      else
        value
      end 
  %>
  </p>
  <% end %>

<% end %>

<% unless @resource.class.mail_appendable.blank? %>
  <br /><h4 style="text-decoration:underline"><%= I18n.t :title, scope: [ :mail_form, :request ], default: 'Request information' %></h4>

  <% @resource.class.mail_appendable.each do |attribute|
    value = @resource.request.send(attribute)

    value = if value.is_a?(Hash) && !value.empty?
      list = value.to_a.map{ |k,v| content_tag(:li, h("#{k}: #{v.inspect}")) }.join("\n")
      content_tag(:ul, raw(list), style: "list-style:none;")
    elsif value.is_a?(String)
      value
    else
      value.inspect
    end
  %>

    <p><b><%= I18n.t "manifold.default.attributes.form.#{attribute}", scope: [ :mail_form, :request ], default: attribute.to_s.humanize %>:</b>
    <%= value.include?("\n") ? simple_format(value) : value %></p>
  <% end %>
  <br />
<% end %>