<%#
# Form Partial
This partial is rendered on a resource's `new` and `edit` pages,
and renders all form fields for a resource's editable attributes.
## Local variables:
- `page`:
  An instance of [Administrate::Page::Form][1]
  Contains helper methods to display a form,
  and knows which attributes should be displayed in the resource's form.
[1]: http://www.rubydoc.info/gems/administrate/Administrate/Page/Form
%>

<%= form_for([namespace, page.resource], html: { class: "form" }) do |f| %>
  <% if page.resource.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= t(
          "administrate.form.errors",
          pluralized_errors: pluralize(page.resource.errors.count, t("administrate.form.error")),
          resource_name: display_resource_name(page.resource_name)
        ) %>
      </h2>

      <ul>
        <% page.resource.errors.full_messages.each do |message| %>
          <li class="flash-error"><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= render("form_fields", page: page, f: f, current_account: current_account) %>

  <hr />
  <% if page.resource.fileabilities.present? %>
  <div class="file-uploads-text">
    <p><%= t("manifold.admin.help_text.file_uploads_html") %></p>
  </div>
  <div class="field-unit field-unit--file-uploads">
    <div class="field-unit__label">
      <label>File Uploads</label>
    </div>
      <div class="field-unit__field fileabilities">
        <%= f.fields_for :fileabilities, page.resource.fileabilities.sort_by(&:weight) do |file_uploads_form| %>
        <% if file_uploads_form.object.file_upload.present? %>
          <%= file_uploads_form.hidden_field :id %>
          <div class="entity-weight-list">
            <span class="file-upload-name">
              <%= file_uploads_form.label file_uploads_form.object.file_upload.name %>
            </span>
            <span class="file-upload-weight">
              <%= file_uploads_form.number_field(:weight, {required: 'required', in: (1..10).reverse_each} ) %>
            </span>
            <span class="file-upload-destroy">
              <label for="webpage_fileabilities_attributes_<%= file_uploads_form.options[:child_index] %>__destroy">
                <%= file_uploads_form.check_box :_destroy %>
                <span class="delete-icon"></span>
              </label>
            </span>
          </div>
          <% end %>
        <% end %>
      </div>
	</div>
  <% end %>

  <div class="form-actions">
    <%= f.submit %>
  </div>
<% end %>
