<div class="row p-0 m-0">
  <div class="col">
    <span>
      <p class="contact-link-heading"><%= t("manifold.webpages.contact.call") %></p>
      <p class="contact-link-text">
        <%= render_as_phone_link_on_mobile(number: "215-204-8212") %>
        <br />
        <%= t("manifold.webpages.contact.other") %> 
        <%= link_to t("manifold.webpages.contact.fcn_link"), "/numbers", class: "red-link" %>
      </p>
    </span>
  </div>
</div>

<div class="row p-0 m-0">
  <div class="col p-0 m-0 text-right">
    <%= image_tag("contact-call.png", class: "d-block decorative float-right", style: "width: 49px;") %>
  </div>
</div>