<div class="row">
  <div class="col breadcrumbs">
    <%= link_to "Home", root_path.to_s %>
    <%= link_to "Blogs", controller: "blogs", action: :index %>
    <%= @blog.title %>
  </div>
</div>

<div class="row">
  <div class="col">
    <div class="vertical-stripes-sm">
      <h2><span><%= @blog.title %></span></h2>
    </div>
  </div>
</div>

<%= link_to 'Edit', edit_blog_path(@blog) %> |
<%= link_to 'Back', blogs_path %>
