<div class="responsive">
  <div class="row">
    <div class="col">
      <div class="vertical-stripes-sm">
        <h2><span>Plan your visit</span></h2>
      </div>
    </div>
  </div>

  <div class="row visit-info">
    <div class="col-12 text-center">
      <div class="r-title" onClick="javascript:toggle('contact-body')">
        Contact
      </div>
      <div class="r-body d-none" id="contact-body">
        <span class="phone"><%= phone_formatted(@building.phone_number) %></span><br />
        <span class="email"><%= mail_to @building.email, @building.email %></span><br />
        <div class="address"><%= link_to @building.name, @building %></div>
      </div>
    </div>
  </div>

  <div class="row visit-info">
    <div class="col-12 text-center">
      <div class="r-title d-block" onClick="javascript:toggle('hours-body')">
        Hours
      </div>
      <div class="r-body d-none" id="hours-body">
      <div id="dateTime">
        <div id="date">
          <%= @building.todays_date %>
        </div>
        <div id="time" style="line-height: 1.5rem;">
          <% unless @building.hours.blank? %>
            <div class="time"><%= @todays_hours.first.hours %></div>
          <% end %>
          <%= @building.name %> 
        </div>
        </div>
        <div id="allHours">
          <%= link_to "See all library hours", hours_path() %> >
        </div>
      </div>
    </div>
  </div>

  <div class="row visit-info">
    <div class="col-12 text-center">
      <div class="r-title" onClick="javascript:toggle('map-body')">
        Map
      </div>
      <div class="r-body d-none" id="map-body">
        <%= render_map(@building.name,@building.coordinates,@building.google_id) %>
      </div>
    </div>
  </div>

</div>
