<% if @webpage.items.present? || @webpage.featured_item.present? %>

  <% if @webpage.featured_item.present? %>
    <div class="row d-flex align-items-center my-5 ps-0 pe-5 mx-2 featured-publication">
    <% if @webpage.featured_item.first.file_upload.image.present? %>
      <div class="col-12 col-lg-4 d-none d-lg-block featured-item ps-0">
        <%= image_tag @webpage.featured_item.first.file_upload.image, class: "inline p-0" %>
      </div>

      <div class="col-12 col-lg-8 ps-5 featured-publication-with">

    <% else %>

      <div class="col col-12 text-center featured-publication-without">
    <% end %>
        <h2 class="fs-1 roboto-bold mb-3"><span><%= t("manifold.webpages.featured_publication") %></span></h2>
        <%= link_to "#{@webpage.featured_item.first.file_upload.name} -- View PDF", url_for(@webpage.featured_item.first.file_upload.file), disposition: "attachment", class: "ps-0 fs-2" %>
      </div>
    </div>
  <% end %>

  <div class="row non-featured-publications">
    <% @webpage.items.each do |item| %>
      <div class="col-12 col-md-6 col-lg-4 p-3 nfp-item">
        <div>
          <%= image_tag item.file_upload.image.variant(:gravity=>"Center", resize: "535x220^", crop: '535x220+0+0'), class: "block p-0" if item.file_upload.image.attached? %>
          <%= link_to "#{item.file_upload.name} #{t("manifold.webpages.view_pdf")}", url_for(item.file_upload.file), disposition: "attachment", class: "d-block fs-3 p-4" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
<% end %>

