<% if items.present? %>
  <% if featured.present? %>

    <div class="row d-flex align-items-center my-5 ps-0 pe-5 mx-2 featured-publication">
    <% if featured.file_upload.image.present? %>
      <div class="col-12 col-lg-4 d-none d-lg-block featured-item ps-0">
        <%= image_tag featured.file_upload.image, class: "inline p-0" %>
      </div>

      <div class="col-12 col-lg-8 ps-5 featured-publication-with">

    <% else %>

      <div class="col col-12 text-center featured-publication-without">
    <% end %>
        <h2 class="fs-1 roboto-bold mb-3"><span><%= t("manifold.webpages.featured_publication") %></span></h2>
        <%= link_to "#{featured.file_upload.name}", url_for(featured.file_upload.file), disposition: "attachment", class: "ps-0 fs-2", title: t("manifold.webpages.view_pdf") %>
      </div>
    </div>
  <% end %>

  <div class="row non-featured-publications">
  <% if items.is_a? Array %>
    <% items.each do |item| %>
      <%= render "attachment", item: item %>
    <% end %>
  <% else %>
    <%= render "attachment", item: items %>
  <% end %>
  </div>
</div>
<% end %>

