<% if featured.present? %>
  <div class="row d-flex align-items-center my-4 ps-0 pe-5 mx-2 featured-publication">
  <% if featured.file_upload.image.attached? %>
    <div class="col-12 col-lg-4 d-none d-lg-block featured-item ps-0">
      <%= image_tag featured.file_upload.image.variant(:gravity=>"Center", resize: "350x180^", crop: '350x180+0+0'), class: "inline p-0" %>
    </div>
    <div class="col-12 col-lg-8 featured-publication-with">
  <% else %>
    <div class="col col-12 text-center featured-publication-without">
  <% end %>
      <span>
        <%= image_tag "top-left-corner-sm.png" unless featured.file_upload.image.attached? %>
        <%= link_to url_for(featured.file_upload.file.attachment), disposition: "attachment", class: "ps-0", title: t("manifold.webpages.view_pdf") do %>
          <%= attachment_title(featured.file_upload.name) %>
          <%= image_tag "pdf-black.svg", class: "pdf-icon white pt-0" %>
        <% end %>
      </span>
    </div>
  </div>
<% end %>

<% if items.present? %>
  <div class="row non-featured-publications">
  <% if items.is_a? Array %>
    <% items.each do |item| %>
      <%= render "attachment", item: item %>
    <% end %>
  <% else %>
    <%= render "attachment", item: items %>
  <% end %>
  </div>
<% end %>