<% content_for :body_class, "categories" %>

	<div class="row">
		<% @categories.each do |category| %>

		<% unless category.categories.include?(category) %>

			<div class="col-12 col-md-6 col-lg-4 text-center">
				<h2>
			    <%= link_to category.link do %>
					<% unless category.image.attachment.nil? %>
						<%= image_tag category.image, class: "category-icon decorative", alt: "" %> 
					<% else %>
						<%= image_tag "T.png", class: "category-icon decorative p-3", alt: "" %>
					<% end %>
						<br /><%= category.name %>
					<% end %>
				</h2>
				<p><%= sanitize category.description.html_safe unless category.description.blank? %></p>
			</div>

			<% end %>

		<% end %>

	</div>
