<div id="digcolsCarousel" class="carousel">
  <div class="carousel-inner mx-3 pb-0" role="tablist" aria-label="Digital Collection Highlights">
    <% @digcols.each_with_index do |digcol, i| %>
    <div class="carousel-item<%= " active" if i == 0 %>" role="tab">
      <div class="card library-event">
        <%= link_to digcol.link do %>

        <% if digcol.image.attached? %>
        <div class="item pb-4">
          <%= image_tag digcol.show_image, alt: image_alt_text(digcol), loading: "lazy" %>
        </div>
        <% end %>

        <div class="card-body px-0">
          <div class="item-caption text-start mt-0">
            <h3><%= digcol.label.truncate(52) %></h3>
            <p class="card-text"><%= strip_tags(digcol.blurb.truncate(120).html_safe) %></p>
          </div>
        </div>
        <% end %>
      </div>
    </div>
    <% end if @digcols.present? %>
          

    </div>
    <a class="carousel-control-prev bg-transparent w-aut" href="#digcolsCarousel" role="button" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </a>
    <a class="carousel-control-next bg-transparent w-aut" href="#digcolsCarousel" role="button" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </a>
</div>

  <div class="col-12 text-end px-0 bottom-section">
    <%= link_to t("manifold.webpages.home.links.main.browse_digital_collections"), t("manifold.webpages.home.links.main.digital_collections_link"), class: "view-all" %>
  </div>
