  <div id="newsCarousel" class="carousel">
    <div class="carousel-inner mx-3 pb-0" role="listbox" aria-label="Featured Events">
      <div class="carousel-item active">
        <div class="card library-event">
          <%= link_to event_path(@featured_events.first.id) do %>
            <% if @featured_events.first.image.attached? %>
            <div class="item pb-4">
              <%= image_tag @featured_events.first.image, alt: @featured_events.first.alt_text, loading: "lazy" %>
            </div>
            <% end %>

            <div class="card-body px-0">
              <div class="item-caption text-start mt-0">
                <h3><%= @featured_events.first.label.truncate(52) %></h3>
                <p class="card-text event-date">
                  <span class="d-block"><%= @featured_events.first.get_date %></span>
                  <%= @featured_events.first.set_start_time %> <%= "to #{@featured_events.first.set_end_time}" unless @featured_events.first.end_time == @featured_events.first.start_time %>
                </p>
              </div>
            </div>
          <% end %>
        </div>
      </div>

    <% @featured_events.each_with_index do |event, i| %>
    <div class="carousel-item<%= " active" if i == 0 %>">
      <div class="card library-event">
        <%= link_to event_path(event.id) do %>

          <% if event.image.attached? %>
          <div class="item pb-4">
            <%= image_tag event.image, alt: image_alt_text(event), loading: "lazy" %>
          </div>
          <% end %>

          <div class="card-body px-0">
            <div class="item-caption text-start mt-0">
              <h3><%= event.label.truncate(52) %></h3>
              <p class="card-text event-date">
                <span class="d-block"><%= event.get_date %></span>
                <%= event.set_start_time %> <%= "to #{event.set_end_time}" unless event.end_time == event.start_time %>
              </p>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <% end if @featured_events.present? %>
      </div>
      <a class="carousel-control-prev bg-transparent w-aut" href="#newsCarousel" role="button" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
      </a>
      <a class="carousel-control-next bg-transparent w-aut" href="#newsCarousel" role="button" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
      </a>
  </div>
        <div class="col-12 text-end px-0">
          <%= link_to "View all events", events_path, class: "view-all" %>
        </div>