<% @featured_events.each do |event| %>
    <div class="col-12 col-md-6 col-lg-4 library-event">

			<% if event.image.attached?  %>
			<%= link_to (image_tag event.custom_image(330, 235), class: "decorative", alt: ""), event_path(event.id) %>
			<% end %>

      <%= link_to event.title, event_path(event.id), class: "event-title" %>
      
      <p class="event-date">
        <span class="d-block"><%= event.get_date %></span>
        <%= event.set_start_time %> <%= "to #{event.set_end_time}" unless event.end_time == event.start_time %>
      </p>

    </div>
  <% end %>

  <div class="col-12 text-right px-0">
    <%= link_to "View all events", events_path, class: "view-all-events" %>
  </div>
