<div id="highlightsCarousel" class="home-news-row carousel pt-3">
  <div class="carousel-inner ms-4" role="tablist" aria-label="News & Highlights">
    <% @highlights.each_with_index do |highlight, i| %>
    <div class="items carousel-item<%= " active" if i == 0 %>" role="tab">
      <div class="card text-center">
        <%= link_to highlight.link do %>
          <% if highlight.image.attached? %>
          <div class="item pb-4">
          <%= image_tag highlight.image, alt: image_alt_text(highlight), loading: "lazy" %>
          </div>
          <% end %>
        <div class="card-body px-0">
          <div class="item-caption text-start mt-0">
            <h3><%= highlight.label.truncate(52) %></h3>
            <p><%= strip_tags(highlight.blurb.truncate(120).html_safe) %></p>
          </div>
        </div>
        <% end %>
      </div>
    </div>
    <% end if @highlights.present? %>
    </div>
    <a class="carousel-control-prev bg-transparent w-aut" href="#highlightsCarousel" role="button" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </a>
    <a class="carousel-control-next bg-transparent w-aut" href="#highlightsCarousel" role="button" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </a>
</div>

<div class="col-12 text-end px-0">
  <%= link_to "View library blogs", blogs_path, class: "view-all" %>
</div>
