<% content_for :body_class, "minipage blockson" %>

<div class="banner-image blockson"></div>

<div class="container-lg">

  <div class="row">
    <div class="col">
      <h1 class="page-title">
        <%= title t("manifold.webpages.blockson.page_title") %>
      </h1>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-lg-4 pe-14 left-links">
      <ul class="list-unstyled locations">
        <li>
          <%= link_to t("manifold.webpages.blockson.links.materials_label"), 
                    t("manifold.webpages.blockson.links.materials_link"), 
                    id: "blockson_digitized_materials_button" %>
        </li>
        <li>
          <%= link_to t("manifold.webpages.scrc.locations.finding_aids"), 
                    finding_aids_path(collection: 10),
                    id:"scrc_finding_aids_button" %>
        </li>
        <li>
          <%= link_to t("manifold.webpages.blockson.links.hours_label"), 
                      t("manifold.webpages.blockson.links.hours_link"), 
                      id: "blockson_hours_and_info_button" %>
        </li>
        <li>
          <span>215-204-6632</span>
        </li>
      </ul>
    </div>

    <div class="col-12 col-lg-8 description">
      <%= @webpage.description if @webpage.description.present? %>
    </div>
  </div>

  <div class="row links-container">
    <div class="col-12 col-lg-6 links">
      <h2>
        <%= link_to t("manifold.webpages.blockson.links.visit_label"), 
                    t("manifold.webpages.blockson.links.visit_link"), 
                    id: "blockson_visit_header" %>
      </h2>
      <ul class="list-unstyled">
        <% @visit_links.each do |link| %>
          <li>
            <%= link_to link.label, 
                        link, 
                        id: "blockson_visit_link_#{link.label.parameterize}" %>
          </li>
        <% end if @visit_links.present? %>
      </ul>
      <% if @tours.present? %>
        <h2>
          <%= link_to t("manifold.webpages.blockson.links.tours").html_safe, 
                      category_path(@tours), 
                      id: "blockson_tours_header" %>
        </h2>
        <ul class="list-unstyled">
          <% @tour_links.each do |link| %>
            <li>
              <%= link_to link.label, 
                          link, 
                          id: "blockson_tours_link_#{link.label.parameterize}" %>
            </li>
          <% end if @tour_links.present? %>
        </ul>
      <% end %>

      <% if @events_links.present? %>
      <div class="links">
        <h2>
          <%= link_to t("manifold.webpages.blockson.links.events"), 
                      events_path(type: t("manifold.webpages.blockson.links.events_type"), anchor: "upcoming-events"),
                      id: "blockson_events_header" %>
        </h2>
        <ul class="list-unstyled">
          <% @events_links.each do |link| %>
            <li>
              <%= link_to link.label, 
                          event_path(link.id), 
                          id: "blockson_events_link_#{link.label.parameterize}" %>
            </li>
          <% end %>
          <li class="text-end all-events">
            <%= link_to t("manifold.webpages.blockson.links.view_all_label"), 
                        events_path(type: t("manifold.webpages.blockson.links.events_type"), anchor: "upcoming-events"), 
                        {style: "text-decoration:underline", id: "blockson_events_view_all"} %> >
          </li>
        </ul>
      </div>
      <% end %>
    </div>
    <div class="col-12 col-lg-6 links">
      <h2>
        <%= link_to t("manifold.webpages.blockson.links.research_label"), 
                    t("manifold.webpages.blockson.links.research_link"), 
                    id: "blockson_research_header" %>
      </h2>
      <ul class="list-unstyled">
        <% @research_links.each do |link| %>
          <li>
            <%= link_to link.label, 
                        link, 
                        id: "blockson_research_link_#{link.label.parameterize}" %>
          </li>
        <% end if @research_links.present? %>
      </ul>
    </div>

  </div>

</div>
