<% content_for :body_class, "minipage blockson" %>

<div class="banner-image blockson"></div>

<div class="container">

<div class="row">
	<div class="col">
		<h1 class="page-title text-center">
			<%= title t("manifold.webpages.blockson.page_title") %>
		</h1>
	</div>
</div>

<div class="row">

	<div class="col-12 col-lg-4 pr-14 left-links">
    
    <%= render "covid_alert_mini" unless @header_alert.nil? %>

		<div class="locations">
			<%= link_to t("manifold.webpages.blockson.links.materials"), "/digital-library" %>
		</div>

		<div class="contact">
			<div class="one-liner">
				<%= image_tag "information_white.png" %>
				<%= link_to t("manifold.webpages.blockson.links.hours"), "/blockson/info" %>
			</div>
			<hr />
			<div class="one-liner">
				<%= image_tag "phone-handle-white.png", class: "decorative", alt: "" %>
				215-204-6632
			</div>
		</div>

	</div>

	<div class="col-12 col-lg-8 description-container">
		<% unless @webpage.description.nil? %>
		<div class="row">
			<div class="col-12 description">
				<%= @webpage.description %>
			</div>
		</div>
		<% end %>
		<div class="row links-container">
			<div class="col-12 col-lg-6">
				<div class="links">
					<h2><%= link_to t("manifold.webpages.blockson.links.visit"), "/blockson/study" %></h2>
					<ul class="list-unstyled">
						<% @visit_links.each do |link| %>
							<li><%= link_to link.label, link %></li>
						<% end unless @visit_links.nil? %>
					</ul>
				</div>
				<% if @tours.present? %>
				<div class="links">
					<h2><%= link_to t("manifold.webpages.blockson.links.tours").html_safe, category_path(@tours) %></h2>
					<ul class="list-unstyled">
						<% @tour_links.each do |link| %>
							<li><%= link_to link.label, link %></li>
						<% end if @tour_links.present? %>
					</ul>
				</div>
				<% end %>
				<div class="links">
					<h2><%= link_to t("manifold.webpages.blockson.links.events"), events_path %></h2>
					<ul class="list-unstyled">
						<% @events_links.each do |link| %>
							<li><%= link_to link.label, event_path(link.id) %></li>
						<% end unless @events_links.nil? %>
						<li class="text-right all-events"><%= link_to "View all", events_path, style: "text-decoration:underline" %> ></li>
					</ul>
				</div>
			</div>
			<div class="col-12 col-lg-6">
				<div class="links">
					<h2><%= link_to t("manifold.webpages.blockson.links.research"), "/blockson/research" %></h2>
					<ul class="list-unstyled">
						<% @research_links.each do |link| %>
							<li><%= link_to link.label, link %></li>
						<% end unless @research_links.nil? %>
					</ul>
				</div>
			</div>

		</div>
	</div>

</div>

</div>
