<% content_for :body_class, "minipage blockson" %>

<div class="banner-image blockson"></div>

<div class="container">

<div class="row">
	<div class="col">
		<h1 class="page-title text-center">
			<%= title "Charles L. Blockson Afro-American Collection" %>
		</h1>
	</div>
</div>

<div class="row">
	
	<div class="col-12 col-lg-4 pr-14 left-links">

		<div class="locations">
			<%= link_to "Digitized Materials", "https://digital.library.temple.edu/" %>
		</div>

		<div class="contact">
			<%= image_tag "information_white.png", style: "width: 100px" %>
			<%= link_to "Hours & Info", @building %>
			<hr />
			<%= image_tag "phone-handle-white.png", style: "width: 100px", class: "decorative", alt: "" %>
			215-204-6632
		</div>

	</div>

	<div class="col-12 col-lg-8 description-container">
		<% unless @webpage.description.nil? %>
		<div class="row">
			<div class="col-12 description">
				<%= sanitize(@webpage.description.html_safe) %>
			</div>
		</div>
		<% end %>
		<div class="row links-container">
			<div class="col-12 col-lg-6">
				<div class="links d-none d-lg-block">
					<h2><%= link_to "Visit & Study", @visit %></h2>
					<ul class="list-unstyled">
						<% @visit_links.each do |link| %>
							<li><%= link_to link.label, link %></li>
						<% end %>
					</ul>
				</div>
				<div class="links d-block d-lg-none">
					<%= render "webpages/mini-partials/visit" %>
				</div>
			</div>
			<div class="col-12 col-lg-6">
				<div class="links d-none d-lg-block">
					<h2><%= link_to "Research Services", @research %></h2>
					<ul class="list-unstyled">
						<% @research_links.each do |link| %>
							<li><%= link_to link.label, link %></li>
						<% end %>
					</ul>
				</div>
				<div class="links d-block d-lg-none">
					<%= render "webpages/mini-partials/research" %>
				</div>
			</div>
			<div class="col-12 col-lg-6">
				<div class="links d-none d-lg-block">
					<h2><%= link_to "Workshops & Events", controller: :events, action: :index %></h2>
					<ul class="list-unstyled">
						<% @events_links.each do |link| %>
							<li><%= link_to link.label, link %></li>
						<% end unless @events_links.nil? %>
						<li class="text-right all-events"><%= link_to "View all", events_path, style: "text-decoration:underline" %> ></li>
					</ul>
				</div>
				<div class="links d-block d-lg-none">
					<%= render "webpages/mini-partials/events" %>
				</div>
			</div>

		</div>
	</div>
	
</div>

</div>


