<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= stylesheet_link_tag '/assets/reader/css/normalize.css' %>
<%= stylesheet_link_tag '/asset/reader/css/main.css' %>
<%= stylesheet_link_tag '/assets/reader/css/popup.css' %>

<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag '/assets/reader/js/hooks.min.js' %>
<%= javascript_include_tag '/assets/reader/js/libs/jquery.min.js' %>
<%= javascript_include_tag '/assets/reader/js/libs/zip.min.js' %>

<script>
    "use strict";
    document.onreadystatechange = function () {
	    if (document.readyState == "complete") {
	      EPUBJS.filePath = "<%= '/assets/reader/js' %>";
	      EPUBJS.cssPath = "<%= '/assets/reader/css' %>";
	      // fileStorage.filePath = EPUBJS.filePath;
	      window.reader = ePubReader("<%= @file %>", {restore: true});
	    }
    }
</script>

<%= javascript_include_tag '/assets/reader/js/libs/screenfull.min.js' %>
<%= javascript_include_tag '/assets/reader/js/epub.min.js' %>
<%= javascript_include_tag '/assets/reader/js/reader.min.js' %>

 <div id="sidebar">
  <div id="panels">
    <!-- <input id="searchBox" placeholder="search" type="search"> -->

    <!-- <a id="show-Search" class="show_view icon-search" data-view="Search">Search</a> -->
    <%# <a id="show-Toc" class="show_view icon-list-1 active" data-view="Toc">TOC</a>
    <a id="show-Bookmarks" class="show_view icon-bookmark" data-view="Bookmarks">Bookmarks</a> %>
    <!-- <a id="show-Notes" class="show_view icon-edit" data-view="Notes">Notes</a> -->

  </div>
  <div id="tocView" class="view">
  </div>
  <div id="searchView" class="view">
    <ul id="searchResults"></ul>
  </div>
<div id="main">

  <div id="titlebar">
    <div id="opener">
      <a id="slider" class="icon-menu">Menu</a>
    </div>
    <div id="metainfo">
      <span id="book-title"></span>
      <span id="title-seperator">&nbsp;&nbsp;–&nbsp;&nbsp;</span>
      <span id="chapter-title"></span>
    </div>
    <div id="title-controls">
      <a id="bookmark" class="icon-bookmark-empty">Bookmark</a>
      <a id="setting" class="icon-cog">Settings</a>
      <a id="fullscreen" class="icon-resize-full">Fullscreen</a>
    </div>
  </div>

  <div id="divider"></div>
  <div id="prev" class="arrow">‹</div>
  <div id="viewer"></div>
  <div id="next" class="arrow">›</div>
  
  <div id="loader"><%= image_tag('loader.gif') %></div>
</div>
    <div class="modal md-effect-1" id="settings-modal">
        <div class="md-content">
            <h3>Settings</h3>
            <div>
                <p>
                  <input type="checkbox" id="sidebarReflow" name="sidebarReflow">Reflow text when sidebars are open.
                </p>
            </div>
            <div class="closer icon-cancel-circled"></div>
        </div>
    </div>
    <div class="overlay"></div>
