<div id="home">
  <div class="row">
    <div class="col-12 <%= get_season %>" id="searchFields">
      <%= render @search, view: "desktop" if @search.present? %>
    </div>
  </div>

  <div class="container-lg px-0">
    <div class="col-12 d-block d-lg-none px-0" id="search-in-page">
      <%= render @search, view: "mobile" if @search.present? %>
    </div>

    <div class="under">
      <div class="row ctaRow px-lg-3">
        <div class="col-12 col-lg-3 pe-3">
          <div class="cta-white">
            <%= link_to "/research-help", {id: "research-help"} do %>
            <span><%= t("manifold.webpages.home.links.help.research") %></span>
            <% end %>
          </div>
        </div>
        <div class="col-12 col-lg-3 pe-3">
          <div class="cta-white">
            <%= link_to "https://charlesstudy.temple.edu", {id: "study-space"} do %>
            <span><%= t("manifold.webpages.home.links.help.reserve_study_space") %></span>
            <% end %>
          </div>
        </div>
        <div class="col-12 col-lg-3 pe-3">
          <div class="cta-white">
            <%= link_to @cta3, {cid: "printing-computing"} do %>
            <span><%= t("manifold.webpages.home.links.help.printing_computing") %></span>
            <% end %>
          </div>
        </div>
        <div class="col-12 col-lg-3">
          <div class="cta-white">
            <%= link_to @cta4, {id: "online-resources"} do %>
            <span><%= t("manifold.webpages.home.links.help.explore_charles") %></span>
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <div id="hollywood-squares" class="container-lg">
      <div class="row">
        <div class="col-12 col-lg-3 px-0 ps-xl-3 pe-0 mb-4 mb-lg-0 catalog-search">
          <div class="square">
            <%= link_to "#{librarysearch_url}/catalog", id: "books-media" do %>
              <%= image_tag('books_blue.png', class: "icon decorative", alt: "") %> 
              <span><%= t("manifold.webpages.home.links.main.books") %></span>
            <% end %>
          </div>
          <div class="square">
            <%= link_to "#{librarysearch_url}/articles", id: "articles" do %>
              <%= image_tag('articles_blue.png', class: "icon decorative", alt: "") %> 
              <span><%= t("manifold.webpages.home.links.main.articles") %></span>
            <% end %>
          </div>
          <div class="square">
            <%= link_to "/databases", id: "databases" do %>
              <%= image_tag('databases_blue.png', class: "icon decorative", alt: "") %> 
              <span><%= t("manifold.webpages.home.links.main.databases") %></span>
            <% end %>
          </div>
          <div class="square">
            <%= link_to "/research-guides", id: "research-guides" do %>
              <%= image_tag('research_blue.png', class: "icon decorative", alt: "") %> 
              <span><%= t("manifold.webpages.home.links.main.guides") %></span>
            <% end %>
          </div>
          <div class="square bb-0">
            <%= link_to "/journal-finder", id: "journal-finder" do %>
              <%= image_tag('journal_blue.png', class: "icon decorative", alt: "") %> 
              <span><%= t("manifold.webpages.home.links.main.journals") %></span>
            <% end %>
          </div>
          <div class="d-block d-lg-none caption bottom mr-xl-4">
            <%= link_to t("manifold.webpages.home.links.main.collections_search"), librarysearch_url, {id: "collections-search"} %>
          </div>
        </div>
        <div class="col-12 col-lg-6 px-0 px-lg-3 px-xl-5 center-column">
          <div class="events">
          <%= link_to events_path, id: "events" do %>
            <%= image_tag('homepage-events.jpg', class: "d-none d-lg-block w-100 decorative", alt: "") %>
            <%= image_tag('art.png', class: "d-inline d-lg-none decorative", alt: "") %>
            <span class="d-inline d-lg-none"><%= t("manifold.webpages.home.links.main.events") %></span>
            <div class="caption d-none d-lg-block" id="eventscaption">
              <p role="heading"><%= t("manifold.webpages.home.links.main.events") %></p>
            </div>
          <% end %>
          </div>
          <div class="quicklinks">
            <div class="d-block d-lg-none caption no-link">
              <span role="heading">Quick Links</span>
            </div>
            <ul class="list-unstyled mb-0 pt-xl-4">
              <li class="quicklinks-link py-3"><%= link_to t("manifold.footer.ezborrow_link"), "/ezborrow"  %></li>
              <li class="quicklinks-link py-3"><%= link_to t("manifold.footer.illiad_link"), "/illiad" %></li>
              <li class="quicklinks-link py-3"><%= link_to t("manifold.footer.primo_articles"), "/find-by-citation" %></li>
              <li class="quicklinks-link py-3"><%= link_to t("manifold.footer.accessibility_link"), category_path("accessibility-services") %></li>
            </ul>
          </div>
        </div>
        <div class="col-12 col-lg-3 px-0 pe-xl-3 ps-0 mb-4 mb-lg-0 locations-links">
          <div class="d-block d-lg-none caption no-links">
            <%= "Locations" %>
          </div>
          <div class="h-10 mb-xl-2"><%= link_to t("manifold.webpages.home.links.main.locations.charles"), "/explore-charles", id: "charles-library" %></div>
          <div class="h-10 mb-xl-2"><%= link_to t("manifold.webpages.home.links.main.locations.hsl"), webpages_hsl_path, id: "hsl" %></div>
          <div class="h-10 mb-xl-2"><%= link_to t("manifold.webpages.home.links.main.locations.lcdss"), webpages_lcdss_path, {id: "lcdss"} %></div>
          <div class="h-10 mb-xl-2s"><%= link_to t("manifold.webpages.home.links.main.locations.blockson"), webpages_blockson_path, id: "blockson" %></div>
          <div class="h-10 mb-xl-2"><%= link_to t("manifold.webpages.home.links.main.locations.scrc"), webpages_scrc_path, {id: "scrc"} %></div>
          <div class="h-10 mb-xl-2"><%= link_to t("manifold.webpages.home.links.main.locations.law"), "/law-library", id: "law" %></div>
          <div class="h-10 mb-xl-2"><%= link_to t("manifold.webpages.home.links.main.locations.scop"), webpages_scop_path, id: "scop" %></div>
          <div class="h-10 mb-xl-2"><%= link_to t("manifold.webpages.home.links.main.locations.ambler"), buildings_ambler_path, id: "ambler" %></div>
          <div class="d-block d-lg-none caption bottom">
            <%= link_to(t("manifold.webpages.home.links.main.locations.all"), "/all-locations", {id: "all-locations"}) %>
          </div>
        </div>
      </div>
      <div class="row d-none d-lg-flex">
        <div class="col-12 col-lg-3 px-0 ps-xl-3 pe-0 caption mr-xl-4">
          <%= link_to t("manifold.webpages.home.links.main.collections_search"), librarysearch_url, {id: "collections-search"} %>
        </div>
        <div class="col-12 col-lg-6 px-0 px-lg-3 px-xl-5 d-none text-end d-lg-block caption text-right ql-caption">
          <span>Quick Links</span>
        </div>
        <div class="col-12 col-lg-3 px-0 pe-xl-3 ps-0 caption">
          <%= link_to(t("manifold.webpages.home.links.main.locations.all"), "/all-locations", {id: "all-locations"}) %>
        </div>
      </div>
    </div>
  </div>

  </div>

  <div class="mt-5" id="news-events">
    <div class="news-container container-lg">
      <h2>Events</h2>
      <div class="row home-events-row row-eq-height" data-controller="news-carousel">
      <%= render "events" if @featured_events.present? %>
      </div>

      <h2>Library News</h2>
      <div class="row home-news-row row-eq-height" data-controller="highlights-carousel">
        <%= render "featured" %>
      </div>

      <h2>Highlights From Our Digital Collections</h2>
      <div class="row home-digcol-row row-eq-height" data-controller="digcols-carousel">
        <%= render "dig-cols" %>
      </div>	
    </div>
  </div>
  
  <div class="diagonal">
    <div id="diagonal-line"></div>
  </div>