<div id="home">
<div id="searchFields">

	<%= render "page-search" %>

</div>

	<div class="col-12 d-block d-lg-none px-0" id="search-in-page">
		<%= render "page-search" %>
	</div>
<div class="container under">
	<div class="row ctaRow">
		<% unless @research_help.nil? %>
			<div class="col-12 col-lg-3 pr-3">
		    <div class="cta-white">
			    <%= link_to @research_help, class: "strong" do %>
			      <%= image_tag('research_help.png', class: "decorative", alt: "") %> <span>Research Help</span>
			    <% end %>
		    </div>
		  </div>
		<% end %>
		<% unless @remote_student_support.nil? %>
			<div class="col-12 col-lg-3 pr-3">
		    <div class="cta-white">
			    <%= link_to @remote_student_support, class: "strong" do %>
			      <%= image_tag('remote-student-support.png', class: "decorative", alt: "") %> <span>Remote Student Support</span>
			    <% end %>
		    </div>
		  </div>
		<% end %>
		<% unless @remote_faculty_support.nil? %>
		  <div class="col-12 col-lg-3 pr-3">
		    <div class="cta-white">
			    <%= link_to @remote_faculty_support, class: "strong" do %>
			      <%= image_tag('remote-faculty-support.png', class: "decorative", alt: "") %> <span>Remote Faculty Support</span>
			    <% end %>
		    </div>
		  </div>
		<% end %>
		<% unless @explore_online_collections.nil? %>
		  <div class="col-12 col-lg-3">
		    <div class="cta-white">
			    <%= link_to @explore_online_collections, class: "strong" do %>
			      <%= image_tag('ebook_black.png', class: "decorative", alt: "") %> <span>Explore Online Collections</span>
			    <% end %>
		    </div>
		  </div>
		<% end %>
	</div>
</div>

<div id="hollywood-squares">
	<div class="container">
		<div class="row">
			<div class="col-12 col-lg-3 catalog-search h-auto">
				<div class="h-18 square">
			    <%= link_to "#{librarysearch_url}/catalog" do %>
			      <%= image_tag('book_white.png', class: "icon decorative", alt: "") %> <span>Books & Media</span>
			    <% end %>
				</div>
				<div class="h-18 square">
			    <%= link_to "#{librarysearch_url}/articles" do %>
			      <%= image_tag('magazine_white.png', class: "icon decorative", alt: "") %> <span>Articles</span>
			    <% end %>
				</div>
				<div class="h-18 square">
					<% unless @db_az_link.nil? %>
				    <%= link_to @db_az_link do %>
				      <%= image_tag('database_white.png', class: "icon decorative", alt: "") %> <span>Databases</span>
				    <% end %>
			    <% end %>
				</div>
        <div class="h-18 square">
          <% unless @libguides.nil? %>
            <%= link_to @libguides do %>
              <%= image_tag('guides_white.png', class: "icon decorative", alt: "") %> <span>Research Guides</span>
            <% end %>
          <% end %>
        </div>
        <div class="h-18 square bb-0 left">
          <% unless @journal_finder.nil? %>
            <%= link_to @journal_finder do %>
              <%= image_tag('journal_finder.png', class: "icon decorative", alt: "") %> <span>Journal Finder</span>
            <% end %>
          <% end %>
        </div>
				<div class="caption">
					<%= link_to "Search our collections >", librarysearch_url, class: "price" %>
				</div>
			</div>
			<div class="col-12 col-lg-6 px-0 px-lg-5 news-events">
				<div class="events">
			    <%= link_to events_path do %>
			      <%= image_tag('events-banner.jpg', class: "d-none d-lg-block decorative", alt: "") %>
			      <%= image_tag('art.png', class: "d-inline d-lg-none decorative", alt: "") %>
			      <div class="caption" id="eventscaption">
							<span class="lynde">Events & Exhibits</span>
						</div>
			    <% end %>
				</div>
				<div class="news">
					<%= link_to news_path do %>
			      <%= image_tag('library-news-banner.jpg', class: "d-none d-lg-block decorative", alt: "") %>
			      <%= image_tag('newspaper.png', class: "d-inline d-lg-none decorative", alt: "") %>
			      <div class="caption" id="newscaption">
							<span class="lynde">Library News</span>
						</div>
			    <% end %>
				</div>
			</div>
			<div class="col-12 col-lg-3 locations-links px-0">
				<div class="h-18"><%= link_to "Health Sciences Libraries", webpages_hsl_path %></div>
				<div class="h-18 two-lines"><%= link_to "Loretta C. Duckworth Scholars Studio", webpages_lcdss_path %></div>
				<div class="h-18 two-lines"><%= link_to "Charles L. Blockson Afro-American Collection", webpages_blockson_path %></div>
				<div class="h-18 two-lines"><%= link_to "Special Collections Research Center", webpages_scrc_path %></div>
				<div class="h-18 bb-0"><%= link_to "Law Library", "https://www.law.temple.edu/library/about-the-law-library/" %></div>
				<div class="caption">
					<%= link_to("See all libraries and locations >", @locations, class: "gobel") unless @locations.nil? %>
				</div>
			</div>
		</div>
	</div>
</div>


</div>

</div>
