<% content_for :body_class, "minipage hsl" %>

<div class="banner-image hsl"></div>

<div class="container">

<div class="row">
	<div class="col">
		<h1 class="page-title text-center">
			<%= title "Health Sciences Libraries" %>
		</h1>
	</div>
</div>

<div class="row">

	<div class="col-12 col-lg-4 pr-14 left-links">
		<div class="locations">
			<%= link_to "Remote Learning Support", "/hsl/remote-learning-support" %>
			<hr />
			<%= link_to "Ginsburg Health Sciences Library", "/hsl/ginsburg" %>
			<hr />
			<%= link_to "Krausz Library of Podiatric Medicine", "/hsl/podiatry" %>
		</div>

		<div class="contact">
			<%= image_tag "phone-handle-white.png", style: "width: 100px", class: "decorative", alt: "" %>
			215-707-2665
			<hr />
			<%= image_tag "email-white.png", style: "width: 100px", class: "decorative", alt: "" %>
			<%= link_to "Mailing List", "/hsl/mailing-list", target: "_blank" %>
      <hr />
			<div class="two-lines">
			<%= image_tag "chat.png", style: "width: 100px;" %>
			<%= link_to "Chat with a Health Sciences Librarian", "/hsl/chat", target: "_blank" %>
			</div>
			<hr />
        <%= image_tag('journal_finder.png', class: "decorative", style: "width: 100px", alt: "") %>
        <%= link_to "Journal Finder", "/journal-finder" %>
      <hr />
      <div style="height:79px;" class="two-lines">
        <%= image_tag "gift_white.png", style: "width: 100px;" %>
        <%= link_to "Support the Health Sciences Libraries", "/hsl/giving" %>
      </div>
		</div>
	</div>

	<div class="col-12 col-lg-8">
		<div class="row links-container">
			<div class="col-12 col-lg-6">
				<div class="links">
					<h2><%= link_to "Visit & Study", "/hsl/info" %></h2>
					<ul class="list-unstyled">
						<% @visit_links.each do |link| %>
							<li><%= link_to link.label, link %></li>
						<% end %>
					</ul>
				</div>
			</div>
			<div class="col-12 col-lg-6">
				<div class="links">
					<h2><%= link_to "Resources & Media", "/hsl/resources" %></h2>
					<ul class="list-unstyled">
						<% @resource_links.each do |link| %>
							<li><%= link_to link.label, link %></li>
						<% end %>
					</ul>
				</div>
			</div>
			<div class="col-12 col-lg-6">
				<div class="links">
					<h2><%= link_to "Research Services", "/hsl/research" %></h2>
					<ul class="list-unstyled">
						<% @research_links.each do |link| %>
							<li><%= link_to link.label, link %></li>
						<% end %>
					</ul>
				</div>
			</div>
			<div class="col-12 col-lg-6">
				<div class="links">
					<h2><%= link_to "Workshops & Events", events_path %></h2>
					<ul class="list-unstyled">
						<% @event_links.each do |link| %>
							<li><%= link_to link.title, event_path(link.id) %></li>
						<% end %>
						<li class="text-right all-events"><%= link_to "View all", events_path, style: "text-decoration:underline" %> ></li>
					</ul>
				</div>
			</div>
		</div>
	</div>

</div>

</div>
