<% content_for :body_class, "minipage hsl" %>

<div class="banner-image hsl"></div>

<div class="container-lg">

<div class="row">
  <div class="col">
    <h1 class="page-title">
      <%= title t("manifold.webpages.hsl.page_title") %>
    </h1>
  </div>
</div>

<div class="row">

  <div class="col-12 col-lg-4 pe-14 left-links">
    <ul class="locations list-unstyled">
      <li>
        <%= link_to t("manifold.webpages.hsl.locations.ginsburg_label"), 
                  t("manifold.webpages.hsl.locations.ginsburg_link"), 
                  id: "hsl_ginsburg_link_button" %>
      </li>
      <li>
        <%= link_to t("manifold.webpages.hsl.locations.krausz_label"), 
                  t("manifold.webpages.hsl.locations.krausz_link"), 
                  id: "hsl_podiatry_link_button" %>
      </li>
      <li>
        <%= link_to t("manifold.webpages.hsl.contact.study_room"), 
                  @study_room.link, 
                  {id: "hsl_study_room_button", target: "_blank"} %>
      </li>
      <li>
        <%= link_to t("manifold.webpages.hsl.contact.appointment_label"), 
                  t("manifold.webpages.hsl.contact.appointment_link"), 
                  id: "hsl_appointment_link_button"  %>
      </li>
      <li>
        <%= link_to t("manifold.webpages.hsl.contact.mailer_label"), 
                  t("manifold.webpages.hsl.contact.mailer_link"), 
                  {id: "hsl_email_link_button", target: "_blank"}  %>
      </li>
      <li>
        <%= link_to t("manifold.webpages.hsl.links.journal_finder_label"), 
                  t("manifold.webpages.hsl.links.journal_finder_link"), 
                  id: "hsl_journal_finder_button"  %>
      </li>
      <li>
        <%= link_to t("manifold.webpages.hsl.links.support_label"), 
                  t("manifold.webpages.hsl.links.support_link"), 
                  id: "hsl_support_button" %>
      </li>
    </ul>
  </div>

  <div class="col-12 col-lg-8">
    <div class="row links-container">
      <div class="col-12 col-lg-6">
        <div class="links">
          <h2>
            <%= link_to t("manifold.webpages.hsl.links.visit_label"),  
                        t("manifold.webpages.hsl.links.visit_link"), 
                        id: "hsl_visit_header" %>
          </h2>
          <ul class="list-unstyled">
            <% @visit_links.each do |link| %>
              <li>
                <%= link_to link.label, 
                            link, 
                            id: "hsl_visit_link_#{link.label.parameterize}" %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
      <div class="col-12 col-lg-6">
        <div class="links">
          <h2>
            <%= link_to t("manifold.webpages.hsl.links.resources_label"), 
                        t("manifold.webpages.hsl.links.resources_link"), 
                        id: "hsl_resources_header" %>
          </h2>
          <ul class="list-unstyled">
            <% @resource_links.each do |link| %>
              <li>
                <%= link_to link.label, 
                            link, 
                            id: "hsl_resources_link_#{link.label.parameterize}" %>
              </li>
            <% end %>
            <li class="text-lg-right all-events">
              <%= link_to t("manifold.webpages.hsl.links.view_all"), category_path(t("manifold.webpages.hsl.links.resources_all")), 
                          {id: "hsl_resources_view_all", style: "text-decoration:underline"} %> >
            </li>
          </ul>
        </div>
      </div>
      <div class="col-12 col-lg-6">
        <div class="links">
          <h2>
            <%= link_to t("manifold.webpages.hsl.links.research_label"), 
                        t("manifold.webpages.hsl.links.research_link"), 
                        id: "hsl_research_header" %>
          </h2>
          <ul class="list-unstyled">
            <% @research_links.each do |link| %>
              <li>
                <%= link_to link.label, 
                            link, 
                            id: "hsl_research_link_#{link.label.parameterize}" %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
      <div class="col-12 col-lg-6">
        <div class="links">
          <h2>
            <%= link_to t("manifold.webpages.hsl.links.events_label"), 
                        events_path(type: t("manifold.webpages.hsl.links.events_type"), anchor: "upcoming-events"), 
                        id: "hsl_events_header" %>
          </h2>
          <ul class="list-unstyled">
            <% @event_links.each do |link| %>
              <li>
                <%= link_to link.title, 
                            event_path(link.id), 
                            id: "hsl_events_link_#{link.title.parameterize}" %>
              </li>
            <% end %>
            <li class="text-lg-right all-events">
              <%= link_to t("manifold.webpages.hsl.view_all"), 
                          events_path(type: t("manifold.webpages.hsl.links.events_type"), anchor: "upcoming-events"), 
                          {id: "hsl_events_view_all", style: "text-decoration:underline"} %> >
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

</div>

</div>
