<% content_for :body_class, "minipage hsl" %>

<div class="banner-image hsl"></div>

<div class="container">

<div class="row">
	<div class="col">
		<h1 class="page-title text-center">
			<%= title t("manifold.webpages.hsl.page_title") %>
		</h1>
	</div>
</div>

<div class="row">

	<div class="col-12 col-lg-4 pr-14 left-links">

    <%= render "covid_alert_mini" unless @header_alert.nil? %>

		<div class="locations">
			<%= link_to t("manifold.webpages.hsl.locations.ginsburg"), @ginsburg %>
			<hr />
			<%= link_to t("manifold.webpages.hsl.locations.krausz"), @podiatry %>
		</div>

		<div class="contact">
			<div>
				<%= image_tag "study_room_white.png", style: "width: 100px;", class: "decorative", alt: "" %>
				<%= link_to t("manifold.webpages.hsl.contact.study_room"), @study_room.link, target: "_blank" %>
			</div>
      <hr />
			<div class="two-lines">
				<%= image_tag "chat.png", style: "width: 100px;", class: "decorative", alt: "" %>
				<%= link_to t("manifold.webpages.hsl.contact.chat"), @chat, target: "_blank" %>
			</div>
      <hr />
			<div class="two-lines">
				<%= image_tag "phone-handle-white.png", style: "width: 100px", class: "decorative", alt: "" %>
        <%= link_to t("manifold.webpages.hsl.contact.appointment"), @appointment %>
			</div>
			<hr />
        <%= image_tag "email-white.png", style: "width: 100px", class: "decorative", alt: "" %>
        <%= link_to t("manifold.webpages.hsl.contact.mailer"), @mailer, target: "_blank" %>
      <hr />
        <%= image_tag('journal_finder.png', class: "decorative", style: "width: 100px", alt: "") %>
        <%= link_to t("manifold.webpages.hsl.links.journal_finder"), @journal_finder %>
      <hr />
      <div style="height:79px;" class="two-lines">
        <%= image_tag "gift_white.png", style: "width: 100px;", class: "decorative", alt: "" %>
        <%= link_to t("manifold.webpages.hsl.links.support"), @support %>
      </div>
		</div>
	</div>

	<div class="col-12 col-lg-8">
		<div class="row links-container">
			<div class="col-12 col-lg-6">
				<div class="links">
					<h2><%= link_to t("manifold.webpages.hsl.links.visit"), @visit %></h2>
					<ul class="list-unstyled">
						<% @visit_links.each do |link| %>
							<li><%= link_to link.label, link %></li>
						<% end %>
					</ul>
				</div>
			</div>
			<div class="col-12 col-lg-6">
				<div class="links">
					<h2><%= link_to t("manifold.webpages.hsl.links.resources"), @resources %></h2>
					<ul class="list-unstyled">
						<% @resource_links.each do |link| %>
							<li><%= link_to link.label, link %></li>
						<% end %>
					</ul>
				</div>
			</div>
			<div class="col-12 col-lg-6">
				<div class="links">
					<h2><%= link_to t("manifold.webpages.hsl.links.research"), @research %></h2>
					<ul class="list-unstyled">
						<% @research_links.each do |link| %>
							<li><%= link_to link.label, link %></li>
						<% end %>
					</ul>
				</div>
			</div>
			<div class="col-12 col-lg-6">
				<div class="links">
					<h2><%= link_to t("manifold.webpages.hsl.links.events"), events_path %></h2>
					<ul class="list-unstyled">
						<% @event_links.each do |link| %>
							<li><%= link_to link.title, event_path(link.id) %></li>
						<% end %>
						<li class="text-right all-events"><%= link_to t("manifold.webpages.hsl.links.all_events"), events_path, style: "text-decoration:underline" %> ></li>
					</ul>
				</div>
			</div>
		</div>
	</div>

</div>

</div>
