<% content_for :body_class, "minipage scrc" %>

<div class="banner-image scrc"></div>

<div class="container-lg">

  <div class="row">
    <div class="col">
      <h1 class="page-title">
        <%= title "Special Collections Research Center" %>
      </h1>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-lg-3 pe-14 left-links">
      <ul class="list-unstyled locations">
        <li>
          <%= link_to t("manifold.webpages.scrc.locations.reading_room"), 
                    scrc_reading_room_path,
                    id:"scrc_reading_room_button" %>
        </li>
        <li>
          <%= link_to t("manifold.webpages.scrc.locations.finding_aids"), 
                    t("manifold.webpages.scrc.locations.finding_aids_link"),
                    id:"scrc_finding_aids_button" %>
        </li>
        <li>
        <%= link_to t("manifold.webpages.scrc.locations.materials"), 
                    t("manifold.webpages.scrc.locations.materials_link"),
                    id:"scrc_materials_button" %>
        </li>
        <li>
          <%= link_to t("manifold.webpages.scrc.contact.search_label"), 
                      t("manifold.webpages.scrc.contact.search_redirect"),
                      id: "scrc_search_button" %>
        </li>
        <li>
          <%= link_to t("manifold.webpages.scrc.contact.contact_label"), 
                      t("manifold.webpages.scrc.contact.form_id"),
                      id: "scrc_contact_button" %>
        </li>
        <li>
          <%= link_to t("manifold.webpages.scrc.contact.info_label"), 
                      t("manifold.webpages.scrc.contact.info_redirect"),
                      id: "scrc_info_button" %>
        </li>
      </ul>
    </div>

    <div class="col-12 col-lg-8 description">
      <%= @intro.description if @intro.description.present? %>
    </div>
  </div>
    
  <div class="row links-container">
    <div class="col-12 col-lg-5 offset-lg-1 ps-md-4 links">
      <h2>
        <%= link_to t("manifold.webpages.scrc.links.visit_label"), 
                    t("manifold.webpages.scrc.links.visit_link"),
                    id: "scrc_visit_header" %>
      </h2>
      <ul class="list-unstyled">
        <% @visit_links.each do |link| %>
          <li>
            <%= link_to link.label, 
                        link,
                        id: "scrc_visit_link_#{link.label.parameterize}" %>
          </li>
        <% end %>
      </ul>
    </div>
    <div class="col-12 col-lg-5 links">
      <h2>
        <%= link_to t("manifold.webpages.scrc.links.emphases_label"), 
                    t("manifold.webpages.scrc.links.emphases_link"),
                    id: "scrc_emphases_header" %>
      </h2>
      <ul class="list-unstyled">
        <% @collection_links.each do |link| %>
          <li>
            <%= link_to link.label, 
                        link,
                        id: "scrc_emphases_link_#{link.label.parameterize}" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>

</div>
