<% content_for :body_class, "minipage scrc" %>

<div class="banner-image scrc"></div>

<div class="container">

<div class="row">
	<div class="col">
		<h1 class="page-title text-center">
			<%= title "Special Collections Research Center" %>
		</h1>
	</div>
</div>

<div class="row">

	<div class="col-12 col-lg-4 pr-14 left-links">

    <%= render "covid_alert_mini" unless @header_alert.nil? %>

		<div class="locations">
			<%= link_to t("manifold.webpages.scrc.locations.reading_room"), 
									scrc_reading_room_path,
									id:"scrc_reading_room_button" %>
			<hr />
			<%= link_to t("manifold.webpages.scrc.locations.finding_aids"), 
									finding_aids_path,
									id:"scrc_finding_aids_button" %>
			<hr />
			<%= link_to t("manifold.webpages.scrc.locations.materials"), 
									t("manifold.webpages.scrc.locations.materials_link"),
									id:"scrc_materials_button" %>
		</div>

		<div class="contact">
			<div class="one-liner">
				<%= image_tag "phone-handle-white.png", class: "decorative", alt: "" %>
				<%= link_to t("manifold.webpages.scrc.contact.contact_label"), 
										form_path(t("manifold.webpages.scrc.contact.form_id")),
										id: "scrc_contact_button" %>
			</div>
			<hr />
			<div class="one-liner">
				<%= image_tag "search.png", class: "decorative", alt: "" %>
				<%= link_to t("manifold.webpages.scrc.contact.search_label"), 
										t("manifold.webpages.scrc.contact.search_redirect"),
										id: "scrc_search_button" %>
			</div>
			<hr />
			<div class="one-liner">
				<%= image_tag "information_white.png", class: "decorative", alt: "" %>
				<%= link_to t("manifold.webpages.scrc.contact.info_label"), 
										t("manifold.webpages.scrc.contact.info_redirect"),
										id: "scrc_info_button" %>
			</div>
		</div>
	</div>

	<div class="col-12 col-lg-8 description-container">
		<div class="row description">
			<div class="col-12">
				<div class="col-12">
				<%= @webpage.description %>
			</div>
			</div>
		</div>
		<div class="row links-container">
			<div class="col-12 col-lg-6">
				<div class="links">
					<h2>
						<%= link_to t("manifold.webpages.scrc.links.visit_label"), 
												t("manifold.webpages.scrc.links.visit_link"),
												id: "scrc_visit_header" %>
					</h2>
					<ul class="list-unstyled">
						<% @visit_links.each do |link| %>
							<li>
								<%= link_to link.label, 
														link,
														id: "scrc_visit_link_#{link.label.parameterize}" %>
							</li>
						<% end %>
					</ul>
				</div>
			</div>
			<div class="col-12 col-lg-6">
				<div class="links">
					<h2>
						<%= link_to t("manifold.webpages.scrc.links.emphases_label"), 
												t("manifold.webpages.scrc.links.emphases_link"),
												id: "scrc_emphases_header" %>
					</h2>
					<ul class="list-unstyled">
						<% @collection_links.each do |link| %>
							<li>
								<%= link_to link.label, 
														link,
														id: "scrc_emphases_link_#{link.label.parameterize}" %>
							</li>
						<% end %>
					</ul>
				</div>
			</div>
		</div>
	</div>

</div>

</div>
