<% content_for :body_class, "minipage scrc" %>

<div class="banner-image scrc-visit"></div>

<%= render "mobile-menu-secondary" %>

<div class="container-lg space-show">
  <div class="row">
    <% unless @categories.blank? %>
      <div class="col-3 d-none d-md-none d-lg-block">
        <%= render "categories_list" %>
      </div>

      <div class="col">
    <% else %>
      <div class="col-12 col-md-9 col-lg-9">
    <% end %>

    <div class="row">
      <div class="col">
        <h1 class="unstyled">
          <%= title "Plan Your Visit to the Albert M. Greenfield SCRC Reading Room" %>
        </h1>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <ul class="list-unstyled space-contact">
          <li><%= image_tag "small_location.png", class: "location decorative", alt: "" %><%= link_to @space.building.label, building_path(@space.building), class: "location" %></li>
          <li><%= image_tag "small_phone.png", class: "location decorative", alt: "" %><%= get_phone(@space) %></li>
          <% unless @space.email.nil? && @space.building.email.nil? %>
          <li>
            <%= image_tag "small_email.png", class: "location decorative", alt: "" %>
            <%= mail_to @space.email ? @space.email : @space.building.email %>
          </li>
          <% end %>
        </ul>
      </div>
      <div class="col-12 text-center">
        <p>The Albert M. Greenfield <%= link_to "SCRC", webpages_scrc_path %> Reading Room’s hours can be verified prior to your visit by viewing the <%= link_to "library hours page", hours_path %>, or the box at the bottom of this page. </p>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <div class="accordion" id="planYourVisitAccordion">
          
          <div class="accordion-item">
            <h2 class="accordion-header" id="requestHeading">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#requestCollapse" aria-expanded="false" aria-controls="requestCollapse">
                Request Materials
              </button>
            </h2>
            <div id="requestCollapse" class="accordion-collapse collapse" aria-labelledby="requestHeading" data-bs-parent="#planYourVisitAccordion">
              <div class="accordion-body">
                <p>You must be a registered user to request and use materials. The one-time registration process includes the <%= link_to "creation of an SCRC Researcher Account", t("manifold.webpages.scrc.links.researcher_account_link") %>. Registration is not required by patrons wishing to view exhibits or consult our reference collection.</p>
                
                <p>Request materials using our online tools: <%= link_to "Library Search", t("manifold.webpages.scrc.contact.search_redirect") %> and <%= link_to "Finding Aids", t("manifold.webpages.scrc.locations.finding_aids_link") %>.</p>
                
                <p>Please keep in mind that some of our materials are housed off-site and require at least two business days advanced notice.</p>
                
                <h5>How to request materials from our finding aids</h5>
                <ul>
                  <li>Enter your search terms to search SCRC's finding aids.</li>
                  <li>To request an item from your search results, click "Request This" in the finding aid. This will take you to the login portal where you can review your requests.</li>
                  <li>Use the checkbox to select the items you would like to view and select a date. <strong>Requests will not be processed until you press the Submit Information button below.</strong></li>
                  <li>Submit a new request for each box.</li>
                  <li>Check the status of your request in your <%= link_to "SCRC Researcher Account", t("manifold.webpages.scrc.links.researcher_account_link") %>. Materials are available when the status says, "Item on hold in reading room."</li>
                </ul>
              </div>
            </div>
          </div>

          <div class="accordion-item">
            <h2 class="accordion-header" id="handlingHeading">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#handlingCollapse" aria-expanded="false" aria-controls="handlingCollapse">
                Handling Materials in the Reading Room
              </button>
            </h2>
            <div id="handlingCollapse" class="accordion-collapse collapse" aria-labelledby="handlingHeading" data-bs-parent="#planYourVisitAccordion">
              <div class="accordion-body">
                <ul>
                  <li>Please silence phones and take all phone conversations outside of the reading room.</li>
                  <li>All personal belongings must be left in the lockers or on the coat rack.</li>
                  <li>The reading room is monitored by security cameras.</li>
                  <li>Hands should be clean and dry.</li>
                  <li>Do not bend, press down or otherwise manipulate or rearrange materials.</li>
                  <li>Do not take notes on top of archival materials.</li>
                  <li>Keep materials flat on the table or in the stand/cradle provided.</li>
                  <li>Do not remove items from their plastic sleeves.</li>
                  <li>Food and beverages are not allowed in the reading room.</li>
                  <li>Use only pencils.</li>
                  <li>Remove one folder at a time.</li>
                  <li>Maintain the existing sequence of records; if materials within the folder appear to be out of order, please alert a staff member rather than rearranging the folder contents.</li>
                  <li>Handle materials by their edges and avoid touching the surface as much as possible.</li>
                  <li>Turn off the flash and sound on camera.</li>
                  <li>Do not use lights, camera stands or scanners.</li>
                  <li>The SCRC reserves the right to deny permission to photograph collection materials at its sole discretion.</li>
                  <li>Please return all material to the reference staff.</li>
                  <li>Material may be placed on hold for up to two weeks.</li>
                </ul>
              </div>
            </div>
          </div>

          <div class="accordion-item">
            <h2 class="accordion-header" id="dataHeading">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#dataCollapse" aria-expanded="false" aria-controls="dataCollapse">
                Data Collection and Use
              </button>
            </h2>
            <div id="dataCollapse" class="accordion-collapse collapse" aria-labelledby="dataHeading" data-bs-parent="#planYourVisitAccordion">
              <div class="accordion-body">
                <p>The SCRC respects the rights and privacy of our researchers and their registration and use records in accordance with the following state laws, institutional policies, and professional standards:</p>
                
                <ul>
                  <li>Pennsylvania Law for the Confidentiality of Library Records</li>
                  <li>Temple University Classification and Handling of Protected Data</li>
                  <li>Society of American Archivists Code of Ethics</li>
                  <li>ALA Policy on Confidentiality of Library Records</li>
                </ul>
                
                <p>Temple University Libraries understands researcher records to include all records with identifying information about researchers. Information collected in conjunction with the use of SCRC materials may be retained indefinitely and will not be shared unless required by law.</p>
              </div>
            </div>
          </div>

          <div class="accordion-item">
            <h2 class="accordion-header" id="languageHeading">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#languageCollapse" aria-expanded="false" aria-controls="languageCollapse">
                SCRC Statement on Potentially Harmful Language in Archival Description and Cataloging
              </button>
            </h2>
            <div id="languageCollapse" class="accordion-collapse collapse" aria-labelledby="languageHeading" data-bs-parent="#planYourVisitAccordion">
              <div class="accordion-body">
                <p>If you encounter language in <%= link_to "SCRC", webpages_scrc_path %> finding aids, catalog records, digitized collections, blog posts, exhibitions, or elsewhere that you find offensive or harmful, or if you have questions about the statement below or about our work, we welcome your feedback. Please email us at <a href="mailto:scrc@temple.edu">scrc@temple.edu</a> or call the SCRC reference desk at <a href="tel:215-204-8257">215-204-8257</a>.</p>
                
                <p>When processing (arranging, organizing, and describing) archival collections, and cataloging rare books, SCRC staff must make choices about what language to use when describing not just the books, papers, and records, but the people and organizations who created or who are represented in them. We recognize that many of our materials are created by and/or represent marginalized groups of people, and we believe it is our responsibility not only to describe those people and organizations accurately and respectfully, but to do so in a way that will not be harmful or offensive.</p>
                
                <p>However, many of our finding aids (descriptions and inventories of collections) and library catalog records, which were created years or decades ago, may well include harmful language. SCRC is dedicated to revising and updating our descriptive language, but with hundreds of finding aids and thousands of library catalog records, this is ongoing and will take time.</p>
                
                <p>For all these reasons, potentially harmful language may appear. SCRC staff are dedicated to balancing efficient and timely processing and cataloging, as well as preservation of original context, with an awareness of the importance of language and its effect on users of our materials and those represented within them. We recognize that we may not always make the right decision and welcome feedback from all sources so that we can learn and adjust our practices.</p>
                
                <p>When processing new archival collections, SCRC archivists follow guidelines to reduce the appearance of language that may be hurtful or harmful to some. These guidelines include the following actions:</p>
                
                <ul>
                  <li>Actively weighing whether the efficiency or preservation of context from re-using or not remediating problematic and potentially offensive description is worth the affect it may have on users encountering that description.</li>
                  <li>Clearly indicating (through use of quotation marks, notes, or other explanation) what language comes from an external source or is legacy/older description, and which was written by SCRC staff.</li>
                  <li>Researching how the community describes itself and its own histories, finding other institutions that have grappled with similar collections, and/or discussing the issue directly with the people or organizations who created or are described by the materials.</li>
                </ul>

                <p class="mt-4 mb-1">SCRC 2018.04</p>
                <p>Last Updated: 10/10/2018</p>
              </div>
            </div>
          </div>

          <div class="accordion-item">
            <h2 class="accordion-header" id="collectionPolicyHeading">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collectionPolicyCollapse" aria-expanded="false" aria-controls="collectionPolicyCollapse">
                Collection Development Management Policy
              </button>
            </h2>
            <div id="collectionPolicyCollapse" class="accordion-collapse collapse" aria-labelledby="collectionPolicyHeading" data-bs-parent="#planYourVisitAccordion">
              <div class="accordion-body">
                <p><strong>Below is a consolidated version of the policy – you can
                  <%= link_to file_upload_path("scrc-collection-policy-2025", inline: true),
                              target: "_blank",
                              rel: "noopener",
                              "aria-label": "download the policy in its entirety (PDF); opens in new tab",
                              class: "d-inline-flex align-items-center gap-1" do %>
                    download the policy in its entirety.
                    <%= image_tag "pdf-black.svg", class: "pdf-icon pt-0", alt: "PDF file" %>
                    <%= image_tag "new-tab.png", class: "pdf-icon pt-0", alt: "opens in new tab" %>
                  <% end %>
                </strong></p>
                <p><strong>COLLECTION DEVELOPMENT MANAGEMENT POLICY</strong><br />Temple Libraries – Special Collections Research Center</p>

                <h5 class="mt-3">1. Institution Description</h5>
                <p><strong>a. Mission Statement</strong></p>
                <p>The Special Collections Research Center (SCRC) is the principal repository for and steward of the libraries’ rare books, manuscripts, archives and University records. We collect, preserve, and make accessible primary resources and rare or unique materials, to stimulate, enrich, and support research, teaching, learning, and administration at Temple University. SCRC makes these resources available to the Temple community and general public. As Philadelphia’s public university, Special Collections Research Center develops archival collections and programming that is representative of the communities residing within the Greater Philadelphia area in hopes of spurring crucial conversations and scholarship, while contributing to the historical record.</p>

                <p><strong>b. Temple Libraries &amp; University Press Key Functions</strong></p>
                <p>Temple University Libraries &amp; the University Press nourish and sustain the academic enterprise through: Facilities, staff, collections, and services that support study, instruction, inquiry, and scholarship; Instructional and service engagement with the learning environment to aid students in the exploration and discovery of new ideas and the development of informed critical thinking;</p>
                <p>Provision of materials, tools, and expertise to amplify the productivity and extend the reach of students, scholars, researchers and clinicians; Dissemination of ideas and culture through publishing, events, outreach, and collaborative programming with academic and community partners.</p>

                <p><strong>c. Description and Scope of the Collection</strong></p>
                <p><em>Note: The following is not a comprehensive list of the Special Collections Research Center’s holdings. It provides a general description and scope of our primary collecting areas.</em></p>
                <ol type="i">
                  <li>The Urban Archives, established in 1967, documents the social, economic, political and physical development of the greater Philadelphia region dating from the 19th century to present. Resources document the development of the urban region through a wide variety of organization records including local businesses, such as the Pennsylvania Railroad Company, and nonprofits and community organizations including the Friends Neighborhood Guild, the Philadelphia Folklore Project and the Housing Association of Delaware Valley. The Philadelphia Evening Bulletin and Philadelphia Inquirer newspaper clippings and photographs are foundational resources and provide a comprehensive review of the Philadelphia region. The Urban Archives also holds local TV newsreel footage from KYW and WPVI and additional photographic collections from organizations including the City Parks Association, the Philadelphia Fellowship Commission and the Gray Panthers. The history of the MOVE organization is extensively documented through photographs, news clippings and the Philadelphia Special Investigation Commission records. An extensive pamphlet collection, city directories, Philadelphia atlases, and Sanborn fire insurance maps further round out the collection. The Urban Archives continues to collect material documenting the ever-changing urban landscape and population of the Greater Philadelphia region.</li>
                  <li>The Contemporary Culture Collection (CCC) is a source of primary research materials documenting North American social, political, economic and cultural history as it pertains to minoritized groups of people, counterculture movements, and other non-mainstream groups dating from the 1960s to the present. The CCC includes archival collections, small press journals, newsletters, newspapers, books, and pamphlets as well as microfilm, sound recordings, posters, broadsides, a large zine collection, alternative comics, and related ephemera. The collection contains 5,500 titles of alternative, underground, activist, and radical newspapers, magazines, journal, newsletters, pamphlets, and zines that reflect contemporary issues, movements, and trends. Also included are little magazines, chapbooks, and poetry and literary journals produced by primarily American and Canadian small press publishers. One of the strengths of this collection lies in the organizational records of underground or alternative press publications, such as the Liberation News Service, the Socialist Review records and a small press clearinghouse that provide alternate sources of information and perspectives on contemporary issues. Also notable are personal and organizational records related to LGBTQ+ activism, including the Scott Wilds Papers and the Philadelphia Lesbian and Gay Task Force Records, as well as a large collection of publications by and about LGBTQ+ people, particular from the 1960s-1980s.</li>
                  <li>The Rare Book Collection documents the history of printing and publishing, printmaking and illustration, typography and book design, and literature and language and supports teaching in the history of the book and book arts. In addition to rare and first edition printed books dating from the 15th century to the present, the collection also includes early manuscripts and examples of ancient writing technologies. Strengths of the collection include private press and fine printing, herbals and botanical illustration, 17th and early 18th century Anglo-American social and religious tracts, history of business and trade, and the history and development of lithography. The SCRC has also actively expanded its teaching collections to include non-Western books and manuscripts that illuminate the global history of book cultures and better reflect the diversity of Temple’s student body and Temple University Libraries’ users. In recent years, the SCRC has focused on collecting contemporary artists’ books and zines that build on earlier acquisitions from the Contemporary Culture Collection and features a variety of book structures, materials, and printmaking techniques.</li>
                  <li>Temple University Archives was established in 1946 as a memorial to Temple University founder Dr. Russell H. Conwell, consisting of his personal collection of published books and sermons, manuscripts, correspondence and memorabilia. Since 1965, the collection scope has broadened to include minutes of the Board of Trustees; official records, personal papers and publications of Temple University Presidents, administrators, faculty, and alumni; records of University committees; annual reports; course catalogs; yearbooks; student publications and campus newspapers; and Temple University Press publications. Extensive photographic holdings of University personnel, buildings and campus events provide visual documentation of Temple’s history. The archive is the institutional memory of Temple University and continues to collect university publications, departmental materials, faculty papers and materials that document student life on campus.</li>
                  <li>Founded in 1972, the Philadelphia Jewish Archives Center (PJAC) began as a joint project between the Philadelphia Chapter of the American Jewish Committee and the Jewish Federation of Greater Philadelphia. In 2009, its collections became part of the Special Collections Research Center. The Philadelphia Jewish Archives Collection documents the activities of the Greater Philadelphia Jewish community through the personal papers of civic and spiritual leaders, and the records of cultural, educational, religious, and social service organizations established and operated by and for the Jewish community from the post-colonial period to the present. The Philadelphia Jewish Archives Collection includes but is not limited to the HIAS Pennsylvania, Jewish Community Relations Council, Jewish Publication Society, Congregation Rodeph Shalom and other synagogues, as well as Jewish newspapers and periodicals. The Philadelphia Jewish Archives Collection is the most extensive and varied documentation of any Jewish community outside New York City.</li>
                </ol>

                <p><strong>d. The Special Collections Research Center will continue to strengthen its holdings in these areas. Please contact us for our current strategic collecting areas.</strong></p>

                <p><strong>e. Governance</strong></p>
                <p>As a unit of Temple University Libraries, the Special Collections Research Center policies adhere to those guidelines and procedures that govern the University Libraries and the University. The Director of Special Collections Research Center reports to the Dean of the University Libraries. The department subscribes to the University’s practice of respect for academic freedom of expression and does not engage in censorship of exhibitions, speeches, or publications by its staff members or invited guest curators, artists, speakers, and authors.</p>

                <h5 class="mt-4">2. Acquisitions and Accessioning of Objects</h5>
                <p>Acquisitions support the mission of the Special Collections Research Center through the development of high-quality collections within the resources available. Detailed accessioning procedures are outlined in Technical Services’ documentation.</p>
                <p>The Special Collections Research Center adds to its collection materials that are deemed to have institutional or historical significance; are appropriate to the Special Collections Research Center holdings and ability to properly care for the works; are deemed to be of value for instructional or research purposes; or serve a worthy public interest.</p>
                <p>The Special Collections Research Center attempts to prioritize for acquisition materials that pertain to the institutional history of Temple University and the Greater Philadelphia area’s cultural heritage and/or history.</p>
                <p>The Special Collections Research Center continues to make efforts to address the teaching needs of the faculty through targeted acquisitions in other areas that expand the scope of the collection and make a significant impact on the curriculum while providing a historically and culturally diverse context for the areas of strength in the permanent collection.</p>

                <p><strong>a. Criteria for Acquisition</strong></p>
                <ol type="i">
                  <li>Prospective acquisitions of any category are evaluated according to the following criteria:</li>
                  <li>Intrinsic quality based on the aesthetic worth and physical condition of the material;</li>
                  <li>Historical significance of the material to communicate information and cultural insights;</li>
                  <li>Relevance and usefulness to contribute to the educational needs of the students, faculty, and broader scholarly community;</li>
                  <li>Conformity with the Special Collections Research Center's mission and ability to complement existing collections or fill present gaps within the collection;</li>
                  <li>The Special Collections Research Center's ability to store and properly care for the work;</li>
                  <li>The Special Collections Research Center endeavors to establish provenance information for gifts and purchases and conducts research to ensure material under consideration has not been illegally imported into the United States and that there are no legal or ethical considerations, which would make its accession undesirable;</li>
                  <li>Prior to acquisition, the cost of conservation, repair, display and maintenance will be considered in determining whether the work is acceptable for acquisition. Outside conservators may be consulted for this purpose;</li>
                  <li>All material to be accessioned into the collection must be in the Special Collections Research Center's, Temple Libraries’, or Temple University’s possession. A legal instrument of conveyance describing the work and the conditions of transfer of ownership must accompany the gift, bequest, purchase, or exchange (certificate of gift or commercial invoice). The department prefers unrestricted gifts without restrictions to use or future disposition. When it accepts restrictions, they must be clearly described in the instrument of conveyance and the donor is advised to seek advice on the IRS implications of restricted versus unrestricted gifts.</li>
                </ol>

                <p><strong>b. Method of Accession</strong></p>
                <p>It is the Director’s and Assistant Director’s responsibility to add materials to the collection and their decision for acceptance is firmly guided by the Special Collections Research Center's mission, strategic plan and its declared collection goals.</p>
                <p>All materials considered for inclusion in the permanent collection are reviewed by the Director and/or Assistant Director for evaluation both as individual assets, collections and their relation to the Special Collections Research Center's existing holdings and acquisition plans. If the item is delivered to the Special Collections Research Center, staff shall treat it as a custody item pending final action.</p>
                <p>Materials valued at over $25,000 must be reviewed and approved by Temple’s Gift Acceptance Committee.</p>
                <p>When appropriate, the Director and/or Assistant Director will consult with experts, scholars, legal counsel and other persons as they may see fit.</p>

                <p><strong>i. Donations</strong></p>
                <p>Normally the Special Collections Research Center prefers gifts that are outright. The Special Collections Research Center also accepts promised gifts and fractional gifts but consults with Institutional Advancement and the office of the General Counsel prior to doing so. Promised gifts and fractional gifts require that appropriate forms be signed by the donor and legal representative of Temple University’s Budget Office or Institutional Advancement. These materials, when in possession of the Special Collections Research Center, are accorded the same treatment as works already fully accepted into the collection.</p>

                <p><strong>ii. Bequests</strong></p>
                <p>Upon notification to the Special Collections Research Center that it is a beneficiary under a will, Institutional Advancement shall obtain a copy of the will, or a copy of the section that outlines the bequest, and pictures of the object(s) when possible.</p>
                <p>Acceptance of a bequest requires the advice of the Director.</p>
                <p>Should a bequest not possess sufficient merit for inclusion in the collection, the Special Collections Research Center may request that the bequest be made with full understanding that the object(s) can be sold and the proceeds used to the benefit of the Special Collections Research Center as determined by the Director. In the case of a group of objects, the Special Collections Research Center may accept some and refuse, sell or trade others.</p>
                <p>Proposals for potential bequest are to be referred to the Director for review.</p>

                <p><strong>c. Credit to Donors</strong></p>
                <p>When material is accessioned into the Permanent Collection of the Special Collections Research Center whether by donation, purchase with donated and University Libraries allocation funds, or trade, the donor shall be given credit to the extent feasible. The Special Collections Research Center shall endeavor to determine the donor’s wishes as to the exact terminology and use of such credit and shall honor the restrictions set forth in the donor’s agreement when possible.</p>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

    <% if @space.hours.present? %>
      <div class="d-none d-md-block col-12 hours-widget">
        <%= render "/application/model_hours" %>
      </div>
    <% elsif @space.image.attached? %>
      <div class="space-image mt-4">
        <%= image_tag @space.custom_image(1000,600), class: "decorative", alt: "" %>
      </div>
    <% end %>
  </div>
</div>
