<% content_for :body_class, "minipage scrc" %>

<div class="banner-image scrc"></div>

<div class="container">

<div class="row">
	<div class="col">
		<h1 class="page-title text-center">
			<%= title "Special Collections Research Center" %>
		</h1>
	</div>
</div>

<div class="row">

	<div class="col-12 col-lg-4 pr-14 left-links">

    <%= render "covid_alert_mini" unless @header_alert.nil? %>

		<div class="locations">
			<%= link_to t("manifold.webpages.scrc.locations.reading_room"), '/scrc-reading-room' %>
			<hr />
			<%= link_to t("manifold.webpages.scrc.locations.finding_aids"), finding_aids_path %>
			<hr />
			<%= link_to t("manifold.webpages.scrc.locations.materials"), "/digital-library" %>
		</div>

		<div class="contact">
			<div class="one-liner">
				<%= image_tag "phone-handle-white.png", class: "decorative", alt: "" %>
				<%= link_to t("manifold.webpages.scrc.contact.contact"), "forms/ask-scrc" %>
			</div>
			<hr />
			<div class="one-liner">
				<%= image_tag "search.png", class: "decorative", alt: "" %>
				<%= link_to t("manifold.webpages.scrc.contact.search"), "/scrc/search" %>
			</div>
			<hr />
			<div class="one-liner">
				<%= image_tag "information_white.png", class: "decorative", alt: "" %>
				<%= link_to t("manifold.webpages.scrc.contact.hours"), "/scrc/info" %>
			</div>
		</div>
	</div>

	<div class="col-12 col-lg-8 description-container">
		<div class="row description">
			<div class="col-12">
				<div class="col-12">
				<%= @webpage.description %>
			</div>
			</div>
		</div>
		<div class="row links-container">
			<div class="col-12 col-lg-6">
				<div class="links">
					<h2><%= link_to t("manifold.webpages.scrc.links.visit"), "/scrc/study" %></h2>
					<ul class="list-unstyled">
						<% @visit_links.each do |link| %>
							<li><%= link_to link.label, link %></li>
						<% end %>
					</ul>
				</div>
			</div>
			<div class="col-12 col-lg-6">
				<div class="links">
					<h2><%= link_to t("manifold.webpages.scrc.links.emphases"), "/scrc-collections" %></h2>
					<ul class="list-unstyled">
						<% @collection_links.each do |link| %>
							<li><%= link_to link.label, link %></li>
						<% end %>
					</ul>
				</div>
			</div>
		</div>
	</div>

</div>

</div>
