<%= render "mobile-menu-secondary" %>

<div class="container-lg">
	<div class="row page pt-3">

		<% if @webpage.categories.present? %>

			<div class="d-none d-md-block col-3 pt-3">
				<%= render "categories_list" %>
			</div>
      <% if @webpage.external_link.present? %>
        <div class="col-12 col-md-6">
      <% else %>
        <div class="col-12 col-md-9">
      <% end %>

    <% else %> <!-- no category list -->
    
      <% if @webpage.external_link.present? %>
        <div class="col-12 col-md-9">
      <% else %>
        <div class="col-12">
      <% end %>
			
		<% end %>

    <%= render "secondary_covid_alert" if @header_alert.present? %>

		<h1><%= title @webpage.title %></h1>
    <div class="text-start page-description">
      <div><%= @webpage.description %></div>
      <%= render @webpage.layout.parameterize %>
    </div>
  </div>

  <% unless ["Virtual Tour", "Tutorial"].include?(@webpage.layout)  %>
    <div class="col-12 col-md-3">

      <% if @webpage.external_link.present? %>
        <div class="access-link">
          <h2><%= link_to @webpage.external_link.title, @webpage.external_link.link %></h2>
        </div>
      <% end %>

	  </div>
  <% end %>

  </div>


  <%= render "attachments" %>


</div>

<script type="application/ld+json">
  <%= json_ld(@webpage) %>
</script> 
