<% content_for :body_class, "minipage dsc" %>

<div class="banner-image dsc"></div>

<div class="container">

<div class="row">
	<div class="col">
		<h1 class="page-title text-center">
			<%= title "Loretta C. Duckworth Scholars Studio" %>
		</h1>
	</div>
</div>

<div class="row">

	<div class="col-12 col-lg-4 pr-14 left-links">
		<div class="locations">
			<%= link_to "Makerspace", "/lcdss/makerspace" %>
			<hr />
			<%= link_to "VR/Visualization Studio", "/lcdss/vr-studio" %>
			<hr />
			<%= link_to "Innovation Lab", "/lcdss/innovation-lab" %>
		</div>

		<div class="contact">
			<%= image_tag "phone-handle-white.png", style: "width: 100px", class: "decorative", alt: "" %>
			215-204-0752
			<hr />
			<%= image_tag "email-white.png", style: "width: 100px", class: "decorative", alt: "" %>
			<span class="mailer"><%= link_to "Newsletter Signup", "/lcdss/newsletter", target: "_blank" %></span>
			<hr />
			<%= image_tag "chat.png", style: "width: 100px", class: "decorative", alt: "" %>
			<span class="mailer"><%= link_to "LCDSS Staff Directory", people_path(department: "duckworth-scholars-studio-staff") %></span>
		</div>

	</div>

	<div class="col-12 col-lg-8 description-container">
		<% unless @webpage.description.nil? %>
		<div class="row">
			<div class="col-12 description">
				<%= sanitize(@webpage.description.html_safe) %>
			</div>
		</div>
		<% end %>
		<div class="row links-container">
			<div class="col-12 col-lg-6">
				<div class="links">
					<h2><%= link_to "Visit & Study", "/lcdss/info" %></h2>
					<ul class="list-unstyled">
						<% @visit_links.each do |link| %>
							<li><%= link_to link.label, link %></li>
						<% end unless @visit_links.nil? %>
					</ul>
				</div>
			</div>
			<div class="col-12 col-lg-6">
				<div class="links">
					<h2><%= link_to "Research Services", "/lcdss/research" %></h2>
					<ul class="list-unstyled">
						<% @research_links.each do |link| %>
							<li><%= link_to link.label, link %></li>
						<% end unless @research_links.nil? %>
					</ul>
				</div>
			</div>
			<div class="col-12 col-lg-6">
				<div class="links">
					<h2><%= link_to "Workshops & Events", controller: :events, action: :index %></h2>
					<ul class="list-unstyled">
						<% @event_links.each do |link|  %>
							<li><%= link_to link.label, link %></li>
						<% end unless @event_links.nil? %>
						<li class="text-right dsc-event"><%= link_to "View all", events_path, style: "text-decoration:underline" %> ></li>
					</ul>
				</div>
			</div>
			<div class="col-12 col-lg-6">
				<div class="links">
					<h2><%= link_to "Research Blog", @blog.base_url %></h2>
					<ul class="list-unstyled">
						<% @blog_posts.each do |link| %>
							<li><%= link_to link.title, link.post_guid %></li>
						<% end unless @blog_posts.nil? %>
						<li class="text-right all-events"><%= link_to "View all", strip_tags(@blog.base_url), style: "text-decoration:underline" %> ></li>
					</ul>
				</div>
			</div>
		</div>
	</div>

</div>

</div>
