<% set_meta_tags title: :title, reverse: true,
                 description: 'The Loretta C. Duckworth Scholars Studio supports digital methods for teaching and research, including at its Makerspace, VR Lab, and Specialized Computing Lab.',
                 keywords: 'Makerspace, VR Lab, Specialized Computing Lab, Tech Sandbox, Charles Library, Temple University, 3D, games, geospatial, digital arts, cultural analytics, critical making, text mining' %>

<% content_for :body_class, "minipage dsc" %>

<div class="banner-image dsc"></div>

<div class="container">

<div class="row">
	<div class="col">
		<h1 class="page-title text-center">
			<%= title t("manifold.webpages.tudsc.page_title") %>
		</h1>
	</div>
</div>

<div class="row">

	<div class="col-12 col-lg-4 pr-14 left-links">

    <%= render "covid_alert_mini" unless @header_alert.nil? %>

		<div class="locations">
			<%= link_to t("manifold.webpages.tudsc.locations.makerspace"), "/lcdss/makerspace" %>
			<hr />
			<%= link_to t("manifold.webpages.tudsc.locations.vr_studio"), "/lcdss/vr-studio" %>
			<hr />
			<%= link_to t("manifold.webpages.tudsc.locations.innovation"), "/lcdss/innovation-lab" %>
		</div>

		<div class="contact">
			<div class="one-liner">
				<%= image_tag "phone-handle-white.png", class: "decorative", alt: "" %>
				215-204-0752
			</div>
			<hr />
			<div class="one-liner">
				<%= image_tag "email-white.png", class: "decorative", alt: "" %>
				<span class="mailer"><%= link_to t("manifold.webpages.tudsc.contact.newsletter"), "/lcdss/newsletter", target: "_blank" %></span>
			</div>
			<hr />
			<div class="one-liner">
				<%= image_tag "chat.png", class: "decorative", alt: "" %>
				<span class="mailer"><%= link_to t("manifold.webpages.tudsc.contact.staff"), people_path(department: "duckworth-scholars-studio-staff") %></span>
			</div>
		</div>

	</div>

	<div class="col-12 col-lg-8 description-container">
		<% unless @webpage.description.nil? %>
		<div class="row">
			<div class="col-12 description">
				<%= @webpage.description %>
			</div>
		</div>
		<% end %>
		<div class="row links-container">
			<div class="col-12 col-lg-6">
				<div class="links">
					<h2><%= link_to t("manifold.webpages.tudsc.links.visit"), "/lcdss/info" %></h2>
					<ul class="list-unstyled">
						<% @visit_links.each do |link| %>
							<li><%= link_to link.label, link %></li>
						<% end unless @visit_links.nil? %>
					</ul>
				</div>
			</div>
			<div class="col-12 col-lg-6">
				<div class="links">
					<h2><%= link_to t("manifold.webpages.tudsc.links.research"), "/lcdss/research" %></h2>
					<ul class="list-unstyled">
						<% @research_links.each do |link| %>
							<li><%= link_to link.label, link %></li>
						<% end unless @research_links.nil? %>
					</ul>
				</div>
			</div>
			<div class="col-12 col-lg-6">
				<div class="links">
					<h2><%= link_to t("manifold.webpages.tudsc.links.events"), controller: :events, action: :index %></h2>
					<ul class="list-unstyled">
						<% @event_links.each do |link|  %>
							<li><%= link_to link.label, event_path(link.id) %></li>
						<% end unless @event_links.nil? %>
						<li class="text-right dsc-event"><%= link_to t("manifold.webpages.tudsc.links.view_all"), events_path, style: "text-decoration:underline" %> ></li>
					</ul>
				</div>
			</div>
			<div class="col-12 col-lg-6">
				<div class="links">
					<h2><%= link_to t("manifold.webpages.tudsc.locations.blog"), @blog.base_url %></h2>
					<ul class="list-unstyled">
						<% @blog_posts.each do |link| %>
							<li><%= link_to link.title, link.post_guid %></li>
						<% end unless @blog_posts.nil? %>
						<li class="text-right all-events"><%= link_to t("manifold.webpages.tudsc.links.view_all"), strip_tags(@blog.base_url), style: "text-decoration:underline" %> ></li>
					</ul>
				</div>
			</div>
		</div>
	</div>

</div>

</div>
