<% set_meta_tags title: :title, reverse: true,
                 description: 'The Loretta C. Duckworth Scholars Studio supports digital methods for teaching and research, including at its Makerspace, VR Lab, and Specialized Computing Lab.',
                 keywords: 'Makerspace, VR Lab, Specialized Computing Lab, Tech Sandbox, Charles Library, Temple University, 3D, games, geospatial, digital arts, cultural analytics, critical making, text mining' %>

<% content_for :body_class, "minipage dsc" %>

<div class="banner-image dsc"></div>

<div class="container-lg">

<div class="row">
  <div class="col">
    <h1 class="page-title">
      <%= title t("manifold.webpages.tudsc.page_title") %>
    </h1>
  </div>
</div>

<div class="row">
  <div class="col-12 col-lg-4 pr-14 left-links">
    <ul class="locations list-unstyled">
      <li>
        <%= link_to t("manifold.webpages.tudsc.locations.makerspace_label"), 
                  t("manifold.webpages.tudsc.locations.makerspace_link"),
                  id: "lcdss_makerspace_button" %>
      </li>
      <li>
        <%= link_to t("manifold.webpages.tudsc.locations.vr_studio_label"), 
                  t("manifold.webpages.tudsc.locations.vr_studio_link"),
                  id: "lcdss_vr_studio_button" %>
      </li>
      <li>
        <%= link_to t("manifold.webpages.tudsc.locations.innovation_label"), 
                  t("manifold.webpages.tudsc.locations.innovation_link"),
                  id: "lcdss_innovation_lab_button" %>
      </li>
      <li>
        <span>215-204-0752</span>
      </li>
      <li>
        <%= link_to t("manifold.webpages.tudsc.contact.newsletter_label"), 
                    t("manifold.webpages.tudsc.contact.newsletter_link"),
                    {id: "lcdss_newsletter_button", target: "_blank"} %>
      </li>
      <li>
        <%= link_to t("manifold.webpages.tudsc.contact.staff"), 
                    people_path(department: t("manifold.webpages.tudsc.contact.staff_department")),
                    id: "lcdss_staff_link_button" %>
      </li>
    </ul>
  </div>

  <div class="col-12 col-lg-8 description">
    <%= @webpage.description if @webpage.description.present? %>
  </div>
</div>

<div class="row links-container">
  <div class="col-12 col-lg-6 links">
      <h2>
        <%= link_to t("manifold.webpages.tudsc.links.visit_label"), 
                    t("manifold.webpages.tudsc.links.visit_link"),
                    id: "lcdss_visit_header" %>
      </h2>
      <ul class="list-unstyled mb-5">
        <% @visit_links.each do |link| %>
          <li>
            <%= link_to link.label, 
                        link, 
                        id: "lcdss_visit_link_#{link.label.parameterize}" %>
          </li>
        <% end if @visit_links.present? %>
      </ul>

      <h2>
        <%= link_to t("manifold.webpages.tudsc.links.research_label"), 
                    t("manifold.webpages.tudsc.links.research_link"),
                    id: "lcdss_research_header" %>
      </h2>
      <ul class="list-unstyled mb-5">
        <% @research_links.each do |link| %>
          <li>
            <%= link_to link.label, 
                        link,
                        id: "lcdss_research_link_#{link.label.parameterize}" %>
          </li>
        <% end if @research_links.present? %>
      </ul>
  </div>
  <div class="col-12 col-lg-6 links">
    <% if @event_links.present? %>
      <h2>
        <%= link_to t("manifold.webpages.tudsc.links.events"), 
                    events_path(type: t("manifold.webpages.tudsc.links.events_type")),
                    id: "lcdss_events_header" %>
      </h2>
      <ul class="list-unstyled mb-5">
        <% @event_links.each do |link|  %>
          <li>
            <%= link_to link.label, 
                        event_path(link.id),
                        id: "lcdss_events_link_#{link.label.parameterize}" %></li>
        <% end %>
        <li class="text-lg-right dsc-event">
          <%= link_to t("manifold.webpages.tudsc.links.view_all"), 
                      dss_events_path(anchor: "upcoming-events"), 
                      {id: "lcdss_events_view_all"} %> >
        </li>
      </ul>
    <% end %>
    <% if @blog_posts.present? %>
      <h2>
        <%= link_to t("manifold.webpages.tudsc.locations.blog"), 
                    @blog.base_url,
                    id: "lcdss_blog_header" %>
      </h2>
      <ul class="list-unstyled mb-5">
        <% @blog_posts.each do |link| %>
          <li>
            <%= link_to link.title, 
                        link.post_guid,
                        id: "lcdss_blog_link_#{link.title.parameterize}" %>
          </li>
        <% end %>
        <li class="text-lg-right all-events">
          <%= link_to t("manifold.webpages.tudsc.links.view_all"), 
                      strip_tags(@blog.base_url), 
                      {id: "lcdss_blog_view_all"} %> >
        </li>
      </ul>
    <% end %>
  </div>
</div>

</div>
