<div class="container mt-5" id="videos-index">

  <div class="row">
    <div class="col text-center my-2">
      <h1 class="page-title">
        <p class="pb-2"><%= title t("manifold.webpages.videos.page_title") %></p>
        <hr />
        <p class="pt-2"><%= title t("manifold.webpages.videos.default_playlist") %></p>
      </h1>
    </div>
  </div>

  <div class="container mb-3">
    <div class="row">
      <div class="col-12 text-center">
        <iframe src=<%= "https://temple.hosted.panopto.com/Panopto/Pages/Embed.aspx?pid=#{ @playlist_id }&autoplay=false&offerviewer=false&showtitle=true&showbrand=false&captions=false&interactivity=none" %> height="420px" width="70%" style="border: 1px solid #dee2e6;padding: 14px;" allowfullscreen allow="autoplay"></iframe>
      </div>
    </div>
  </div>

  <div class="container" id="video-list">
    <div class="row">
      <div class="col">
        <h1 class="page-title">
          <p class="pt-2"><%= title t("manifold.webpages.videos.all") %></p>
        </h1>
      </div>
    </div>

    <div class="row">
      <% @categories.drop(1).each do |category| %>
      <div class="col-6 text-left border p-4">
        <%= link_to "#{category.second} Videos", webpages_videos_collection_path(category.first), class: "playlist-link d-inline-block align-middle" %>
      </div>
      <% end %>
    </div>
	</div>
</div>
