<div class="container-lg mt-4" id="videos-index">
<% binding.pry %>
<div class="row">
	<div class="col">
		<h1 class="page-title"><%= title t("manifold.webpages.videos.page_title") %></h1>
		<div class="row video-container">
			<div class="col-lg-8 offset-lg-2">
  	    <iframe src=<%= "https://temple.hosted.panopto.com/Panopto/Pages/Embed.aspx?id=#{ @featured_video_id }&autoplay=false&offerviewer=false&showtitle=false&showbrand=false&captions=false&interactivity=none" %> height="640px" width="100%" allowfullscreen allow="autoplay"></iframe>
			</div>
		</div>
  </div>
</div>

<div class="row">
	<div class="col-lg-8 offset-lg-2">
		<div id="featuredTitle" class="m-auto"><%= @featured_video_title %></div>
	</div>
</div>

<div class="row">
	<div class="col text-center mb-3">
		<div id="videosearchbar">
      <form action="/watchpastprograms/search" method="GET">
        <label class="sr-only" for="videosearchterm"><%= title t("manifold.webpages.videos.all.search_label") %></label>
        <input type="text" id="videosearchterm" name="q" maxlength="128" value="">
        <input type="submit" id="videosearchbutton" value="Search">
      </form>
		</div>
	</div>
</div>

<div class="container w-80">
<% @categories.each_with_index do |category, i| %>
  <% i == 0 ? vids = 8 : vids = 4 %>
	<div class="row ps-4 <%= i.odd? ? "odd" : "even" %>">
		<div class="col-sm-8">
			<h2><%= t("manifold.webpages.videos.categories.#{category[0]}") %></h2>
		</div>
		<div class="col-sm-4">
			<span class="morevideos">
        <%= link_to (title t("manifold.webpages.videos.all.#{ category[0] }")), webpages_videos_collection_path(category[0]) %>
			</span>
		</div>
		<div class="col-12">
			<div class="row">
				<% @lists[i].take(vids).each do |video| %>
				<div class="col-12 col-sm-6 col-lg-3 mb-3 text-center video-block">
					<%= link_to webpages_video_show_path(id: video[:Id]) do %>
						<%= image_tag video[:Urls][:ThumbnailUrl]%>
						<p class="mt-2"><%= video[:Name].truncate(64) %></p>
					<% end %>
				</div>
				<% end if @lists.present? %>
			</div>
		</div>
	</div>
  <% end if @categories.present? %>
  </div>

	</div>
