<div class="container mt-3" id="videos-index">

  <div class="row backlink">
    <div class="col">
      <%= link_to t("manifold.webpages.videos.breadcrumb"), webpages_videos_all_path %>
			<hr >
      <h1><%= @category[1] %></h1>
    </div>
  </div>
      
  <div class="row">
    <% @videos.each do |video| %>
    <div class="col-12 col-sm-6 col-lg-3 text-center video-block">
      <%= link_to webpages_videos_show_path(id: video[:Id]) do %>
        <%= image_tag video[:Urls][:ThumbnailUrl] %>
        <br>
        <%= video[:Name].truncate(64) %>
      <% end %>
    </div>
    <% end %>
  </div>

</div>
