<div class="container" id="videos-index" style="margin-top: 14px">

	<div class="row backlink">
		<div class="col">
			<%= link_to t("manifold.webpages.videos.breadcrumb"), webpages_videos_all_path %> 
		</div>
	</div>

	<div class="row" style="margin-top: 21px;">
		<div class="col">
			<h1 class="page-title"><%= title t("manifold.webpages.videos.page_title") %></h1>
			<hr >
			<h2><%= @categoryTitle %></h2>
			<div class="row">
			<% @videos[:Data].each do |video| %>
			<div class="col-6 col-md-4 col-lg-3 text-center" style="margin-top: 14px">
				<%= link_to webpages_videos_show_path(id: video[:ID]) do %>
				<%= image_tag (video[:ThumbnailUrl].sub! "Width=100", "Width=240"), style: "max-height: 135px;", class: "decorative", alt: "" %>
				<br>
				<%= video[:Title].truncate(64) %>
		    <% end %>
			</div>
			<% end %>
		</div>
		</div>
	</div>

</div>
