<div class="container" id="videos-index" style="margin-top: 35px;">

<div class="row">
	<div class="col">
		<h1 class="page-title"><%= title t("manifold.webpages.videos.page_title") %></h1>
		<div class="row video-container">
			<div class="col-lg-10 offset-lg-1">
  	    <div id="ensembleEmbeddedContent_<%= @featured_video_id %>"><script type="text/javascript" src="https://ensemble.temple.edu/hapi/v1/contents/<%= @featured_video_id %>/plugin/javascript?embedId=ensembleEmbeddedContent_<%= @featured_video_id %>&embedAsThumbnail=false&displayTitle=false&startTime=0&autoPlay=false&hideControls=true&showCaptions=false&displaySharing=false&displayAnnotations=false&displayAttachments=false&displayLinks=false&displayEmbedCode=false&displayDownloadIcon=false&displayMetaData=false&displayCredits=false&audioPreviewImage=false&displayCaptionSearch=false&displayViewersReport=false&displayAxdxs=false"></script>
				</div>
			</div>
		</div>
</div>
</div>

<div class="row">
	<div class="col-lg-10 offset-lg-1 text-center">
		<div id="featuredTitle" class="text-center"><%= @featured_video_title %></div>
	</div>
</div>

<div class="row">
	<div class="col text-center">
		<div id="videosearchbar">
      <form action="/watchpastprograms/search" method="GET">
        <label class="sr-only" for="videosearchterm"><%= title t("manifold.webpages.videos.all.search_label") %></label>
        <input type="text" id="videosearchterm" name="q" maxlength="128" value="">
        <input type="submit" id="videosearchbutton" value="Search">
      </form>
		</div>
	</div>
</div>

	<div class="row odd">
		<div class="col-sm-8">
			<h2><%= t("manifold.webpages.videos.all.recent") %></h2>
		</div>
		<div class="col-sm-4">
			<span class="morevideos">
				<a href="/watchpastprograms/list/0"><%= title t("manifold.webpages.videos.all.see_all") %></a>
			</span>
		</div>
		<div class="col-12">
			<div class="row">
				<% @all.take(8).each do |video| %>
				<div class="col-12 col-sm-6 col-lg-3 text-center video-block">
					<%= link_to webpages_videos_show_path(id: video[:ID]) do %>
						<%= image_tag video[:ThumbnailUrl], style: "max-height: 135px;" %>
						<br>
						<%= video[:Title].truncate(64) %>
					<% end %>
				</div>
				<% end %>
			</div>
		</div>
	</div>

	</div>
