<div class="container mt-3" id="videos-index">

  <div class="row">
    <div class="col text-center my-2">
      <h1 class="page-title">
        <p class="pb-2"><%= link_to t("manifold.webpages.videos.page_title"), webpages_videos_all_path %></p>
        <hr />
        <p class="pt-2"><%= @playlist_title %></p>
      </h1>
    </div>
  </div>

	<div class="row mt-3">
		<div class="col">
			<h1 class="page-title"><%= title t("manifold.webpages.videos.page_title") %></h1>
			<hr >
      <h2>All <%= @category[1] %> Videos</h2>
    </div>
  </div>
      
  <div class="row">
    <% @videos.each do |video| %>
    <div class="col-12 col-sm-6 col-lg-3 text-center video-block">
      <%= link_to webpages_videos_show_path(id: video[:Id]) do %>
        <%= image_tag video[:Urls][:ThumbnailUrl] %>
        <br>
        <%= video[:Name].truncate(64) %>
      <% end %>
    </div>
    <% end %>
  </div>

</div>
