<div class="container" id="videos-index" style="margin-top: 14px;">

<div class="row backlink">
	<div class="col">
		<%= link_to t("manifold.webpages.videos.breadcrumb"), webpages_videos_all_path %> 
	</div>
</div>


<div class="row">
	<div class="col">
		<h1 class="page-title"><%= title t("manifold.webpages.videos.page_title") %></h1>
		<div class="row">
			<div class="col-lg-10 offset-lg-1">
  	    <div id="ensembleEmbeddedContent_<%= @featured_video_id %>"><script type="text/javascript" src="https://ensemble.temple.edu/hapi/v1/contents/<%= @featured_video_id %>/plugin/javascript?embedId=ensembleEmbeddedContent_<%= @featured_video_id %>&embedAsThumbnail=false&displayTitle=false&startTime=0&autoPlay=false&hideControls=true&showCaptions=false&displaySharing=false&displayAnnotations=false&displayAttachments=false&displayLinks=false&displayEmbedCode=false&displayDownloadIcon=false&displayMetaData=false&displayCredits=false&audioPreviewImage=false&displayCaptionSearch=false&displayViewersReport=false&displayAxdxs=false"></script>
				</div>
			</div>
		</div>
</div>
</div>

<div class="row">
	<div class="col-lg-10 offset-lg-1 text-center">
		<div id="featuredTitle" class="text-center"><%= @featured_video_title %></div>
	</div>
</div>

<% unless @featured_video_description.nil? %>
<div class="row">
	<div class="col">
		<hr >
		<%= sanitize @featured_video_description.html_safe %>
	</div>
</div>
<% end %>

</div>
