<div class="row">
  <div class="col-md-6">
    <%= f.input :name, label: "Name", required: true, wrapper_html: { class: "mb-3" } %>
  </div>
  <div class="col-md-6">
    <%= f.input :email, as: :email, label: "Email", required: true, wrapper_html: { class: "mb-3" } %>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <%= f.input :phone, label: "Phone", wrapper_html: { class: "mb-3" } %>
  </div>
  <div class="col-md-6">
    <%= f.input :affiliation, 
        label: "Temple Affiliation", 
        as: :select,
        collection: [
          ['Temple University Affiliates', 'temple'],
          ['Non-Temple Affiliates', 'non-temple']
        ],
        include_blank: "Select affiliation...",
        required: true,
        wrapper_html: { class: "mb-3" } %>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <%= f.input :address, 
        label: "Address", 
        as: :text,
        input_html: { rows: 3, placeholder: "Street Address\nCity, State ZIP" },
        wrapper_html: { class: "mb-3" },
        required: true %>
  </div>
</div>
