<% unless field.attribute == :external_links %>
<div class="field-unit__label">
	<% unless field.attribute == :categories || field.attribute == :accounts %>
    <% if field.attribute == :collections %><p class="h-two-half"></p><% end %>
    <%= f.label field.attribute, for: "#{f.object_name}_#{field.attribute_key}" %>
  <% else %>
    <% if field.attribute == :categories %>
      <%= f.label "Categories", for: "#{f.object_name}_#{field.attribute_key}" %>
    <% else %>
      <%= f.label "Owner", for: "#{f.object_name}_#{field.attribute_key}" %>
    <% end %>
  <% end %>
  <% if field.attribute == :categories %><p class="h-three"></p><% end %>
</div>
<div class="field-unit__field field-unit--has-many" data-controller="selectize">
  <% if field.resource.class.to_s == "FindingAid" && field.attribute == :collections %>
    <p class="red"><%= t("manifold.default.fields.has_many.finding_aid").html_safe %></p>
  <% end %>
  <%= f.select(field.attribute_key, nil, {include_blank: true}, {multiple: true}.merge(field.html_attributes)) do %>
    <%= options_for_select(field.associated_resource_options.sort, field.selected_options) %>
  <% end %>
  <% if field.attribute == :categories %>
    <p class="text-muted"><%= t("manifold.default.fields.has_many.categories") %></p>
  <% end %>
</div>
<% else %>

  <% if field.resource.slug == "annual-report" %>
  <div class="field-unit__label">
    <%= f.label "Online Reports", for: "#{f.object_name}_#{field.attribute_key}" %>
    <p style="height: 1rem;"></p>
  </div>
  <div class="field-unit__field field-unit--has-many" data-controller="selectize">
    <%= f.select(field.attribute_key, nil, {include_blank: true}, {multiple: true}.merge(field.html_attributes)) do %>
      <%= options_for_select(field.associated_resource_options.sort, field.selected_options) %>
    <% end %>
    <p class="text-muted">Select from the above list of External Links.</p>
  </div>
  <% end %>

<% end %>
