<div class="container-lg exhibit-show">

<div class = "row">
  <div class="col crumbs">
    <%= link_to "< All Events & Exhibits", events_path %>
  </div>
</div>

<div class="row">
  <div class="col-12 col-lg-9">

  <%= render "secondary_covid_alert" if @header_alert.present? %>

    <div class="exhibition-description m-3">
      <h1 class="page-title"><%= title @exhibition.title %></h1>

      <% unless @exhibition.end_date.nil? %>
        <div class="dates">
          <%= @exhibition.start_date.strftime("%A, %B %d, %Y") %> - <%= @exhibition.end_date.strftime("%A, %B %d, %Y") %>
        </div>
      <% else %>
        <div class="dates">
          <%= @exhibition.start_date.strftime("%A, %B %d, %Y") %>
        </div>
      <% end %>

      <div class=""><%= @exhibition.description %></div>

      <% if @exhibition.images.any? %>
      <div class="row">
        <% @exhibition.images.each do |image| %>
        <div class="col-4 mb-4">
          <%= link_to (image_tag image, class: "decorative w-100", alt: ""), image %>
        </div>
        <% end %>
      </div>
      <% end %>
    </div>
  </div>
  <div class="col-12 col-lg-3">
    <% unless @exhibition.collection.nil? %>
    <div class="access-link">
      <%= link_to @exhibition.collection.label, @exhibition.collection %>
    </div>
    <% end %>

    <div class="event-location">
      <h3><%= t("manifold.exhibitions.show.location") if @exhibition.space.present? || @exhibition.online_url.present? %></h3>
      <% if @exhibition.space.present? %>
        <strong><%= link_to @exhibition.space.building.label, @exhibition.space.building %></strong><br />
        <strong><%= link_to @exhibition.space.label, @exhibition.space %></strong><br />
        <%= @exhibition.space.building.address1 %><br />
        <%= @exhibition.space.building.address2 %>
      <% end %>
      <br />
      <%= "Online: #{@exhibition.online_url}" if @exhibition.online_url.present? %>
    </div>

  </div>
</div>

</div>
<script type="application/ld+json">
  <%= json_ld(@exhibition) %>
</script>
