<div class="container-lg exhibit-show">

<div class = "row">
  <div class="col crumbs">
    <%= link_to "< All Events & Exhibits", events_path %>
  </div>
</div>

<div class="row">
  <div class="d-none d-lg-block col-lg-3">
    <div class="exhibit-image">
      <% if @exhibition.image.attached? %>
        <%= image_tag @exhibition.custom_image(600,300), class: "decorative", alt: "" %>
      <% else %>
        <%= image_tag 'T.png', class: "decorative", alt: "" %>
      <% end %>
    </div>
  </div>
  <div class="col-12 col-lg-6">

  <%= render "secondary_covid_alert" if @header_alert.present? %>
  
    <div class="exhibition-description">
      <h1 class="page-title"><%= title @exhibition.title %></h1>

      <% unless @exhibition.end_date.nil? %>
        <div class="dates">
          <%= @exhibition.start_date.strftime("%A, %B %d, %Y") %> - <%= @exhibition.end_date.strftime("%A, %B %d, %Y") %>
        </div>
      <% else %>
        <div class="dates">
          <%= @exhibition.start_date.strftime("%A, %B %d, %Y") %>
        </div>
      <% end %>

      <div class=""><%= @exhibition.description %></div>
    </div>
  </div>
  <div class="col-12 col-lg-3">
    <% unless @exhibition.collection.nil? %>
    <div class="access-link">
      <%= link_to @exhibition.collection.label, @exhibition.collection %>
    </div>
    <% end %>

    <% unless @exhibition.space.nil? %>
    <div class="event-location">
      <h3><%= t("manifold.exhibitions.show.location") %></h3>
      <strong><%= link_to @exhibition.space.building.label, @exhibition.space.building %></strong><br />
      <strong><%= link_to @exhibition.space.label, @exhibition.space %></strong><br />
      <%= @exhibition.space.building.address1 %><br />
      <%= @exhibition.space.building.address2 %>
    </div>
    <% end %>

  </div>
</div>

</div>
<script type="application/ld+json">
  <%= json_ld(@exhibition) %>
</script>
