<div class="field-unit__label">
  <%= f.label field.attribute %>
  <% if field.resource.class.to_s == "FileUpload" %>
  	<p class="label-with-hint-text"></p>
  <% end %>
</div>
<div class="field-unit__field">
	<% unless field.data.nil? %>
  <% if field.data.attached? %>
	  <%= f.file_field field.attribute %>
    <%= link_to field.data.attachment.filename, url_for(field.data.attachment), disposition: "attachment" %>
    &nbsp;-&nbsp; 
    <%= link_to t("manifold.admin.actions.detach"), { action: :detach, type: field.attribute }, data: { confirm: t("manifold.default.fields.confirm") } %>
	<% else %>
	  <%= f.file_field field.attribute %> 
    <% if field.resource.class.to_s == "FileUpload" %>
      <p class="text-muted"><%= t("manifold.default.fields.file_field") %></p>
    <% end %>
	<% end %>
	<% end %>
</div>
