  <div class="row">
    <div class="col">
      <div class="vertical-stripes-sm">
        <h2><span>Plan your visit</span></h2>
      </div>
    </div>
  </div>

<div class="container">
  <div class="row ctaRow visit-info">
    <div class="col-12 col-lg-4 card ctaFirst">
      <div class="card-title complement">
        Contact
      </div>
      <div class="card-body">
        <span class="phone"><%= phone_formatted(@space.phone_number) %></span><br />
        <span class="email"><%= mail_to @space.email, @space.email %></span><br />
        <div class="address"><%= link_to @space.building.name, @space.building %></div>
      </div>
    </div>
    <div class="col-12 col-lg-4 card ctaMidOne">
      <div class="card-title complement">
        Hours
      </div>
      <div class="card-body">
      <div id="dateTime">
        <div id="date">
          <%= @space.todays_date %>
        <div id="time" style="line-height: 1.5rem;">
          <%= @space.building.name %> <br /> <%= @space.name %>
          <% unless @space.hours.blank? %>
            <br /><%= @todays_hours.first.hours %>
          <% end %>
        </div>
        </div>
        <div id="allHours">
          <%= link_to "See all library hours", hours_path() %> >
        </div>
      </div>
      </div>
    </div>
    <div class="col-12 col-lg-4 card ctaLast">
      <div class="card-title complement">
        Map
      </div>
      <div class="card-body">
        <%= render_map(@space.building.name,@space.building.coordinates,@space.building.google_id) %>
      </div>
    </div>
  </div>
</div>
