<div class="row" id="seagreen">
  <div class="col-11 offset-1">
    <h1>
      <%= @space.name %>
    </h1>
  </div>
</div>

<div class="row" style="border-bottom: solid #ccc 1px;margin-bottom: 14px;padding-bottom: 7px;">
  <div class="col col-sm-3">
    <% if @space.photo.attached?  %>
      <%= image_tag @space.photo.variant(resize: '300x300', gravity: 'center', extent: '300x300'), style: 'margin-top: 35px;' %>
    <% else %>
      <%= image_tag "T.gif", style: 'margin-top: 28px;width: 300px;' %>
    <% end %>
  </div>
  <div class="col col-sm-9">
    <% unless @space.description.blank? %>
    <p>
      <%= @space.description.html_safe %>
    </p>
    <% end %>

    <p>
    <strong>Location:</strong>
      <%= @space.building.name %>
    </p>

    <% unless @space.parent_id.blank? %>
      <p>
        <strong>Parent space:</strong>
        <%= @space.parent.name %>
      </p>
    <% end %>

    <% unless @space.hours.blank? %>
    <p>
      <strong>Hours</strong>
      <%= @space.hours %>
    </p>
    <% end %>

    <% unless @space.phone_number.blank? %>
    <p>
      <strong>Phone number</strong>
      <%= @space.phone_number %>
    </p>
    <% end %>

    <% unless @space.email.blank? %>
    <p>
      <strong>Email</strong>
      <%=@space.email %>
    </p>
    <% end %>

    <% unless @space.accessibility.blank? %>
    <p>
      <strong>Accessibility</strong>
      <%= @space.accessibility %>
    </p>
    <% end %>

    </div>

  </div>
<%= link_to 'Back', spaces_path %>
