<%= render "mobile-menu-secondary" %>

<div class="container-lg space-show">
  
  <div class="row">
    <% unless @categories.blank? %>
      <div class="col-3 d-none d-md-none d-lg-block">
        <%= render "categories_list" %>
      </div>

      <div class="col-12 col-lg-9">
    <% else %>
      <div class="col-12">
    <% end %>
    
    <%= render "secondary_covid_alert" if @header_alert.present? %>

      <h1 class="page-title"><%= title @space.label %></h1>
            <% unless @space.external_link.nil? %>
        <div class="access-link">
          <h2><%= link_to @space.external_link.title, @space.external_link.link %></h2>
          <p class="print-only"><%= @space.external_link.link %></li>             
        </div>          
      <% end %>

      <div class="details">
        <ul class="list-unstyled space-contact">
          <li><%= image_tag "small_location.png", class: "location decorative", alt: "" %><%= link_to @space.building.label, building_path(@space.building), class: "location" %></li>
          <li><%= image_tag "small_phone.png", class: "location decorative", alt: "" %><%= @space.phone_number ? phone_formatted(@space.phone_number) : phone_formatted(@space.building.phone_number) %></li>
          <% unless @space.email.nil? && @space.building.email.nil? %>
          <li>
            <%= image_tag "small_email.png", class: "location decorative", alt: "" %>
            <%= mail_to @space.email ? @space.email : @space.building.email %>
          </li>
          <% end %>
        </ul>

        <div class="description">
          <%= @space.description %>
        </div>
        
        <% if @space.accessibility.body.present? %>
        <h2><%= t("manifold.spaces.show.access") %></h2>
        <div>
          <%= @space.accessibility %>
        </div>
        <% end %>
      </div>

  <% if @space.hours.present? %>
      <div class="d-none d-md-block col-12 hours-widget">
        <%= render :partial => "/application/space_hours" %>
      </div>

      <div class="d-block d-md-none col-12">
        <%= render :partial => "/application/space_mobile_hours" %>
      </div>
    <% end %>

    </div>
  </div>
</div>

<script type="application/ld+json">
  <%= json_ld(@space) %>
</script>
