<%= render "mobile-menu-secondary" %>

<div class="container-lg space-show">
  
  <div class="row">
    <% if @categories.present? %>
      <div class="col-3 d-none d-md-none d-lg-block">
        <%= render "categories_list" %>
      </div>
    <% end %>

    <% if @space.policies.present? %>
      <div class="col-12 col-lg-6">
    <% else %>
      <div class="col-12 col-lg-9">
    <% end %>
    
    <%= render "secondary_covid_alert" if @header_alert.present? %>

      <h1 class="page-title"><%= title @space.label %></h1>
            <% unless @space.external_link.nil? %>
        <div class="access-link">
          <h2><%= link_to @space.external_link.title, @space.external_link.link %></h2>
          <p class="print-only"><%= @space.external_link.link %></li>             
        </div>          
      <% end %>

      <div class="details">
        <ul class="list-unstyled space-contact">
          <li><%= image_tag "small_location.png", class: "location decorative", alt: "" %><%= link_to @space.building.label, building_path(@space.building), class: "location" %></li>
          <li><%= image_tag "small_phone.png", class: "location decorative", alt: "" %><%= get_phone(@space) %></li>
          <% unless @space.email.nil? && @space.building.email.nil? %>
          <li>
            <%= image_tag "small_email.png", class: "location decorative", alt: "" %>
            <%= mail_to @space.email ? @space.email : @space.building.email %>
          </li>
          <% end %>
        </ul>

        <div class="description">
          <%= @space.description %>
        </div>
        
        <% if @space.accessibility.body.present? %>
        <h2><%= t("manifold.spaces.show.access") %></h2>
        <div>
          <%= @space.accessibility %>
        </div>
        <% end %>
      </div>

    <% if @space.get_hours.any? %>
      <div class="d-none d-md-block col-12 hours-widget">
        <%= render "/application/model_hours" %>
      </div>

      <div class="d-block d-md-none col-12">
        <%= render "/application/model_mobile_hours" %>
      </div>
    <% elsif @space.image.attached? %>
      <div class="space-image mt-4">
        <%= image_tag @space.custom_image(1000,600), class: "decorative", alt: "" %>
      </div>
    <% end %>

    <div class="col-12 col-lg-3 rightside-space">
      <% if @space.policies.present? %>
        <div class="related-policies">
        <h2><%= t("manifold.buildings.show.related_policies") %></h2>
          <ul>
            <% @space.policies.each do |policy| %>
              <li><%= link_to policy.name, policy_path(policy) %></li>
              <li class="print-only dark"><%= [request.base_url, policy_path(policy)].join %></li>             
            <% end %>
          </ul>
        </div>
      <% end %>
    </div>

    </div>
  </div>
</div>

<script type="application/ld+json">
  <%= json_ld(@space) %>
</script>
