<%= render "mobile-menu-secondary" %>

<div class="container" style="margin-top: 35px;">
  
  <div class="row space-show">
    <% unless @categories.blank? %>
      <div class="col-3 d-none d-md-none d-lg-block">
        <%= render "all_spaces" %>
      </div>

      <div class="col-12 col-md-9 col-lg-6">
    <% else %>
      <div class="col-12 col-md-9 col-lg-9">
    <% end %>
    
      <h1 class="unstyled"><%= @space.label %></h1>
      <%= sanitize @space.description.html_safe %>

    </div>
    <div class="col-12 col-md-3 rightside-space">
      <% unless @space.external_link.blank? %>
        <div class="access-link">
          <h2><%= link_to @space.external_link.title, @space.external_link.link %></h2>
        </div>
      <% end %>
    </div>
  </div>

</div>