<%= render "mobile-menu-secondary" %>

<div class="container-lg space-show">
  
  <div class="row">
    <% unless @categories.blank? %>
      <div class="col-3 d-none d-md-none d-lg-block">
        <%= render "categories_list" %>
      </div>

      <div class="col-12 col-lg-6">
    <% else %>
      <div class="col-12 col-lg-6">
    <% end %>
    
    <%= render "secondary_covid_alert" if @covid_alert.present? %>
    
      <h1 class="page-title"><%= title @space.label %></h1>

      <div class="details">
        <ul class="list-unstyled space-contact">
          <li><%= image_tag "small_location.png", class: "location decorative", alt: "" %><%= link_to @space.building.label, building_path(@space.building), class: "location" %></li>
          <li><%= image_tag "small_phone.png", class: "location decorative", alt: "" %><%= @space.phone_number ? phone_formatted(@space.phone_number) : phone_formatted(@space.building.phone_number) %></li>
          <% unless @space.email.nil? && @space.building.email.nil? %>
          <li>
            <%= image_tag "small_email.png", class: "location decorative", alt: "" %>
            <%= mail_to @space.email ? @space.email : @space.building.email %>
          </li>
          <% end %>
        </ul>

        <div class="description">
          <%= @space.description %>

          <% if @space.image.attached?  %>
            <div class="space-image my-3">
              <%= image_tag @space.custom_image(900,600), class: "decorative", alt: "" %>
            </div>
          <% end %>
        </div>
        
        <% if @space.accessibility.body.present? %>
        <h2><%= t("manifold.spaces.show.access") %></h2>
        <div>
          <%= @space.accessibility %>
        </div>
        <% end %>
      </div>

    </div>

    <% unless @categories.blank? %>
      <div class="col-12 col-lg-3 rightside-space">
    <% else %>
      <div class="col-12 col-lg-6 rightside-space">
    <% end %>


      <% unless @space.external_link.nil? %>
        <div class="access-link">
          <h2><%= link_to @space.external_link.title, @space.external_link.link %></h2>
          <p class="print-only"><%= @space.external_link.link %></li>             
        </div>          
      <% end %>
      
    </div>
  </div>

<% unless @space.hours.blank? %>

  <% unless @categories.blank? %>
    <div class="d-none d-md-block col-12 col-lg-9 offset-lg-3 hours-widget">
  <% else %>
    <div class="d-none d-md-block col-12 hours-widget">
  <% end %>

    <hr />
    <%= render :partial => "/application/space_hours" %>
  </div>

  <div class="d-block d-md-none col-12">
    <hr />
    <%= render :partial => "/application/space_mobile_hours" %>
  </div>
  
<% end %>

</div>

<script type="application/ld+json">
  <%= json_ld(@space) %>
</script>
