<div class="row">
  <div class="col breadcrumbs">
    <%= link_to "Home", root_path.to_s %> 
    <%= link_to "Spaces", controller: 'spaces', action: :index %> 
    <%= @space.name %>
  </div>
</div>

<div class="row space-info">
  <div class="col-lg-12 col-xl-6 text-center text-xl-right">
    <div class="space-image">
      <% if @space.photo.attached? %>
        <%= image_tag @space.photo.variant(gravity: 'center', extent: "100%x100%") %>
      <% else %>
        <%= image_tag 'T-borderless.gif' %>
      <% end %>
    </div>
  </div>
  <div class="col-lg-12 col-xl-6 text-center text-xl-left">
    <div class="space-description">
      <h1 class="text-md-center text-xl-left"><%= @space.name %></h1>
      <div class="text-left text"><%= @space.description.html_safe %></div>
    </div>
  </div>
</div>

<%= render "services" %>

<%= render "policies" %>

<%= render "visit" %>
