<div class="row">
  <div class="col breadcrumbs">
    <%= link_to "Home", root_path.to_s %> 
    <%= link_to "Spaces", controller: 'spaces', action: :index %> 
    <%= @space.name %>
  </div>
</div>

<div class="row space-info">
  <div class="col-lg-12 col-xl-6 text-center text-xl-right">
    <div class="space-image">
      <% if @space.photo.attached? %>
        <%= image_tag @space.photo.variant(gravity: 'center', extent: "100%x100%") %>
      <% else %>
        <%= image_tag 'T-borderless.gif' %>
      <% end %>
    </div>
  </div>
  <div class="col-lg-12 col-xl-6 text-center text-xl-left">
    <div class="space-description">
      <h1 class="text-md-center text-xl-left"><%= @space.name %></h1>
      <div class="text-left text"><%= @space.description.html_safe %></div>
    </div>
  </div>
</div>


<% unless @space.service_space.nil? %>

  <div class="row">
    <div class="col">
      <div class="vertical-stripes-sm">
        <h2><span>Services</span></h2>
      </div>
    </div>
  </div>

  <div class="row servicesRow">
    <% @space.service_space.in_groups_of(3).each do |group| %>
      <% unless @space.service_space.size < 3 %>
      <div class="col-md-1"></div>
        <div class="col-sm-10 offset-sm-1 col-md-3 offset-md-1 m-2 cta first">
          <div class="service">
            <%= link_to group.first.service.title, group.first.service %>
          </div>
        </div>
        <% unless group.second.nil? %>
          <div class="col-sm-10 offset-sm-1 col-md-3 m-2 cta">
            <div class="service">
                <%= link_to group.second.service.title, group.second.service %>
            </div>
          </div>
        <% end %>
        <% unless group.third.nil? %>
          <div class="col-sm-10 offset-sm-1 col-md-3 m-2 cta last">
            <div class="service">
                <%= link_to group.third.service.title, group.third.service %>
            </div>
          </div>
        <% end %>

      <div class="col-md-1"></div>
      <% end %>

      <% if @space.service_space.size == 2 %>
      <div class="col-md-2"></div>
        <div class="col-md-4 offset-md-2 m-2 cta first">
          <div class="service">
            <%= link_to group.first.service.title, group.first.service %>
          </div>
        </div>
        <div class="col-md-4 m-2 cta last">
          <div class="service">
            <%= link_to group.second.service.title, group.second.service %>
          </div>
        </div>
        <div class="col-md-1"></div>
      <% end %>

      <% if  @space.service_space.size == 1  %>
        <div class="col-xs-6 offset-xs-3 col-md-4 offset-md-4 cta both">
          <div class="service">
           <%= link_to group.first.service.title, group.first.service %>
          </div>
        </div>
      <% end %>

    <% end %>
<% end %>
</div>


<% if @space.service_space.nil? %> <!-- change to: @space.policy_space.nil? -->
<div class="row">
  <div class="col">
    <div class="vertical-stripes-sm">
      <h2><span>Policies</span></h2>
    </div>
  </div>
</div>

  <div class="row policiesRow">
    <% @space.policy_space.in_groups_of(3).each do |group| %>
      <% unless @space.policy_space.size < 3 %>
      <div class="col-md-1"></div>
        <div class="col-sm-10 offset-sm-1 col-md-3 offset-md-1 m-2 cta first">
          <div class="service">
            <%= link_to group.first.policy.title, group.first.policy %>
          </div>
        </div>
        <% unless group.second.nil? %>
          <div class="col-sm-10 offset-sm-1 col-md-3 m-2 cta">
            <div class="service">
                <%= link_to group.second.policy.title, group.second.policy %>
            </div>
          </div>
        <% end %>
        <% unless group.third.nil? %>
          <div class="col-sm-10 offset-sm-1 col-md-3 m-2 cta last">
            <div class="service">
                <%= link_to group.third.policy.title, group.third.policy %>
            </div>
          </div>
        <% end %>

      <div class="col-md-1"></div>
      <% end %>

      <% if @space.policy_space.size == 2 %>
      <div class="col-md-2"></div>
        <div class="col-md-4 offset-md-2 m-2 cta first">
          <div class="service">
            <%= link_to group.first.policy.title, group.first.policy %>
          </div>
        </div>
        <div class="col-md-4 m-2 cta last">
          <div class="service">
            <%= link_to group.second.policy.title, group.second.policy %>
          </div>
        </div>
        <div class="col-md-1"></div>
      <% end %>

      <% if @space.policy_space.size == 1  %>
        <div class="col-xs-6 offset-xs-3 col-md-4 offset-md-4 cta both">
          <div class="service">
           <%= link_to group.first.policy.title, group.first.policy %>
          </div>
        </div>
      <% end %>

    <% end %>
<% end %>
</div>


  <div class="row">
    <div class="col">
      <div class="vertical-stripes-sm">
        <h2><span>Plan your visit</span></h2>
      </div>
    </div>
  </div>

  <div class="row ctaRow space-info">
    <div class="col-12 col-lg-4 card ctaFirst">
      <div class="card-title complement">
        Contact
      </div>
      <div class="card-body">
        <span class="phone"><%= phone_formatted(@space.phone_number) %></span><br />
        <span class="email"><%= mail_to @space.email, @space.email %></span><br />
        <div class="building"><%= link_to @space.building.name, building_path(@space.building) %></div>
        <div class="address"><%= @space.building.address1 %><br /><%= @space.building.address2 %></div>
      </div>
    </div>
    <div class="col-12 col-lg-4 card ctaMidOne">
      <div class="card-title complement">
        Hours
      </div>
      <div class="card-body">
      <div id="dateTime">
        <div id="date">
          <%= @space.todays_date %>
        <div id="time" style="line-height: 1.5rem;">
          <% if @space.hours.blank? %>
            <br /><%= @space.todays_hours %>
          <% end %>
        </div>
        </div>
        <div id="allHours">
          <%= link_to "See all library hours", hours_path() %> >
        </div>
      </div>
      </div>
    </div>
    <div class="col-12 col-lg-4 card ctaLast">
      <div class="card-title complement">
        Map!
      </div>
      <div class="card-body">
      <%= link_to image_tag("https://maps.googleapis.com/maps/api/staticmap?center=#{@space.building.coordinates}&zoom=15&size=420x275&markers=size:mid%7Ccolor:red%7Clabel:%7C#{@space.building.coordinates}&key=#{Rails.configuration.google_maps_api_key}", alt: "Google Map of #{@space.building.name}"), "https://www.google.com/maps/search/?api=1&query=#{@space.building.coordinates}&query_place_id=#{@space.building.google_id}" %>
      </div>
    </div>
  </div>
