<div class="row">
  <div class="col breadcrumbs">
    <%= link_to "Home", root_path.to_s %>
    <%= link_to "Blogs", controller: "blog_posts", action: :index %>
    <%= @blog_post.title %>
  </div>
</div>

<div class="row">
  <div class="col">
    <div>
      <h2><span><%= @blog_post.title %></span></h2>
      <h2><span><%= @blog_post.blog.title %></span></h2>
      <%= @blog_post.content.html_safe %>
      <h3><span>Path</span></h3>
      <div><span><%= @blog_post.path %></span></div>
      <h3><span>GUID</span></h3>
      <div><span><%= @blog_post.post_guid %></span></div>
      <h3><span>Publication Date</span></h3>
      <div><span><%= @blog_post.publication_date %></span></div>
      <h3><span>Categories</span></h3>
      <div><span><%= @blog_post.categories %></span></div>
      <% unless @blog_post.person %>
        <h3><span>External Author Name</span></h3>
        <div><span><%= @blog_post.external_author_name%></span></div>
      <% else %>
        <h3><span>Author Name</span></h3>
        <div><span><%= @blog_post.person.id %></span></div>
      <% end %>
    </div>
  </div>
</div>

<%= link_to 'Back', blog_posts_path %>
