<%#
# Show

This view is the template for the show page.
It renders the attributes of a resource,
as well as a link to its edit page.

## Local variables:

- `page`:
  An instance of [Administrate::Page::Show][1].
  Contains methods for accessing the resource to be displayed on the page,
  as well as helpers for describing how each attribute of the resource
  should be displayed.

[1]: http://www.rubydoc.info/gems/administrate/Administrate/Page/Show
%>

<% content_for(:title) { t("administrate.actions.show_resource", name: page.page_title) } %>

<header class="main-content__header" role="banner">
  <h1 class="main-content__page-title">
    <%= content_for(:title) %>
  </h1>

  <div>
    <%= link_to(
      t("administrate.actions.edit_resource", name: page.page_title),
      [:edit, namespace, page.resource],
      class: "button",
    ) if existing_action?(page.resource.class, :edit) && authorized_action?(page.resource.class, :edit) %>
  </div>
  <% if Rails.application.routes.url_helpers.method_defined?(page.resource.class.name.downcase + "_path") %>
  <div>
    <%= link_to(t("manifold.admin.actions.show_website"), page.resource, class: "button green")  %>
  </div>
  <% end %>
</header>

<section class="main-content__body">
  <dl>
    <% page.attributes.each do |attribute| %>
      <dt class="attribute-label" id="<%= attribute.name %>">
      <%= t(
        "helpers.label.#{resource_name}.#{attribute.name}",
        default: attribute.name.titleize,
      ) unless attribute.attribute.to_s == "id" %>

      <%= t("Permalink") if attribute.attribute.to_s == "id" %>
      </dt>

      <dd class="attribute-data attribute-data--<%=attribute.html_class%>">
        <%= render_field attribute, page: page unless attribute.attribute.to_s == "id" %>
        <%= "/categories/#{attribute.to_s}" if attribute.attribute.to_s == "id" %>
      </dd>
    <% end %>
    <dt class="attribute-label" id="Entites">
      Entities
    </dt>
    <dd class="attribute-data attribute-data--entities">
      <table class="table">
        <thead>
          <tr>
            <th>Label</th>
            <th>Weight</th>
            <th>Link</th>
          </tr>
        </thead>
        <tbody>
          <% page.resource.menu_group_categories.each do |item| %>
            <%= tag.tr do %>
              <%= tag.td(item.category.label, class: "item-label") %>
              <%= tag.td(item.weight, class: "item-category-weight") %>
              <%= tag.td(link_to("Show", [namespace, item.category], class: "button")) %>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </dd>
  </dl>
</section>
