<div class="row" id="seagreen">
  <div class="col-11 offset-1">
    <h1>
      <%= @group.name %>
    </h1>
  </div>
</div>

<div class="container">
<p>
  <strong>Group Type: </strong>
  <%= @group.group_type %>
</p>


<% unless @group.description.blank? %>
<p>
  <strong>Description: </strong>
  <%= @group.description.html_safe %>
</p>
<% end %>

<% unless @group.external.nil? %>
<p>
  <strong>External Group: </strong>
  <%= @group.external %>
</p>
<% end %>

<p>
  <strong>Phone number: </strong>
  <%= @group.phone_number %>
</p>

<p>
  <strong>Email: </strong>
  <%= @group.email_address %>
</p>

<p>
  <strong>Owner: </strong>
  <% unless @group.chair_dept_head.nil? %>
    <%= link_to (@group.chair_dept_head.first_name+' '+@group.chair_dept_head.last_name), controller: 'persons', action: 'show', id: @group.chair_dept_head.id %>
  <% end %>
</p>

<p>
  <strong>Members: </strong>
  <% unless @group.persons.empty? %>
    <%= link_to (@group.persons.first.first_name+' '+@group.persons.last.last_name), controller: 'persons', action: 'show', id: @group.persons.last.id %>
  <% end %>
</p>

<p>
  <strong>Space: </strong>
  <%= @group.spaces.first.name unless @group.spaces.empty? %>
</p>

<% if @group.document.attached? %>
  <p>
    <strong>Documentation: </strong>
    <%= link_to @group.document.filename.to_s, rails_blob_path(@group.document, disposition: "attachment") %>
  </p>
<% end %>

</div>
