<h1>Groups</h1>
<p id="notice"><%= notice %></p>

<p>
  <strong>Name: </strong>
  <%= @group.name %>
</p>

<p>
  <strong>Description: </strong>
  <%= @group.description %>
</p>

<p>
  <strong>Phone number: </strong>
  <%= @group.phone_number %>
</p>

<p>
  <strong>Email: </strong>
  <%= @group.email_address %>
</p>

<% unless @group.persons.empty? %>
<p>
  <strong>Owner: </strong>
  <%= link_to (@group.persons.first.first_name+' '+@group.persons.last.last_name), controller: 'persons', action: 'show', id: @group.persons.last.id %>
</p>
<% end %>

<p>
  <strong>Building: </strong>
  <%= @group.buildings.first.name unless @group.buildings.empty? %>
</p>

<p>
  <strong>Space: </strong>
  <%= @group.space.name %>
</p>

<%= link_to 'Back', groups_path %>
