<% content_for :body_class, "minipage" %>
<div class="row">
  <div class="col breadcrumbs">
    <%= link_to "Home", root_path.to_s %>
    <%= link_to "Groups", controller: "groups", action: :index %>
    <%= @group.name %>
  </div>
</div>
<div class="row">
  <div class="col">
    <div class="vertical-stripes-sm">
      <h2><span><%= @group.name %></span></h2>
    </div>
  </div>
</div>

<% unless @group.description.blank? %>
<div class="container">
  <div class="row">
    <div class="col" style="margin-bottom: 35px;">
      <%= @group.description.html_safe %>
    </div>
  </div>
</div>
<% end %>

<%= render "attachments" %>

<%= render "show_members" %>

<%= render "visit" %>
