<div class="responsive">
  <div class="row">
    <div class="col">
      <div class="vertical-stripes-sm">
        <h2><span>Plan your visit</span></h2>
      </div>
    </div>
  </div>

  <div class="row visit-info">
    <div class="col-12 text-center">
      <div class="r-title" onClick="javascript:toggle('contact-body')">
        Contact
      </div>
      <div class="r-body d-none" id="contact-body">
        <span class="phone"><%= phone_formatted(@space.phone_number) %></span><br />
        <span class="email"><%= mail_to @space.email, @space.email %></span><br />
        <div class="address"><%= link_to @space.building.name, @space.building %></div>
      </div>
    </div>
  </div>

  <div class="row visit-info">
    <div class="col-12 text-center">
      <div class="r-title d-block" onClick="javascript:toggle('hours-body')">
        Hours
      </div>
      <div class="r-body d-none" id="hours-body">
      <div id="dateTime">
        <div id="date">
          <%= @space.todays_date %>
        </div>
        <div id="time" style="line-height: 1.5rem;">
          <% unless @space.hours.blank? %>
            <div class="time"><%= @space.todays_hours %></div>
          <% end %>
          <%= @space.building.name %> <br /> <%= @space.name %>
        </div>
        </div>
        <div id="allHours">
          <%= link_to "See all library hours", hours_path() %> >
        </div>
      </div>
    </div>
  </div>

  <div class="row visit-info">
    <div class="col-12 text-center">
      <div class="r-title" onClick="javascript:toggle('map-body')">
        Map
      </div>
      <div class="r-body d-none" id="map-body">
        <%= render_map(@space.building.name,@space.building.coordinates,@space.building.google_id) %>
      </div>
    </div>
  </div>

</div>
