<div class="field-unit__label">
	<% case field.attribute %>
  <% when :promoted_to_events %>
    <%= f.label "Publish/Unpublish" %> <p style="height:.5rem"></p>
  <% when :suppress %>
    <%= f.label t("helpers.label.event.suppress") %>
  <% else %>
    <%= f.label field.attribute %>
  <% end %>
</div>
<div class="field-unit__field">
  <%= f.check_box field.attribute %>
	<% if field.attribute == :promoted_to_events %>
	  <p class="text-muted mb-0"><%= t("manifold.default.fields.boolean") %></p>
  <% end %>
  <% if field.attribute == :for_header %>
    <p class="text-muted mb-0"><%= t("manifold.default.fields.alert_for_header") %></p>
  <% end %>
</div>
