<div class="field-unit__label">
	<% unless field.attribute == :promoted_to_events %>
	  <%= f.label field.attribute %>
	<% else %>
  	<%= f.label "Publish/Unpublish" %> <p style="height:.5rem"></p>
  <% end %>
</div>
<div class="field-unit__field">
  <%= f.check_box field.attribute %>
	<% if field.attribute == :promoted_to_events %>
	  <p class="text-muted" style="margin-bottom: 0"><%= t("manifold.default.fields.boolean") %></p>
  <% end %>
  <% if field.attribute == :for_header %>
    <p class="text-muted" style="margin-bottom: 0"><%= t("manifold.default.fields.alert_for_header") %></p>
  <% end %>
</div>
