<%= form_with(model: library_hour, local: true) do |form| %>
  <% if library_hour.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(library_hour.errors.count, "error") %> prohibited this library_hour from being saved:</h2>

      <ul>
      <% library_hour.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :location %>
    <%= form.text_field :location %>
  </div>

  <div class="field">
    <%= form.label :date %>
    <%= form.datetime_select :date %>
  </div>

  <div class="field">
    <%= form.label :hours %>
    <%= form.text_field :hours %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
