<div class="row date-nav">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-3">
        <h1 class="page-title"><%= title t("manifold.webpages.hours.hours_title") %></h1>
      </div>
      
      <div class="col-12 col-lg-9 text-center date-range">
        <div class="row">
          <div class="col-12 col-lg-7 my-3 px-0 date-string text-center">
            <%= @monday.strftime("%b %d, %Y") unless @monday.nil? %> - <%= @sunday.strftime("%b %d, %Y") unless @sunday.nil? %>
          </div>
        </div>

        <div class="row">
          <div class="col-4 col-md-2 offset-md-2 offset-lg-0 prev-hours text-center">
            <%= link_to "<<", {controller: :library_hours, action: "index", date: @last_month}, class: "left", title: "Previous Month" %> 
            <%= link_to "<", {controller: :library_hours, action: "index", date: @last_week}, class: "left", title: "Previous Week" %> 
          </div>

          <div class="col-4 col-md-3 text-center today-button-container">
            <%= link_to t("manifold.webpages.hours.this_week"), {controller: :library_hours, action: :index}, class: "today_button" %>
          </div>

          <div class="col-4 col-md-2 next-hours text-center">
            <%= link_to ">", {controller: :library_hours, action: "index", date: @next_week}, class: "right", title: "Next Week" %>
            <%= link_to ">>", {controller: :library_hours, action: "index", date: @next_month}, class: "right", title: "Next Month" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container hours">

  <div class="buildings d-none d-lg-block">
    <%= render "desktop" %>
  </div>

  <div class="buildings d-block d-lg-none">
    <%= render "mobile" %>
  </div>

</div>
