<div class="row">
  <div class="col breadcrumbs">
    <%= link_to "Home", root_path.to_s %> 
    Hours
  </div>
</div>
<div class="row">
  <div class="col">
    <div class="vertical-stripes">
      <h1><span>Locations and Services Hours</span></h1>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col">
      <% @buildings.each do |location| %>
      <%# binding.pry %>
      <% unless location_name(location.values.first).nil? %>
      <h2><%= location_name(location.values.first)  %></h2>

      <ul>
        <% unless location_name(location.values.first).nil? %>
     <%# binding.pry %>
          <% location.values.second.each do |hours| %>
          <%= location_name(hours.second.first.location_id) %>
            <% hours.second.each do |time| %>
              <li>
                <%= time.date %>, <%= time.hours %>
              </li>
            <% end %>
          <% end %>
        <% end %>
      </ul>

      <% end %>
      <% end %>
    </div>
  </div>
</div>
