<%# binding.pry %>
<div class="current-week">
	<% @buildings.each do |location| %>
  <% if location[:slug] == @location %>

  <div class="row"> <!-- dates header -->
    <div class="col-3"><h2>Weekly Hours</h2></div>
    <div class="col-9 text-right">
       <div class="col-md-6 text-center date-range">

      <%= link_to "<-", {controller: :library_hours, action: "show", slug: location[:slug], date: @last_week} %> 

      <%= @monday.strftime("%b %d, %Y") unless @monday.nil? %> - <%= @sunday.strftime("%b %d, %Y") unless @sunday.nil? %>
     
      <%= link_to "->", {controller: :library_hours, action: "show", slug: location[:slug], date: @next_week} %>

      </div>

      <div class="col-md-6 text-center">
        <%= link_to "Go to Today", {controller: :library_hours, action: :show, id: location[:slug]}, class: "today_button"  %>
      </div>
    </div>
  </div>
  <div class="row" style="margin-top: 35px;">
      <div class="col-3">
        <span class="month" style="font-weight: 600;font-size: 175%"><%= @today.strftime("%B %Y") %></span>
      </div>

      <div class="col-9">
        <div class="row">

        <% 7.times do |date| %>
          
          <% if @monday+date == @today %>
            <div class="col hours-dates today day-of-week text-center">
          <% else %>
            <div class="col hours-dates text-center">
          <% end %>

              <%= (@monday+date).strftime("%a %d") %> 

            </div>
        <% end %>
      </div>
      </div>
   </div>

    <% unless location.values.second.first.second.empty? %>


    <% location.values.second.each do |hours| %>
        <div class="row" style="margin-top: 14px;"> <!-- location -->

          <div class="col-3 text-right"> 
            <h3>
              <%= location_name(hours.second.first.location_id) %>
            </h3>
          </div>

          <div class="col-9">
            <div class="row">
            <% hours.second.each_with_index do |time,index| %> <!-- hours -->

              <% if @monday+index == @today %>
                <div class="col today">
                <% else %>
                <div class="col">
              <% end %>

                <% if time.hours.downcase == "closed" %>
                  <span class="closed"><%= time.hours %></span>
                <% else %>
                  <%= time.hours %>
                <% end %>

                </div>

            <% end %> <!-- hours -->
          </div>
        </div>

        </div>
      <% end %>


    <% else %> <!-- unless -->
      <div class="row" style="margin-top: 14px;">
        <div class="col-12 text-center">
          <h3>No data for current date range</h3>
        </div>
      </div> 
    <% end %>

  <% end %>
<% end %>
</div>
