<div class="container-lg">
  <div class="row page pt-3">
    <div class="col-12 col-lg-11 offset-lg-1">
      <h1><%= t("manifold.webpages.etextbooks.title") %></h1>
      <p><%= t("manifold.webpages.etextbooks.intro") %></p>
      <div class="table-responsive-sm">
        <table class="etextbooks table table-bordered table-hover">
          <caption>Etextbooks</caption>
          <thead>
            <tr>
              <th scope="col">Course</th>
              <th scope="col">Professor</th>
              <th scope="col">Title</th>
            </tr>
          </thead>
          <tbody>
            <% @etexts.each do |book| %>
            <tr>
              <td>
                  <%= book[1] %> <%= book[2] %>, section: <%= book[3] %>
              </td>
              <td>
                  <%= book[4] %>, <%= book[5] %>
              </td>
              <td>
                  <%= link_to(book[6], "https://librarysearch.temple.edu/catalog/#{book[0]}") %>
              </td>
            </tr>
            <% end if @etexts.present? %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
