<div class="container-lg">
  <div class="row page pt-3">
    <div class="col-12 col-lg-11 offset-lg-1">
      <h1><%= @title %></h1>
      <p><%= @description %></p>
      <div class="table-responsive-sm">
        <table class="etextbooks table table-bordered table-hover">
          <caption>Etextbooks</caption>
          <thead>
            <tr>
              <th scope="col"><%= sort_link(column: "course", label: "Course", direction: params[:direction]) %></th>
              <th scope="col"><%= sort_link(column: "professor", label: "Professor", direction: params[:direction]) %></th>
              <th scope="col">Textbook Name</th>
            </tr>
          </thead>
          <tbody>
            <% @etexts.each do |book| %>
            <tr>
              <td>
                <%= book[1] %> <%= book[2].rjust(4, "0") %>-<%= book[3].rjust(3, "0") %>
              </td>
              <td><%= book[4] %></td>
              <td>
                <%= link_to(book[6], "#{@base_url}/#{book[0]}") %>
              </td>
            </tr>
            <% end if @etexts.present? %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
