<div class="container-lg">
  <div class="row page pt-3">
    <div class="col-12 col-lg-11 offset-lg-1">
      <h1><%= @intro.title %></h1>
      <p><%= @intro.description %></p>
      <div class="table-responsive-sm">
        <table class="etextbooks table table-bordered table-hover">
          <caption><%= t("manifold.webpages.etextbooks.caption") %></caption>
          <thead>
            <tr>
              <th scope="col"><%= t("manifold.webpages.etextbooks.course_column") %></th>
              <th scope="col"><%= t("manifold.webpages.etextbooks.instructor_column") %></th>
              <th scope="col"><%= t("manifold.webpages.etextbooks.etext_column") %></th>
            </tr>
          </thead>
          <tbody>
            <% @etexts.each do |book| %>
            <tr>
              <td>
                  <%= book[1] %> <%= book[2].rjust(4, "0") %>-<%= book[3].rjust(3, "0") %>
              </td>
              <td><%= book[4] %></td>
              <td>
                  <%= link_to(book[6], "#{@base_url}/#{book[0]}") %>
              </td>
            </tr>
            <% end if @etexts.present? %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
