<div class="date-nav">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-3">
        <h1 class="page-title"><%= title t("manifold.webpages.hours.hours_title") %></h1>
      </div>
      <div class="col-12 col-lg-5 text-lg-center date-range">
          <%= link_to "<-", {controller: :library_hours, action: "index", date: @last_week} %> 
          <%= @monday.strftime("%b %d, %Y") unless @monday.nil? %> - <%= @sunday.strftime("%b %d, %Y") unless @sunday.nil? %>
          <%= link_to "->", {controller: :library_hours, action: "index", date: @next_week} %>
      </div>
      <div class="col-12 col-lg-4 text-lg-end today-button-container date-picker">
        <%= form_tag "/hours", method: "get" do %>
          <%= date_field_tag "date", @date_picker_date, id: "date", name: "date", 
                                      min: @today, max: 2.years.from_now %>
          <%= submit_tag "Go" %>
        <% end %>  
      </div>
    </div>
  </div>
</div>

<div class="container hours">

  <div class="buildings d-none d-lg-block">
    <% @buildings.each do |location| %>
    <div class="row building-row">
      <div class="col-12 px-0">
        <h2 class="red">
          <%= location_name(location[:slug]) %>
        </h2>
      </div>
    </div>
    <div class="row"> <!-- dates header -->
      <div class="col-3"></div>
        <% 7.times do |date| %>
        <% if @monday.to_date+date == @today %>
          <div class="col hours-dates today day-of-week text-center">
        <% else %>
          <div class="col hours-dates text-center">
        <% end %>
            <%= (@monday.to_date+date).strftime("%a %d") %> 
          </div>
        <% end %>
    </div>
      <% binding.pry %>
    <% if has_spaces?(location[:spaces]) %> <!-- hours for at least one space -->
      <% location[:spaces].each do |space| %>
            <div class="row hours-row">
              <div class="col-3 px-0"> 
                <h3><%= location_link(space[1].first.location_id) %></h3>
              </div>
              <% space[1].sort_by(&:date).each_with_index do |time,index| %> 
                <% if @monday.to_date+index == @today %>
                  <div class="col today">
                <% else %>
                  <div class="col">
                <% end %>
                <% if time.hours.downcase == "closed" %>
                  <span class="closed"><%= time.hours %></span>
                <% else %>
                  <%= time.hours %>
                <% end %>
                </div>
              <% end %>

                <% if space[1].first.location_id == "blockson" %>
                <div class="col-9 offset-3 p-3 text-start hours-note-desktop">
                  <%= t("manifold.hours.blockson_note_html").html_safe if space[1].first.location_id == "blockson" %>
                </div>
                <% end %>
            </div> <!-- hours-row -->

          <% end %>
        <% else %> <!-- if has_spaces? -->
          <div class="row mt-3">
            <div class="col-9 offset-3 text-center">
              <h3><%= "#{t("manifold.webpages.hours.no_data")}" if location[:spaces].empty? %></h3>
            </div>
          </div> 
      <% end %>
    <% end %>
  </div>


</div>