<% @events_list.each do |event| %>
  <div class="row event">
    <div class="col-12 col-lg-3">
    <% if event.image.attached? %>
      <%= link_to (image_tag event.index_image, class: "decorative", alt: ""), event_path(event) %>
    <% else %>
      <%= image_tag 'T-borderless.gif', class: "decorative", alt: "" %>
    <% end %>
    </div>
    <div class="col-12 col-lg-9">
      <h2><%= link_to event.title, event_path(event) %></h2>
      <p><strong>
        <%= event.get_date %> | <%= event.set_times %> 
        <% unless event.building.nil? %>
          | <%= get_bldg_name(event.building.name) %>
        <% else %>
          <% unless event.external_building.nil? %>
          | <%= event.external_building %>
          <% end %>
        <% end %>
      </strong></p>
      <p><%= sanitize strip_tags(event.description.html_safe.truncate(250)) %></p>
      <p>
        <% unless event.get_types.nil? %>
          <% event.get_types.each do |type| %>
            <% unless action_name == "past" %>
              <%= link_to type, events_path(type: type), class: "event_type" %> 
              <% else %>
                <%= link_to type, past_events_path(type: type), class: "event_type" %> 
              <% end %>
          <% end %>
        <% end %>

          <%# binding.pry %>
        <% unless event.building.nil? %>
          <%= link_to get_bldg_name(event.building.name), event.building, class: "event_location" %>
        <% else %>
          <% unless event.external_building.nil? %>
            <span class="event_location"><%= event.external_building %></span> 
          <% end %>
        <% end %>
      </p>
    </div>
  </div>
<% end %>
