<div class="row events">
<% @events_list.each do |event| %>
  <div class="col-12 col-md-4 col-lg-6 event">
    <div class="row mb-4 pe-2">
      <div class="col-12 col-lg-4 mb-3">
      <% if event.image.attached? %>
        <%= link_to (image_tag event.index_image, class: "decorative", alt: ""), event_path(event.id), target: "_top" %>
      <% else %>
        <%= image_tag 'T.png', class: "decorative", alt: "" %>
      <% end %>
      </div>
      <div class="col-12 col-lg-8">
        <%= link_to event.title.truncate(42), event_path(event.id), class: "event-title", target: "_top" %>
        <p class="mt-4 event-date bl-blue">
          <%= event.get_date %><br /><%= event.set_start_time %>
        </p>
        <p class="d-none d-xl-flex blue mb-0 pt-2 roboto-light">
          <%= event.description.to_plain_text.truncate(121) %>
        </p>
      </div>
    </div>
  </div>
<% end if @events_list.present? %>

<% unless @events_list.present? %>
<h3 class="mt-5 ml-3">
  <% if params[:date].present? %>
    <%= t("manifold.events.index.no_scheduled_events") %>, 
    <%= Date.parse(params[:date]).strftime("%m-%d-%Y") %>
  <% else %>
    <%= t("manifold.events.index.no_event_types") %> 
  <% end %>

</h3>
<% end %>

  <div class="col-12 text-end paginator">
    <%= paginate @events_list, :params => { anchor: "list" } if @events_list.present? %>
  </div>

</div>
