<div class="container events_facets">
  <form action="https://librarysearch.temple.edu/bento">
    <span class="fa fa-search"></span>
    <input type="text" name="q" class="events_search" placeholder="Search events" />
  </form>
  <div class="event_types">
    <h3 class="types_header">Event type</h3>
    <ul class="unstyled">
      <% @event_types.each do |type| %>
        <% unless type == params[:type] %>
          <li><%= link_to type, {controller: :events, action: :index, type: type} %></li>
        <% else %>
          <li class="active"><%= link_to type, {controller: :events, action: :index, type: type} %></li>
        <% end %>
      <% end %>
    </ul>
  </div>
  <div class="event_spaces">
    <h3 class="spaces_header">Location</h3>
    <ul class="unstyled">
      <% @event_spaces.each do |space| %>
        <% unless space == params[:location] %>
          <li><%= link_to space, {controller: :events, action: :index, location: space} %></li>
        <% else %>
          <li class="active"><%= link_to space, {controller: :events, action: :index, location: space} %></li>
        <% end %>
      <% end %>
    </ul>
  </div>
  <div class="row">
    <div class="col text-center">
      <%= link_to "[ reset all filters ]", events_path, class: "reset" %>
    </div>
  </div>
</div>