<div class="events_facets">
  <% unless @event_types.empty? %>
  <div class="event_types">
    <h2 class="types_header">Event type</h2>
    <ul class="list-unstyled">
      <% @event_types.each do |type| %>
        <% unless action_name == "past" %>
          <li<% if type == params[:type]  %> class="active"<% end %>>
            <%= link_to type, events_path(type: type) %>
          </li>
        <% else %>
          <li<% if type == params[:type]  %> class="active"<% end %>>
            <%= link_to type, past_events_path(type: type) %>
          </li>
        <% end %>
      <% end %>
    </ul>
  </div>
  <% end %>
  <% unless @event_locations.empty? %>
  <div class="event_spaces">
    <h2 class="spaces_header">Location</h2>
    <ul class="list-unstyled">
      <% @event_locations.each do |location| %>
        <% unless action_name == "past" %>
          <li<% if location == params[:location]  %> class="active"<% end %>>
            <%= link_to location, events_path(location: location) %>
          </li>
        <% else %>
          <li<% if location == params[:location]  %> class="active"<% end %>>
            <%= link_to location, past_events_path(location: location) %>
          </li>
        <% end %>
      <% end %>
    </ul>
  </div>
  <% end %>
  <div class="row">
    <div class="col text-center">
      <%= link_to "[ reset all filters ]", events_path, class: "reset" %>
    </div>
  </div>
</div>