<% @featured_events.each do |event| %>
<div class="col-12 col-md-4 px-4 pb-4">
  <div class="py-2 px-3 featured-event">
    <% if event.image.attached? %>
      <%= link_to (image_tag event.custom_image(180, 180), 
                  class: "decorative", alt: ""), 
                  event_path(event.id) %>
    <% else %>
      <%= image_tag 'T.png', class: "decorative", alt: "" %>
    <% end %>

    <%= link_to event.title.truncate(32), event_path(event.id), class: "d-block event-title pb-2" %>
    
    <p class="bl-blue my-2 py-0 featured-dates"><%= event.get_date %> <br /> <%= event.set_start_time %></p>

    <p class="mb-0 featured-description"><%= event.description.to_plain_text.truncate(65) %></p>
  </div>
</div>
<% end %>
