<% @featured_events.each do |event| %>
<div class="col-12 col-md-4 px-4 pb-4">
  <div class="p-4 featured-event">
    <% if event.image.attached? %>
      <%= link_to (image_tag event.custom_image(200, 200), 
                  class: "decorative", alt: ""), 
                  event_path(event.id) %>
    <% else %>
      <%= image_tag 'T.png', class: "decorative", alt: "" %>
    <% end %>

    <%= link_to event.title.truncate(32), event_path(event.id), class: "event-title pb-2" %>
    
    <p class="bl-blue mt-3 py-0"><%= event.get_date %> <br /> <%= event.set_start_time %></p>

    <p class="pt-2 mb-0"><%= event.description.to_plain_text.truncate(95) %></p>
  </div>
</div>
<% end %>
