<%= render "mobile_menu" %>

<div class="container event-index">

  <div class="row">
    <div class="col">
      <h1 class="d-none d-lg-block"><%= title t("manifold.events.page_title") %></h1>
      <% unless @intro.nil? %>
        <div class="intro px-4"><%= sanitize @intro.description.html_safe %></div>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col-3 leftside-index" id="events-leftside">
      <div class="d-none d-md-none d-lg-block">
      <%= render "facets" %>
      </div>

      <div class="signup-desktop"  id="events-signup">
        <%= link_to @mailing_list do %>
        <h2>
          <%= image_tag "email.png", class: "category-icon decorative", alt: ""  %>
          <br /><%= t("manifold.events.index.mailing_list") %>
        </h2>
        <% end %>
      </div>
    </div>

    <div class="col-12 col-lg-6 events" id="events">
      <div class="d-block d-lg-none filters">
        <% unless filter_tags_events.empty? %>
          <% filter_tags_events.each do |tag| %>
            <span class="filter-tag"><%= tag.html_safe %></span>
          <% end %>
          <% unless filter_tags_events.size < 2 %>
            <%= link_to t("manifold.default.reset_filters"), events_path, class: "reset-filters" %>
          <% end %>
        <% end %>
      </div>

      <%= render "events" %>

      <div class="row text-center paginator">
        <div class="col">
          <%= paginate @events_list %>
        </div>
      </div>
    </div>

    <div class="col-12 col-lg-3 exhibits">
      <div class="signup-mobile"  id="events-signup">
        <%= link_to @mailing_list do %>
        <h2>
          <%= image_tag "email.png", class: "category-icon decorative", alt: ""  %>
          <br /><%= t("manifold.events.index.mailing_list") %>
        </h2>
        <% end %>
      </div>

      <% unless @exhibitions.blank? %>
        <div class="exhibits-header">
          <%= t("manifold.events.current_exhibits_label") %>
        </div>

        <%= render "exhibitions" %>
      <% end %>

      <div>
        <%= link_to t("manifold.events.view_past_events"), past_events_path, class: "past-events-button" %>
      </div>

      <div>
        <%= link_to t("manifold.events.view_past_events_videos"), webpages_videos_all_path, class: "video-button" %>
      </div>

      <div class="exhibit">
        <%= t("manifold.events.general_admission") %>
      </div>

    </div>
  </div>
</div>
