<%= render "mobile_menu" %>

<div class="container event-index">

  <h1 class="d-none d-lg-block"><%= t("manifold.events.page_title") %></h1>
  <p class="d-lg-block"><%= t("manifold.events.explanation").html_safe %></p>

  <div class="row">
    <div class="col-3 leftside-index d-none d-md-none d-lg-block">
      <%= render "facets" %>
    </div>

    <div class="col-12 col-lg-6 events">
      
      <%= render "events" %>

      <div class="row text-center paginator">
        <div class="col">
          <%= paginate @events_list %>
        </div>
      </div>
    </div>

    <div class="col-12 col-lg-3 exhibits">
      <% unless @exhibitions.blank? %>
          <div class="col-12 exhibits-header">
            <%= t("manifold.events.current_exhibits_label") %>
          </div>

        <%= render "exhibitions" %>
      <% end %>

        <div class="col-12 px-0">
          <%= link_to t("manifold.events.view_past_events"), past_events_path, class: "past-events-button" %>
        </div>

        <div class="col-12 px-0">
          <%= link_to t("manifold.events.view_past_events_videos"), pages_videos_all_path, class: "video-button" %>
        </div>

        <div class="col-12 exhibit">

          <%= t("manifold.events.general_admission") %>
        </div>

    </div>
  </div>
</div>
