<p id="notice"><%= notice %></p>

<h1>Events</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Start time</th>
      <th>End time</th>
      <th>Building</th>
      <th>Space</th>
      <th>External building</th>
      <th>External space</th>
      <th>External address</th>
      <th>External city</th>
      <th>External state</th>
      <th>External zip</th>
      <th>Person</th>
      <th>External contact name</th>
      <th>External contact email</th>
      <th>External contact phone</th>
      <th>Cancelled</th>
      <th>Registration status</th>
      <th>Registration link</th>
      <th>Content hash</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= event.title %></td>
        <td><%= event.description %></td>
        <td><%= event.start_time %></td>
        <td><%= event.end_time %></td>
        <td><%= event.building.name %></td>
        <td><%= event.space.name %></td>
        <td><%= event.external_building %></td>
        <td><%= event.external_space %></td>
        <td><%= event.external_address %></td>
        <td><%= event.external_city %></td>
        <td><%= event.external_state %></td>
        <td><%= event.external_zip %></td>
        <td><%= event.person.first_name %> <%= event.person.last_name %></td>
        <td><%= event.external_contact_name %></td>
        <td><%= event.external_contact_email %></td>
        <td><%= event.external_contact_phone %></td>
        <td><%= event.cancelled %></td>
        <td><%= event.registration_status %></td>
        <td><%= event.registration_link %></td>
        <td><%= event.content_hash %></td>
        <td><%= link_to 'Show', event %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
