<%= render "mobile_menu" %>

<div class="container event-index">
  <div class="container">
  <div class="row">
  <div class="col-12">
  <h1 class="d-none d-lg-block"><%= title t("manifold.events.index.page_title") %></h1>
  </div>
  </div>
  <div class="row">
    <div class="col-12">
      <% unless @intro.nil? %>
        <div class="intro mb-0"><%= @intro.description %></div>
      <% end %>
    </div>
  </div>
</div>
<div class="container pb-3 mt-4" id="featured-events">
  <div class="row mb-3">
    <div class="col-12 pt-2">
      <h2 style="font-size: 175%"><%= t("manifold.events.index.past_events_label") %></h2>
    </div>
  </div>

  <div class="row event-filters">
    <a name="list"></a>
    <div class="col-12 col-md-3 text-center">
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button"  
        id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <%= t("manifold.events.index.event_types") %>
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <%= render "types" %>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-3 text-center pl-md-0">
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle pl-0" type="button"
        id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <%= t("manifold.events.index.calendar") %>
        </button>
        <div class="dropdown-menu pl-2" aria-labelledby="dropdownMenuButton">
          <%= render "dates" %>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-6 text-center text-md-right pr-lg-4 pt-3 filter-links">
      <%= link_to t("manifold.events.index.view_current_events"), events_path, class: "d-block d-lg-inline" %>
      | 
      <%= link_to t("manifold.events.index.view_past_events_videos"), webpages_videos_all_path, class: "d-block d-lg-inline" %>
    </div>
  </div>

<div class="container pr-md-4">
  <div class="row mt-3 mr-lg-2 mb-3 sub-level-background">
    <div class="col-12 col-lg-8 events pt-3 mb-3" id="events">
      <div class="row">
        <div class="col-12">  
          <h2 class="p-3 mb-3 current-events"><%= t("manifold.events.index.past_events_label") %></h2>
        </div>
      </div>
    <% if params[:type].present? && params[:type] != "none" %>
      <h2 class="ml-4 mb-4">
        <%= params[:type]+ " " +  t("manifold.events.index.events") %>
      </h2>
    <% end %>
    <% if params[:date].present? %>
      <h2 class="ml-4 mb-4">
        <%= t("manifold.events.index.events_on") + " " + Date.parse(params[:date]).strftime("%m-%d-%Y") if params[:date].present? %>
      </h2>
    <% end %>

      <%= render "events" %>

    </div>

    <div class="col-12 col-lg-4 exhibits">
    <div class="row">
    <div class="col-12 pt-3 mb-3" id="events-exhibits">

      <% unless @exhibitions.blank? %>
        <h2 class="p-3 mb-3 current-exhibits">
          <%= t("manifold.events.index.past_exhibits_label") %>
        </h2>
        
        <%= render "exhibitions" %>
      
      <% end %>

    </div>
  </div>
  </div>
    </div>
  </div>
  </div>
</div>
