<div class="row">
  <div class="col breadcrumbs">
    <%= link_to "Home", root_path.to_s %> 
    <%= link_to "Events & Exhibits", events_path %>
    Past Events
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col">
      <h1>Past Events &amp; Exhibits</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-3 filters">
      <%= render "past_facets" %>
    </div>
    <div class="col-6 events">
      <div class="row">
        <div class="col-12 upcoming-header">
          Past Events
        </div>
      </div>
      
      <%= render "events" %>

      <div class="row text-center paginator">
        <div class="col">
          <%= paginate @events_list %>
        </div>
      </div>
    </div>
    <div class="col-3 exhibits">
      <div class="row">
        <div class="col-12 exhibits-header">
          Current Exhibits
        </div>
      </div>

      <%= render "exhibitions" %>

      <div class="row">
        <div class="col-12">
          <%= link_to "View current events & exhibits", events_path, class: "past-events-button" %>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <%= link_to "View video recordings from past events", events_path, class: "video-button" %>
        </div>
      </div>
    </div>
  </div>
</div>
