<!-- SEARCH -->
<%= render "mobile_menu" %>


<div class="container-lg event-index">
  <div class="container-lg">
    <div class="row">
      <div class="col-12">
      <h1 class="d-none d-lg-block"><%= events_title(action_name) %></h1>
      </div>
    </div>
  </div>


  <div class="container-lg pb-2" id="featured-events">
    <div class="row">
      <div class="col-12 text-center filter_links pt-4">
        <%= current_link(action_name) %>
        <hr />
        <%= link_to t("manifold.events.index.view_past_events_videos"), webpages_videos_all_path, class: "d-block d-lg-inline ps-4 faustina" %>
      </div>
    </div>
    <div class="row event-filters">
      <a name="list"></a>
      <div class="col-12 col-lg-6 text-center">
        <%= render "form" %>
      </div>

      <div class="col-12 col-lg-6 text-center mt-4 ps-md-0">
        <div class="dropdown align-bottom">
          <button class="btn btn-secondary dropdown-toggle ps-0 w-100 ps-3 text-start" type="button"
          id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= t("manifold.events.index.calendar") %>
          </button>
          <div class="dropdown-menu ps-2 w-100 pb-3" aria-labelledby="dropdownMenuButton">
            <%= render "dates" %>
          </div>
        </div>
      </div>
      <div class="col-12">
        <%= workshops_link(action_name) %>
      </div>
    </div>
  </div>

  <div class="container-lg">
    <div class="row mt-3 mb-3">
      <div class="col-12 events pt-3 mb-3 ps-0" id="search-events">
        <div class="row">
          <div class="col ps-4">
            <a name="list" id="list"></a>
            <h2 class="mb-4 workshops-label d-inline-block w-100">
              <%= set_header(@type) %></span> <%= close_button(action_name) %>
            </h2>
          </div>
        </div>


        <%= turbo_frame_tag "events" do %>
          <%= render "events" %>
        <% end %>

      </div>
    </div>
  </div>
</div>
