<% content_for :body_class, "event-show" %>

<div class="event-show container">
  <div class="row">
    <div class="col crumbs">
      < <%= link_to t("manifold.events.show.breadcrumb"), events_path %>
    </div>
  </div>

  <div class="row">

    <div class="col-12 col-lg-3 text-center">
      <% if @event.image.attached? %>
          <%= image_tag @event.custom_image(600,600), class: "decorative", alt: "" %>
        <% else %>
          <%= image_tag 'T.png', class: "decorative", alt: "" %>
        <% end %>
    </div>

    <div class="col-12 col-lg-6 event-info">
      <h1 class="page-title"><%= title @event.title %></h1>
      <p class="fs-5"><%= @event.get_date %> | <%= @event.set_times %></p>
      <%= @event.description %>
    </div>

    <div class="col-12 col-lg-3 event-data ps-lg-5">

      <% unless @event.registration_link.blank? %>

        <div class="col access-link">
          <h2><%= link_to t("manifold.events.show.register"), strip_tags(@event.registration_link) %></h2>
        </div>

      <% end %>


      <% unless @event.building.nil? %>
        <div class="col event-location">
            <h3 class="event-space"><%= link_to @event.building.name, building_path(@event.building) %></h3>
            <p>
              <% unless @event.space.nil? %>
                <%= @event.space.name %><br />
              <% end %>
              <%= @event.building.address1 %><br />
              <%= @event.building.address2 %>
            </p>
          <% else %>
          <p>
            <strong><%= @event.external_building %></strong><br />
            <% unless @event.external_address.blank? %>
              <%= @event.external_address %><br />
              <%= @event.external_city %>, <%= @event.external_state %> <%= @event.external_zip %>
            <% end %>
          </p>
        </div>
      <% end %>


    </div>
  </div>
  </div>

<script type="application/ld+json">
<%= json_ld(@event) %>
</script>
