<% content_for :body_class, "event-show" %>
<script type="application/ld+json">
  <%= json_ld(@event) %>
</script>
<div class="row">
  <div class="col breadcrumbs">
    <%= link_to "Home", root_path.to_s %>
    <%= link_to "Events", events_path %>
    <%= @event.title %>
  </div>
</div>

<div class="row">
  <div class="col-3 text-center">
    <% if @event.image.attached? %>
        <%= image_tag @event.image.variant(gravity: 'center', extent: "100%x100%") %>
      <% else %>
        <%= image_tag 'T-borderless.gif' %>
      <% end %>
  </div>
  <div class="col-6 event-info">
    <h1><%= @event.title %></h1>
    <%= sanitize @event.description.html_safe %>
  </div>
  <div class="col-3 event-data">
    <div class="row">
      <div class="endcap purple">
        <h2>Details</h2>
          <p><%= @event.get_date %></p>
          <p><%= @event.set_times %></p>
      </div>
    </div>

    <div class="row">
      <div class="endcap green">
        <% unless @event.space.nil? %>
          <h2 class="event-space"><%= link_to @event.space.name, space_path(@event.space) %></h2>
        <% else %>
          <h2><%= @event.external_space %></h2>
          <p><%= @event.external_building %><br />
          <%= @event.external_address %><br />
          <%= @event.external_city %>, <%= @event.external_state %> <%= @event.external_zip %></p>
        <% end %>
      </div>
    </div>

    <% unless @event.registration_link.blank? %>
      <div class="row">
        <div class="endcap olive">
          <h2><%= link_to "Register", strip_tags(@event.registration_link) %></h2>
        </div>
      </div>
    <% end %>
  </div>
</div>
  <% if @event.can_visit %>
    <%= render "visit" %>
  <% end %>
