<% content_for :body_class, "event-show" %>

<div class="event-show container">
  <div class="row">
    <div class="col crumbs">
      < <%= link_to t("manifold.events.show.breadcrumb"), events_path %>
    </div>
  </div>

  <div class="row">

    <div class="col-12 col-lg-3 text-center">
      <% if @event.image.attached? %>
          <%= image_tag @event.fit_image(600, 600), class: "decorative img-fluid event-show-image", alt: "" %>
        <% else %>
          <%= image_tag 'T.png', class: "decorative img-fluid event-show-image", alt: "" %>
        <% end %>
    </div>

    <div class="col-12 col-lg-6 event-info">
      <% title @event.title %>
      <h1 class="page-title"><%= @event.title %></h1>
      <p class="fs-5"><%= @event.get_date %> | <%= @event.set_times %></p>
      <%= @event.description %>
    </div>

    <div class="col-12 col-lg-3 event-data ps-lg-5">

      <% unless @event.registration_link.blank? %>

        <div class="col access-link">
          <h2>
            <%= link_to t("manifold.events.show.register"), strip_tags(@event.registration_link), class: "caret-right" %>
          </h2>
        </div>

      <% end %>

      <%= render_event_location(@event) %>

    </div>
  </div>
  </div>

<script type="application/ld+json">
<%= json_ld(@event) %>
</script>
