<%#
# Form Partial
This partial is rendered on a resource's `new` and `edit` pages,
and renders all form fields for a resource's editable attributes.
## Local variables:
- `page`:
  An instance of [Administrate::Page::Form][1].
  Contains helper methods to display a form,
  and knows which attributes should be displayed in the resource's form.
[1]: http://www.rubydoc.info/gems/administrate/Administrate/Page/Form
%>
<%= form_for([namespace, page.resource], html: { class: "form" }) do |f| %>
  <% if page.resource.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= t(
          "administrate.form.errors",
          pluralized_errors: pluralize(page.resource.errors.count, t("administrate.form.error")),
          resource_name: display_resource_name(page.resource_name)
        ) %>
      </h2>

      <ul>
        <% page.resource.errors.full_messages.each do |message| %>
          <li class="flash-error"><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% if action_name == "edit" && @models.include?(resource_name.to_s) && !is_admin? %>
    <div> <%= I18n.t("manifold.forms.hidden_title_text").html_safe %> </div>
  <% end %>

  <%= render("form_fields", page: page, f: f, current_account: current_account) %>

  <% if action_name == "edit" && is_draftable?(page.attributes) %>
    <div class="field-unit field-unit--apply-draft %>" >
      <div class="field-unit__label">
        <%= f.label :publish, t("manifold.admin.actions.publish")%>
      </div>
      <div class="field-unit__field">
        <%= f.check_box :publish %>
      </div>
    </div>
  <% end %>
  <div class="form-actions">
    <%= f.submit %>
  </div>
<% end %>
