<% if (page.resource.respond_to?(:versions) and not page.resource.versions.empty?) %>
  <hr/>
  <div class="field-unit field-unit--has_many ">
    <div class="field-unit__label">
      <label for="versions">Versions</label>
    </div>
    <div class="field-unit__field">
      <table class="table">
        <thead>
          <tr>
            <th>Revert</th>
            <th>Modifier</th>
            <th>Event</th>
            <th>Date/Time</th>
            <th>Diffs</th>
          </tr>
        </thead>
        <tbody>
          <% page.resource.versions.reverse_each do |version| %>
            <%= tag.tr do %>
              <%= tag.td do %>
                <%= link_to(
                  t("manifold.admin.actions.revert"),
                  [:edit, namespace, page.resource, version: version.id],
                  class: "button"
                ) if valid_action?(:edit) && show_action?(:edit, page.resource) %>
              <% end %>
              <%= tag.td version.event %>
              <%= tag.td Account.find(version.whodunnit).email unless version.whodunnit.nil? %>
              <%= tag.td version.created_at %>
              <%= tag.td changed_fields(version.changeset) %>
            <% end %>
          <% end %>
        </tbody>
    </div>
  </div>
<% end %>
