<%#
# Show

This view is the template for the show page.
It renders the attributes of a resource,
as well as a link to its edit page.

## Local variables:

- `page`:
  An instance of [Administrate::Page::Show][1].
  Contains methods for accessing the resource to be displayed on the page,
  as well as helpers for describing how each attribute of the resource
  should be displayed.

[1]: http://www.rubydoc.info/gems/administrate/Administrate/Page/Show
%>

<% content_for(:title) { t("administrate.actions.show_resource", name: page.page_title) } %>

<header class="main-content__header" role="banner">
  <h1 class="main-content__page-title">
    <%= content_for(:title) %>
  </h1>

  <div>
    <%= link_to(
      t("administrate.actions.edit_resource", name: page.resource_name.humanize),
      [:edit, namespace, page.resource],
      class: "button",
    ) if existing_action?(page.resource.class, :edit) && authorized_action?(page.resource, :edit) %>
  </div>
  <% if Rails.application.routes.url_helpers.method_defined?(page.resource.class.name.underscore + "_path") %>
  <div>
    <% unless ["ExternalLink"].include? page.resource.class.name  %>
      <%= link_to(t("manifold.admin.actions.show_website"), url_for(page.resource.class)+"/"+page.resource.id.to_s, class: "button green")  %>
    <% else %>
      <% if page.resource.class.name == "ExternalLink" %>
        <%= link_to(t("manifold.admin.actions.show_website"), page.resource.link, class: "button green")  %>
      <% else %>
        <%= link_to(t("manifold.admin.actions.show_website"), url_for(page.resource), class: "button green")  %>
      <% end %>
    <% end %>
  </div>
  <% end %>
</header>

<section class="main-content__body">
  <dl>
    <% page.attributes.each do |title, attributes| %>
      <% attributes.each do |attribute| %>
        <dt class="attribute-label" id="<%= attribute.name %>">
          <% unless attribute.attribute.to_s.downcase == "id" %>
            <%= t(
              "helpers.label.#{resource_name}.#{attribute.name}",
              default: attribute.name.titleize,
            ) %>
          <% else %>
            <%= t("Permalink") %>
          <% end %>
        </dt>

        <dd class="attribute-data attribute-data--<%=attribute.html_class%>">
          <% unless attribute.attribute.to_s.downcase == "id" %>
            <%= render_field attribute, page: page %>
          <% else %>
            <%= "/#{attribute.resource.class.to_s.underscore.downcase.pluralize}/#{attribute.to_s}" unless attribute.resource.class.to_s == "Building" || attribute.resource.class.to_s == "Person" %>
            <%= "/libraries/#{attribute.to_s}" if attribute.resource.class.to_s == "Building" %>
            <%= "/people/#{attribute.to_s}" if attribute.resource.class.to_s == "Person" %>
          <% end %>
        </dd>
      <% end %>
    <% end %>
  </dl>
    <%= render "select_version", page: page %>
</section>
