
<ul id="alphamenu">
  <li class="alphalink">
    Jump to: 
  </li>
  <li class="alphalink">
    <%= link_to "A", :controller=>"persons", :id=>"a" %>
  </li>
  <li class="alphalink">
    <%= link_to "B", :controller=>"persons", :id=>"b" %>
  </li>
  <li class="alphalink">
    <%= link_to "C", :controller=>"persons", :id=>"c" %>
  </li>
  <li class="alphalink">
    <%= link_to "D", :controller=>"persons", :id=>"d" %>
  </li>
  <li class="alphalink">
    <%= link_to "E", :controller=>"persons", :id=>"e" %>
  </li>
  <li class="alphalink">
    <%= link_to "F", :controller=>"persons", :id=>"f" %>
  </li>
  <li class="alphalink">
    <%= link_to "G", :controller=>"persons", :id=>"g" %>
  </li>
  <li class="alphalink">
    <%= link_to "H", :controller=>"persons", :id=>"h" %>
  </li>
  <li class="alphalink">
    <%= link_to "I", :controller=>"persons", :id=>"i" %>
  </li>
  <li class="alphalink">
    <%= link_to "J", :controller=>"persons", :id=>"j" %>
  </li>
  <li class="alphalink">
    <%= link_to "K", :controller=>"persons", :id=>"k" %>
  </li>
  <li class="alphalink">
    <%= link_to "L", :controller=>"persons", :id=>"l" %>
  </li>
  <li class="alphalink">
    <%= link_to "M", :controller=>"persons", :id=>"m" %>
  </li>
  <li class="alphalink">
    <%= link_to "N", :controller=>"persons", :id=>"n" %>
  </li>
  <li class="alphalink">
    <%= link_to "O", :controller=>"persons", :id=>"o" %>
  </li>
  <li class="alphalink">
    <%= link_to "P", :controller=>"persons", :id=>"p" %>
  </li>
  <li class="alphalink">
    <%= link_to "Q", :controller=>"persons", :id=>"q" %>
  </li>
  <li class="alphalink">
    <%= link_to "R", :controller=>"persons", :id=>"r" %>
  </li>
  <li class="alphalink">
    <%= link_to "S", :controller=>"persons", :id=>"s" %>
  </li>
  <li class="alphalink">
    <%= link_to "T", :controller=>"persons", :id=>"t" %>
  </li>
  <li class="alphalink">
    <%= link_to "U", :controller=>"persons", :id=>"u" %>
  </li>
  <li class="alphalink">
    <%= link_to "V", :controller=>"persons", :id=>"v" %>
  </li>
  <li class="alphalink">
    <%= link_to "W", :controller=>"persons", :id=>"w" %>
  </li>
  <li class="alphalink">
    <%= link_to "X", :controller=>"persons", :id=>"x" %>
  </li>
  <li class="alphalink">
    <%= link_to "Y", :controller=>"persons", :id=>"y" %>
  </li>
  <li class="alphalink last">
    <%= link_to "Z", :controller=>"persons", :id=>"z" %>
  </li>
 </ul>
