<div class="row">
  <div class="col-12 col-md-9">
    <div class="row">
      <div class="row person-block desktop">
      <div class="col-3">
        <% if @person.image.attached?  %>
          <%= image_tag @person.show_image, alt: @person.name %>
        <% else %> 
          <%= image_tag "T.gif", style: 'width: 300px;' %>
        <% end %>
      </div>
      <div class="col-9">
        <h1 class="person-name"><%= @person.first_name %> <%= @person.last_name %></h1>
        <div class="job-title"><%= @person.job_title %></div>
        <div><%= mail_to @person.email_address, @person.email_address %></div>
        <div><%= phone_formatted(@person.phone_number) %></div>
        <div>
          <% unless @departments.blank? %>
            <% @departments.each_with_index do |group, index| %>
              <%= link_to group.name, group %>
              <% unless index == (@departments.size - 1) %>, <br /><% end %>
            <% end %>
          <% end %>
        </div>
        <% unless @person.spaces.empty? %>
          <div>
            <%= link_to @building.name, @building %>: <%= link_to @person.spaces.first.name, @person.spaces.first %>
          </div>
        <% else %>
          <div><%= link_to @building.name, @building %></div>
        <% end %>
        <% unless @person.personal_site.blank? %>
          <div>
            <%= link_to "Personal web site", strip_tags(@person.personal_site) %>
          </div>
        <% end %>
        <% unless @person.chat_handle.blank? %>
          <div>
            <%= @person.chat_handle %>
          </div>
        <% end %>

      </div>
    </div>
  </div>
  </div>

  <div class="col-12 col-md-3 right-side">
    <% unless @person.springshare_id.blank? %>
      <h2><%= link_to "Make an appointment", "https://api3.libcal.com/appointments-widget.php?u=#{@person.springshare_id}&iid=1621&t=Make%20an%20Appointment", class: "springshare-appointment", target: "_new" %></h2>
    <% end %>

    <% unless @person.specialties.second.nil? %>
      <div>
        <h2>Subjects</h2>
      </div>
      <div class="subject-list text-left">
        <ul class="list-unstyled">
          <% @person.specialties.drop(1).each do |specialty| %>
            <li><%= specialty %></li>
          <% end %>
        </ul>
      </div> 
    <% end %>
  </div>
</div>
