<div class="row">
  <div class="col-12 col-md-9">
    <div class="row">
      <div class="row person-block desktop">
      <div class="col-4">
        <% if @person.image.attached?  %>
          <%= image_tag @person.show_image, class: "decorative", alt: "" %>
        <% else %>
          <%= image_tag "T.gif", style: 'width: 300px;', class: "decorative", alt: "" %>
        <% end %>
      </div>
      <div class="col-8">
        <h1 class="person-name page-title"><%= title "#{@person.first_name} #{@person.last_name}" %></h1>
        <div class="job-title"><%= @person.job_title %></div>
        <div><%= mail_to @person.email_address, @person.email_address %></div>
        <div><%= phone_formatted(@person.phone_number) %></div>
        <div>
          <%= sanitize depts_list(@person).html_safe %>
        </div>
        <% if @person.buildings.present? %>
          <div>
            <% @buildings.each do |building| %>
              <%= link_to building.name, building %> 
            <% end %>
          </div>
        <% end %>
        <% unless @person.personal_site.blank? %>
        <div>
          <%= link_to t("manifold.people.show.personal_site"), strip_tags(@person.personal_site) %>
        </div>
        <% end %>
        <% unless @person.chat_handle.blank? %>
        <div>
          <%= @person.chat_handle %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
  </div>

  <div class="col-12 col-md-3 right-side">
    <% unless @person.specialties.blank? %>
      <h2><%= t("manifold.people.show.subjects") %></h2>
      <div class="subject-list text-left">
        <ul class="list-unstyled">
          <% @person.specialties.each do |s| %>
            <li><%= s %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <% unless @person.libguides_account.blank? %>
      <h2>
        <%= link_to t("manifold.people.show.guides_link"), "https://guides.temple.edu/prf.php?account_id=#{@person.libguides_account}", class: "libguides-link", target: "_new" %>
      </h2>
    <% end %>

    <% unless @person.springshare_id.blank? %>
      <h2>
        <%= link_to t("manifold.people.show.appointment_link"), "https://api3.libcal.com/appointments-widget.php?u=#{@person.springshare_id}&iid=1621&t=Make%20an%20Appointment", class: "springshare-appointment", target: "_new" %>
      </h2>
    <% end %>

  </div>
</div>
