<div class="row">
  <div class="col-12 col-md-9">
    <div class="row">
      <div class="row person-block desktop">
      <div class="col-4">
        <% if @person.image.attached?  %>
          <%= image_tag @person.show_image, class: "decorative" %>
        <% else %> 
          <%= image_tag "T.gif", style: 'width: 300px;', class: "decorative" %>
        <% end %>
      </div>
      <div class="col-8">
        <h1 class="person-name page-title"><%= title "#{@person.first_name} #{@person.last_name}" %></h1>
        <div class="job-title"><%= @person.job_title %></div>
        <div><%= mail_to @person.email_address, @person.email_address %></div>
        <div><%= phone_formatted(@person.phone_number) %></div>
        <div>
          <%= depts_list(@person).html_safe %>
        </div>
        <% unless @person.spaces.empty? %>
          <div>
            <% @buildings.each do |key,value| %>
            <%= link_to key.name, key %>: 
              <% value.each do |space| %>
                <%= link_to space.name, space %><% unless space == value.last %>,<% end %> 
              <% end %>
              <br />
            <% end %>
          </div>
        <% end %>
        <% unless @person.personal_site.blank? %>
        <div>
          <%= link_to "Personal web site", strip_tags(@person.personal_site) %>
        </div>
        <% end %>
        <% unless @person.chat_handle.blank? %>
        <div>
          <%= @person.chat_handle %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
  </div>

  <div class="col-12 col-md-3 right-side">
    <% unless @person.specialties.blank? %>
      <h2>Subjects</h2>
      <div class="subject-list text-left">
        <ul class="list-unstyled">
          <% specialties(@person).each do |s| %>
            <li><%= s %></li>
          <% end %>
        </ul>
      </div> 
    <% end %>

    <% unless @person.libguides_account.blank? %>
      <h2>
        <%= link_to "Subject guides by this librarian", "https://guides.temple.edu/prf.php?account_id=#{@person.libguides_account}", class: "libguides-link", target: "_new" %>
      </h2>
    <% end %>
    
    <% unless @person.springshare_id.blank? %>
      <h2>
        <%= link_to "Make an appointment", "https://api3.libcal.com/appointments-widget.php?u=#{@person.springshare_id}&iid=1621&t=Make%20an%20Appointment", class: "springshare-appointment", target: "_new" %>
      </h2>
    <% end %>

  </div>
</div>
