<div class="leftside-index d-block d-md-none d-lg-none">
  <div class="panel-group">
    <div class="filter_staff_type">
      <%= render "staff_type" %>
    </div>
    <div class="filter_subjects">
      <%= render "subjects" %>
    </div>
    <div class="filter_location">
      <%= render "location" %>
    </div>
    <div class="filter_department">
      <%= render "department" %>
    </div>
    <div class="filter_reset">
      <%= render "reset" %>
    </div>
  </div>
</div>