<div class="leftside-index d-block d-md-block d-lg-none">
  <div class="panel-group">
    <div class="filter_staff_type">
      <%= render "persons/filters/staff_type" %>
    </div>
    <div class="filter_subjects">
      <%= render "persons/filters/subjects" %>
    </div>
    <div class="filter_location">
      <%= render "persons/filters/location" %>
    </div>
    <div class="filter_department">
      <%= render "persons/filters/department" %>
    </div>
    <div class="filter_reset">
      <%= render "persons/filters/reset" %>
    </div>
  </div>
</div>