<%= render "mobile-menu" %>

<div class="container-xl staff-index" data-controller="people">

  <h1><%= title "Staff Directory" %></h1>

  <div class="container filters">
    <div class="filters row mb-0 p-3 d-none d-lg-flex">
      <div class="col col-lg-4 ps-0">
        <%= form_with(url: people_path, method: :get,
                                          data: {controller: "search-form", 
                                                  action: "input->search-form#search", 
                                                  turbo_frame: "people", 
                                                  turbo_action: "advance"}, 
                                          id: "people-search") do |form| %>
                                            <i class="fa fa-search" aria-hidden="true"></i>
                                            <%= form.text_field :search, placeholder: "search staff directory by name or title", class: "form-control" %>
                                            <%= form.label :search, "search staff directory by name or title", class: "element-invisible" %>
                                          <% end %>
      </div>
      <div class="col col-lg-4">
      <%= form_with url: people_path, method: "GET", id: "people-filters", class: "d-inline-block ms-2 w-100" do |f| %>
        <%= f.select :department, @departments, { include_blank: "filter by department" }, class: "w-100", data: { action: "change->people#departments" } %>
      <% end if @departments.present? %>
      </div>
      <div class="col col-lg-4">
      <%= form_with url: people_path, method: "GET", id: "people-filters", class: "d-inline-block ms-2 w-100" do |f| %>
        <%= f.select :subject, @subjects, { include_blank: "filter by specialty" }, class: "w-100", data: { action: "change->people#specialties" } %>
      <% end if @subjects.present? %>
      </div>
    </div>

    <div class="row px-3 d-none d-lg-flex">
      <div class="col-12 mb-2 ms-3 ms-lg-0 filter-links">
      <% if params[:specialists] %>
        <%= link_to t("manifold.people.filters.limited_to_specialists"), people_path(specialists: true), class: "ps-3" %>
        -- <%= link_to "[Print this view]", specialists_print_path, class: "ms-2", id: "specialist-print" %>
      <% else %>
        <p class="d-inline-block text-start ms-3 mb-0"><%= link_to t("manifold.people.filters.limit_to_specialists"), people_path(specialists: true) %></p>
      <% end %>
        <p class="d-inline-block float-end mb-0 me-2"><%= link_to "Reset Staff List", people_path %></p>
      </div>
    </div>
  </div>
    
    <div class="row mb-4">
      <div class="col-12 px-0">
        <div class="float-lg-end d-lg-inline-block me-4 ps-2 fs-5">
          <%= t("manifold.people.entity_help_html") %>
        </div>
      <% if @filter.any?.present? %>
        <div class="selected-filter d-inline-block ms-2 mt-3 mb-3 mb-lg-0 mt-lg-0 ms-lg-3 fs-5 float-start">
          <span class="key"><%= @filter[0] %></span>: <%= @filter[1] %>
        </div>
      <% end if @filter.present? %>
      </div>
    </div>

    <div class="row">
    <div class="col-12">
        <%= turbo_frame_tag "people" do %>
          <%= render "persons_list" %>
        <% end %>
      </div>
    </div>
    
  </div>

</div>
