<%= render "mobile-menu" %>

<div class="container staff-index">

  <h1><%= title "Staff Directory" %></h1>

  <div class="filters row pt-4 pb-3 px-0 mb-4">
    <div class="col-12 d-inline-block">
    <%= form_tag(person_search_path, method: "POST", class: "d-inline-block w-25 float-left", id: "people-search") do %>
			<%= label_tag(:search, "search staff directory by name or title", :class=>"element-invisible") %>
			<%= text_field_tag(:search, nil, class: "form-control w-100 d-inline-block", 
								placeholder: "search staff directory by name or title",
								results: "0"
								) %>
		<% end %>

    <%= form_with url: people_path, method: "GET", id: "people-filters", class: "w-75 d-inline-block" do |f| %>
      <%= f.select :department, @departments, include_blank: "filter by department" %>
      <%= f.select :subject, @subjects, include_blank: "filter by specialty" %>
    <% end %>
    </div>
    <div class="col-12 mt-3 mb-0 ml-3 filter-links">
    <% if params[:specialists] %>
      <%= link_to t("manifold.people.filters.limited_to_specialists"), people_path(specialists: true), class: "float-left pr-3" %>
       -- <%= link_to "[Print this view]", specialists_print_path, class: "ml-2" %></span>
    <% else %>
      <%= link_to t("manifold.people.filters.limit_to_specialists"), people_path(specialists: true), class: "float-left" %>
    <% end %>
      <span class="float-right mr-4"><%= link_to "Reset Staff List", people_path %></span>
    </div>
  </div>
  
  <div class="row">
    <div class="col-9">
    <% if @filter.any?.present? %>
      <h3 class="mb-4">
      <span class="selected-filter">
        <span class="key"><%= @filter[0] %></span>: <%= @filter[1] %>
      </span>
      </h3>
    <% end %>
      <%= render "persons_list" %>
    </div>

    <div class="col-12 col-lg-3 right-side">
      <div class="entity-help">
        <%= t("manifold.people.entity_help_html") %>
      </div>
      <% unless @fcn_link.nil? %>
        <div class="access-link">
          <h3><%= link_to t("manifold.people.fcn_link"), @fcn_link %></h3>
        </div>
      <% end %>
    </div>

  </div>

</div>
