<div class="row">
  <div class="col breadcrumbs">
    <%= link_to "Home", root_path.to_s %> 
    People
  </div>
</div>

<div class="row">
  <div class="col">
    <div class="vertical-stripes-sm">
      <h2><span>Persons</span></h2>
    </div>
  </div>
</div>

  <table>
    <tbody>
      <tr>
        <td width="25%">Name</td>
        <td width="25%">Phone Number</td>
        <td width="25%">Email Address</td>
        <td width="25%">Location</td>
      </tr>
      <% @persons.each do |person| %>
      <tr>
        <td><%= link_to (person.last_name+', '+person.first_name), person %></td>
        <td><%= person.phone_number %></td>
        <td><%= person.email_address %></td>
        <td><%= person.spaces.last.name unless person.spaces.empty? %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

