<%= render "mobile-menu" %>

<div class="container staff-index">

  <h1><%= title "Staff Directory" %></h1>
  <div class="row">
    <div class="col ml-5 mb-4">
      <%= t("manifold.people.intro_html") %>
    </div>
  </div>

  <div class="row p-4 mb-4" style="background-color:#eee;">
  <%= form_with url: people_path, method: "GET", id: "people-search" do |f| %>
    <div class="col-4">
      <form action=<%= "#{librarysearch_url("everything")}" %> id="global-search" name="header-search" >
        <label for="librarySearch" class="visuallyhidden"><%= t("manifold.header.search.everything") %></label>
        <input type="text" name="q" id="librarySearch" placeholder="<%= t("manifold.default.search_everything") %>" autocomplete="off" />
        <input type="hidden" name="search_field" id="search_field" value="all">
      </form>
    </div>
    <div class="col-4">
      <%= f.select :person_id, @departments.collect { |p| [ p.name, 
                                                      people_path(request.query_parameters.merge({department: p, page: 1}))
                                                      ]}, 
                          { include_blank: "filter by department",
                            class: "p-2" } %>
    </div>
    <div class="col-4">
      <%= render "persons/filters/subjects" %>
    </div>
  <% end %>
  </div>
  <div class="row">
    <div class="col-9">
      <div class="d-block d-lg-none filters">
        <% unless filter_tags.empty? %>
          <% filter_tags.each do |tag| %>
            <span class="filter-tag"><%= tag.html_safe %></span>
          <% end %>
          <% unless filter_tags.size < 2 %>
            <%= link_to "Reset Filters", people_path, class: "reset-filters" %>
          <% end %>
        <% end %>
      </div>
      <%= render "persons_list" %>
    </div>

    <div class="col-12 col-lg-3 right-side">
      <div class="entity-help"><%= t("manifold.people.entity_help_html") %></div>
      <% unless @fcn_link.nil? %>
        <div class="access-link"><h3><%= link_to t("manifold.people.fcn_link"), @fcn_link %></h3></div>
      <% end %>
    </div>

  </div>

</div>
