<h1>Persons</h1>
<p id="notice"><%= notice %></p>

  <table>
    <tbody>
      <tr>
        <td width="25%">Name</td>
        <td width="25%">Phone Number</td>
        <td width="25%">Email Address</td>
        <td width="25%">Location</td>
      </tr>
    <% @persons.each do |person| %>
      <tr>
        <td><%= link_to (person.first_name+' '+person.last_name), person %></td>
        <td><%= person.phone_number %></td>
        <td><%= person.email_address %></td>
        <td><%= person.building.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

