<div class="row" id="seagreen">
  <div class="col-11 offset-1">
    <h1>
      <%= @person.first_name %> <%= @person.last_name %>
    </h1>
  </div>
</div>

<div class="row" style="border-bottom: solid #ccc 1px;margin-bottom: 14px;padding-bottom: 7px;">
  <div class="col col-sm-3">
    <% if @person.photo.attached?  %>
      <%= image_tag @person.photo.variant(resize: '280x280', gravity: 'center', extent: '300x300'), style: 'margin-top: 35px;' %>
    <% else %>
      <%= image_tag "T.gif", style: 'margin-top: 28px;width: 300px;' %>
    <% end %>
  </div>

  <div class="col col-sm-9">
        <p style="border-bottom: solid #ccc 1px;font-size:115%;">
          <strong><%=@person.job_title %></strong>
        </p>

        <% unless @person.spaces.empty? %>
          <div class="row">
            <div class="col">
              <p>
                <strong>Location:</strong><br />
                <%= link_to @building.name, @building %>, <%= link_to @person.spaces.last.name, @person.spaces.last %>
              </p>
            </div>
          </div>
        <% end %>

    <div class="row">
      <div class="col col-sm-3">
        <p>
        <strong>Phone number:</strong><br />
          <%= @person.phone_number %>
        </p>

        <p>
          <strong>Email Address:</strong><br />
          <%= @person.email_address %>
        </p>
      </div>

      <div class="col col-sm-4">
        <% unless @person.springshare_id.blank? %>
          <p>
            <strong>LibCal Scheduler:</strong><br />
            <%= link_to "Schedule an Appointment", "https://api3.libcal.com/appointments-widget.php?u=8632&iid=#{@person.springshare_id}&t=Make%20an%20Appointment" %>
          </p>
        <% end %>

        <% unless @person.research_identifier.blank? %>
          <p>
            <strong>Research Identifier:</strong><br />
            <%=@person.research_identifier %>
          </p>
        <% end %>
      </div>

      <div class="col col-sm-5">
        <% unless @person.chat_handle.blank? %>
          <p>
            <strong>Chat:</strong><br />
            <%= @person.chat_handle %>
          </p>
        <% end %>

        <% unless @person.personal_site.blank? %>
          <p>
            <strong>Personal Web Site:</strong><br />
            <%= link_to @person.personal_site, @person.personal_site %>
          </p>
        <% end %>
      </div>
    </div>
  </div>
</div>

<%= link_to 'Back', people_path %>
