
<p id="notice"><%= notice %></p>

<h1><%= @person.first_name %> <%= @person.last_name %></h1>
</p>

<div class="row" style="border-bottom: solid #ccc 1px;margin-bottom: 14px;padding-bottom: 7px;">
  <div class="col col-sm-2">
    <% if @person.photo.attached?  %>
      <%= image_tag @person.photo %>
    <% end %>
  </div>

  <div class="col col-sm-10">
        <p style="border-bottom: solid #ccc 1px;font-size:115%;">
          <strong><%=@person.job_title %></strong>
        </p>
    <div class="row">
      <div class="col col-sm-3">
        <p>
        <strong>Phone number:</strong><br />
          <%= @person.phone_number %>
        </p>

        <p>
          <strong>Email Address:</strong><br />
          <%= @person.email_address %>
        </p>
      </div>

      <div class="col col-sm-5">
        <% unless @person.spaces.empty? %>
          <p>
            <strong>Location:</strong><br />
            <%= @building.name %>, <%= @person.spaces.last.name %>
          </p>
        <% end %>

        <% unless @person.research_identifier.nil? %>
          <p>
            <strong>Identifier:</strong><br />
            <%=@person.research_identifier %>
          </p>
        <% end %>
      </div>

      <div class="col col-sm-4">
        
        <% unless @person.springshare_id.nil? %>
          <p>
            <strong>LibCal Scheduler:</strong><br />
            <%= link_to "Schedule an Appointment", "https://api3.libcal.com/appointments-widget.php?u=#{@person.springshare_id}&iid=1621&t=Make%20an%20Appointment" %>
          </p>
        <% end %>

        <% unless @person.chat_handle.nil? %>
          <p>
            <strong>Chat:</strong><br />
            <%= @person.chat_handle %>
          </p>
        <% end %>

        <% unless @person.personal_site.nil? %>
          <p>
            <strong>Personal Web Site:</strong><br />
            <%= link_to @person.personal_site, @person.personal_site %>
          </p>
        <% end %>
      </div>
    </div>
  </div>
</div>

<%= link_to 'Back', people_path %>
