<%= render "mobile_menu" %>

<div class="container aid-index">

  <h1 class="d-none d-lg-block">Finding Aids</h1>

  <div class="row">
    <div class="col-3 leftside-index d-none d-md-none d-lg-block">
      <div class="panel-group" id="accordion">
			  <div class="filter_collections">
			    <%= render "collections" %>
			  </div>
			  <div class="filter_subjects">
			    <%= render "subjects" %>
			  </div>
			  <div class="filter_reset">
			    <%= render "reset" %>
			  </div>
			</div>
    </div>

    <div class="col-12 col-lg-9" style="padding-left: 28px;">
      <%= render "aid_list" %>
    </div>
  </div>

</div>
