<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @finding_aid.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @finding_aid.description %>
</p>

<p>
  <strong>Subject:</strong>
  <%# @finding_aid.subject %>
</p>

<p>
  <strong>Content link:</strong>
  <%= @finding_aid.content_link %>
</p>

<p>
  <strong>Identifier:</strong>
  <%= @finding_aid.identifier %>
</p>

