<div class="container-lg finding-aid">

  <div class="row">
    <div class="col-12 col-lg-3 mt-3 back-button">
      < <%= link_to t("manifold.finding_aids.show.breadcrumb"), finding_aids_path, class: "inline" %>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-12 col-lg-9 ps-5">
      
      <%= render "secondary_covid_alert" if @covid_alert.present? %>
      
      <h1 class="page-title">
        <%== title sanitize @finding_aid.name %>
      </h1>

      <div class="details">
        <h2><%= t("manifold.finding_aids.show.headings.collection_id") %></h2>
        <p><%= @finding_aid.identifier %></p>

        <% if @finding_aid.subject.present?  %>
        <h2><%= t("manifold.finding_aids.show.headings.related_subjects") %></h2>
        <ul class="list-unstyled subjects">
          <% @finding_aid.subject.each do |subject| %>
            <li><%= link_to subject, finding_aids_path(subject: subject), class: "inline" %></li>
          <% end if @finding_aid.subject.present? %>
        </ul>
        <% end %>

        <% if @finding_aid.collections.present? %>
        <h2><%= t("manifold.finding_aids.show.headings.collecting_areas") %></h2>
        <ul class="list-unstyled collections">
        <% @finding_aid.collections.each do |collection| %>
            <li><%= link_to collection.name, collection_path(collection), class: "inline" %></li>
        <% end %>
        </ul>
        <% end %>

        <h2><%= t("manifold.finding_aids.show.headings.description") %></h2>
        <%= @finding_aid.description %>
      </div>

    </div>

    <div class="col-12 col-lg-3 mt-4 mt-lg-0">
      <% unless @finding_aid.collections.blank? || @finding_aid.identifier.blank? %>
      <% unless @aeon %>
      <div class="access-link">
        <h2><%= link_to t("manifold.finding_aids.aeon_link_label"), t("manifold.finding_aids.aeon_link_link", 
                          name: @finding_aid.name,
                          collections_name: @finding_aid.collections.first.name,
                          identifier: @finding_aid.identifier) %></h2>
                          
          <p class="print-only"><%= t("manifold.finding_aids.aeon_link_link", 
                                      name: @finding_aid.name,
                                      collections_name: @finding_aid.collections.first.name,
                                      identifier: @finding_aid.identifier) %></p>
      </div>
      <% end %>
      <% end %>
    </div>
  </div>

</div>
<script type="application/ld+json">
  <%= json_ld(@finding_aid) %>
</script>
