
<p>
  <strong>Name:</strong>
  <%= sanitize @finding_aid.name.html_safe %>
</p>

<p>
  <strong>Description:</strong>
  <%= sanitize @finding_aid.description.html_safe %>
</p>

<p>
  <strong>Subjects:</strong>
  <ul>
  <% @finding_aid.subject.each do |subject| %>
    <li><%= subject %></li>
  <% end %>
  </ul>
</p>

<p>
  <strong>Content link:</strong>
  <%= @finding_aid.content_link %>
</p>

<p>
  <strong>Identifier:</strong>
  <%= @finding_aid.identifier %>
</p>

