<%= render "mobile-menu-secondary" %>

<div class="container charles">

	<div class="row">
		<div class="col">
			<h1><%= @content.title %></h1>
		</div>
	</div>

	<div class="row">
		<div class="col d-none d-lg-block col-lg-3">
			<%= render "categories" %>
		</div>
		<div class="col col-lg-9">
			<%= render "pages/marketing/slideshow" %>
			<div class="charles-content">
				<%= sanitize @content.description.html_safe %>
			</div>
		</div>
	</div>

</div>
