<% content_for :body_class, "categories" %>

<div class="container contact-us" style="margin-top: 35px;">

	<div class="row text-center">
		<div class="col-12 col-md-6 col-lg-4 text-center chat-box">
			<div id="libchat_62e4dcbf0881db4f1514b077fbfd45b7"></div>
			<script src="//v2.libanswers.com/load_chat.php?hash=62e4dcbf0881db4f1514b077fbfd45b7">
			</script>
		</div>
		<div class="col-12 col-md-6 col-lg-8">
			<div class="row">
				<div class="col-12 col-lg-6 text-center">
					<%= render "pages/contact/one" %>
				</div>
				<div class="col-12 col-lg-6 text-center">
					<%= render "pages/contact/two" %>
				</div>
			</div>
			
			<div class="row d-none d-lg-flex">
				<div class="col-6 text-center">
					<%= render "pages/contact/three" %>
				</div>
				<div class="col-6 text-center">
					<%= render "pages/contact/four" %>
				</div>
			</div>

		</div>	<!-- top two rows -->

		<div class="col-12 col-md-6 d-lg-none">
			<%= render "pages/contact/three" %>
		</div>
		<div class="col-12 col-md-6 d-lg-none">
			<%= render "pages/contact/four" %>
		</div>

		<div class="col-12 col-md-6 col-lg-4">
			<%= link_to (image_tag "search-dark.png", class: "category-icon"), "https://answers.library.temple.edu/" %>
			<h2><%= link_to "Search FAQs", "https://answers.library.temple.edu/" %></h2>
			<p></p>
		</div>
		<div class="col-12 col-md-6 col-lg-4">
			<%= link_to (image_tag "collection.png", class: "category-icon"), "/forms/ask-scrc" %>
			<h2><%= link_to "Special Collections", "/forms/ask-scrc" %></h2>
			<p></p>
		</div>
		<div class="col-12 col-md-6 col-lg-4">
			<%= link_to (image_tag "feedback.png", class: "category-icon"), "http://sites.temple.edu/librarysuggestions" %>
			<h2><%= link_to "Give Us Your Feedback", "http://sites.temple.edu/librarysuggestions" %></h2>
			<p></p>
		</div>

</div>
