<% content_for :body_class, "categories" %>

<div class="container contact-us" style="margin-top: 35px;">

	<div class="row text-center">
		<div class="col-12 col-md-6 col-lg-4 text-center chat-box">
			<div id="libchat_62e4dcbf0881db4f1514b077fbfd45b7"></div>
			<script src="//v2.libanswers.com/load_chat.php?hash=62e4dcbf0881db4f1514b077fbfd45b7">
			</script>
		</div>
		<div class="col-12 col-md-6 col-lg-8">
			<div class="row">
				<div class="col-12 col-lg-6 text-center">
					<%= render "pages/contact/one" %>
				</div>
				<div class="col-12 col-lg-6 text-center">
					<%= render "pages/contact/two" %>
				</div>
			</div>
			
			<div class="row d-none d-lg-flex">
				<div class="col-6 text-center">
					<%= render "pages/contact/three" %>
				</div>
				<div class="col-6 text-center">
					<%= render "pages/contact/four" %>
				</div>
			</div>

		</div>	<!-- top two rows -->

		<div class="col-12 col-md-6 d-lg-none">
			<%= render "pages/contact/three" %>
		</div>
		<div class="col-12 col-md-6 d-lg-none">
			<%= render "pages/contact/four" %>
		</div>

		<div class="col-12 col-md-6 col-lg-4">
			<%= link_to @libanswers do %>
			<h2>
				<%= image_tag "search-dark.png", class: "category-icon decorative"  %>
				<br />Search FAQs
			</h2>
			<% end %>
		</div>

		<div class="col-12 col-md-6 col-lg-4">
			<%= link_to "/forms/ask-scrc" do %>
			<h2>
				<%= image_tag "collection.png", class: "category-icon decorative"  %>
				<br />Special Collections
			</h2>
			<% end %>
		</div>

		<div class="col-12 col-md-6 col-lg-4">
			<%= link_to strip_tags(@suggestions) do %>
			<h2>
				<%= image_tag "feedback.png", class: "category-icon decorative"  %>
				<br />Give Us Your Feedback
			</h2>
			<% end %>
		</div>

</div>
