<div id="home">
<div id="searchFields">
		<div class="row d-none d-lg-block">
		    <%= render "search-options" %>
		</div>
		<div class="row d-block d-lg-none">
		  <div class="col">
		    <%= render "responsive-search-options" %>
		  </div>
		</div>
</div>

<div class="container index">
	<div class="row ctaRow">
		<%= render "home-row" %>
	</div>
</div>

<% unless @highlights.blank? %>
<div class="row">
	<div class="col">
		<div class="vertical-stripes">
			<h1><span>News &amp; Highlights</span></h1>
		</div>
	</div>
</div>

<div class="container index">
	<div class="row ctaRow news">
		<%= render "highlights-row" %>
	</div>
</div>
<% end %>

<% unless @events.nil? %>
<div class="row">
	<div class="col">
		<div class="vertical-stripes">
			<h1><span>Events</span></h1>
		</div>
	</div>
</div>

<div class="container index">
	<div class="row ctaRow events">
		<%= render "events-row" %>
	</div>
</div>
<% end %>
