<div id="home">
<div id="searchFields">
	<div id="searchOptions">
		<ul>
			<li>Everything</li>
			<li>Books</li>
			<li>Articles</li>
			<li>Databases</li>
		</ul>
		<div id="advancedSearchLink">
			Advanced Search
		</div>
	</div>
		<div id="dateTime">
			<div id="date">
				FRIDAY, AUGUST 17, 2018
			</div>
			<div id="time">
				Paley Library | 8am - 7pm
			</div>
			<div id="allHours">
				See all library hours >
			</div>
		</div>
</div>

<div class="row ctaRow">
	<div class="col col-sm-6 col-lg-4 col-xl-3">
		<div class="card ctaFirst">
			<%= image_tag('researchhelp.jpg', class: "card-img-top", alt: "Card image cap") %>
		  <div class="card-body">
		    <span class="card-title">Help with Research</span>
		  </div>
		</div>
	</div>
	<div class="col col-sm-6 col-lg-4 col-xl-3">
		<div class="card ctaMidOne">
			<%= image_tag('researchhelp.jpg', class: "card-img-top", alt: "Card image cap") %>
		  <div class="card-body">
		    <span class="card-title">Find a study space</span>
		  </div>
		</div>
	</div>
	<div class="col col-sm-6 col-lg-4 col-xl-3">
		<div class="card ctaMidTwo">
			<%= image_tag('researchhelp.jpg', class: "card-img-top", alt: "Card image cap") %>
		  <div class="card-body">
		    <span class="card-title">Print my paper</span>
		  </div>
		</div>
	</div>
	<div class="col col-sm-6 col-lg-4 col-xl-3">
		<div class="card ctaLast">
			<div class="">
				<ul>
					<li class="oddrow">Health Sciences Libraries ></li>
					<li>Special Collections Research Center ></li>
					<li class="oddrow">Ambler Library ></li>
					<li>All Libraries ></li>
				</ul>
		  </div>
		</div>
	</div>
</div>

<% unless @highlights.blank? %>

<div class="row">
	<div class="col">
		<div class="vertical-stripes">
			<h1><span>News &amp; Highlights</span></h1>
		</div>
	</div>
</div>

<div class="row ctaRow news">
	<% @highlights.each_with_index do |highlight, index| %>
			<div class="col col-sm-6 col-lg-4 col-xl-3">
				<div class="card cta<%= (index+1).ordinalize %> ">

			    <% if highlight.photo.attached?  %>
			      <%= image_tag highlight.photo.variant(resize: '360x360', gravity: 'center'), class: "card-img-top", alt: "alt text field needs to be added to model" %>
			    <% else %>
			      <%= image_tag "T.gif", style: 'width: 300px;' %>
			    <% end %>
				  <div class="card-body">
				    <span class="card-title"><%= highlight.title %></span>
				    <p class="card-text"><%= highlight.blurb %></p>
				    <%= link_to "See more >", highlight_path(highlight), class: 'see-more' %>
				  </div>
				</div>
			</div>
		<% end %>
</div>
<% end %>

<% unless @events.blank? %>
<div class="row">
	<div class="col">
		<div class="vertical-stripes">
			<h1><span>Events</span></h1>
		</div>
	</div>
</div>

<div calss="container">
<div class="row ctaRow events">
	<% @events.in_groups_of(4).each do |event| %>
	<div class="col-12 col-xl-3">
		<div class="card ctaFirst">
    	<% if event.first.image.attached? %>
        <%= image_tag event.first.image.variant(gravity: 'center', extent: "100%x100%"), class: "d-none d-xl-block card-img-top", alt: "" %>
      <% else %>
        <%= link_to image_tag('T-borderless.gif', class: "d-none d-xl-block card-img-top", alt: ""), event_path(event.first) %>
      <% end %>
			<div class="info">
				<div class="d-none d-xl-inline-block when">
					<%= event.first.start_time.strftime("%b %d @ %l%p") %>
				</div>
				<div class="details">
					<%= link_to "Details >", event_path(event.first) %>
				</div>
			</div>
		  <div class="card-body">
		    <span><%= link_to event.first.title, events_path(event.first) %></span>
		    <p class="d-none d-xl-block"><%= strip_tags event.first.description[0..120] %>...</p>
		  </div>
		</div>
	</div>
	<div class="col-12 col-xl-3">
		<div class="card ctaMid">
			<% if event.second.image.attached? %>
        <%= image_tag event.second.image.variant(gravity: 'center', extent: "100%x100%"), class: "d-none d-xl-block card-img-top", alt: "" %>
      <% else %>
        <%= link_to image_tag('T-borderless.gif', class: "d-none d-xl-block card-img-top", alt: ""), event_path(event.second) %>
      <% end %>
			<div class="info">
				<div class="d-none d-xl-inline-block when">
					<%= event.second.start_time.strftime("%b %d @ %l%p") %>
				</div>
				<div class="details">
					<%= link_to "Details >", event_path(event.second) %>
				</div>
			</div>
		  <div class="card-body">
		    <span><%= link_to event.second.title, events_path(event.second) %></span>
		    <p class="d-none d-xl-block"><%= strip_tags event.second.description[0..120] %>...</p>
		  </div>
		</div>
	</div>
	<div class="col-12 col-xl-3">
		<div class="card ctaMid">
			<% if event.third.image.attached? %>
        <%= image_tag event.third.image.variant(gravity: 'center', extent: "100%x100%"), class: "d-none d-xl-block card-img-top", alt: "" %>
      <% else %>
        <%= link_to image_tag('T-borderless.gif', class: "d-none d-xl-block card-img-top", alt: ""), event_path(event.third) %>
      <% end %>
			<div class="info">
				<div class="d-none d-xl-inline-block when">
					<%= event.third.start_time.strftime("%b %d @ %l%p") %>
				</div>
				<div class="details">
					<%= link_to "Details >", event_path(event.third) %>
				</div>
			</div>
		  <div class="card-body">
		    <span><%= link_to event.third.title, events_path(event.third) %></span>
		    <p class="d-none d-xl-block"><%= strip_tags event.third.description[0..120] %>...</p>
		  </div>
		</div>
	</div>
	<div class="col-12 col-xl-3">
		<div class="card ctaLast">
			<% if event.fourth.image.attached? %>
        <%= image_tag event.fourth.image.variant(gravity: 'center', extent: "100%x100%"), class: "d-none d-xl-block card-img-top", alt: "" %>
      <% else %>
        <%= link_to image_tag('T-borderless.gif', class: "d-none d-xl-block card-img-top", alt: "Card image cap"), event_path(event.fourth) %>
      <% end %>
			<div class="info">
				<div class="d-none d-xl-inline-block when">
					<%= event.fourth.start_time.strftime("%b %d @ %l%p") %>
				</div>
				<div class="details">
					<%= link_to "Details >", event_path(event.fourth) %>
				</div>
			</div>
		  <div class="card-body">
		    <span><%= link_to event.fourth.title, events_path(event.fourth) %></span>
		    <p class="d-none d-xl-block"><%= strip_tags event.fourth.description[0..120] %>...</p>
		  </div>
		</div>
	</div>
<% end %>
</div>
</div>
<% end %>
</div>