<div id="home">
<div id="searchFields">
	<div id="searchOptions">
		<ul>
			<li>Everything</li>
			<li>Books</li>
			<li>Articles</li>
			<li>Databases</li>
		</ul>
		<div id="advancedSearchLink">
			Advanced Search
		</div>
	</div>
		<div id="dateTime">
			<div id="date">
				FRIDAY, AUGUST 17, 2018
			</div>
			<div id="time">
				Paley Library | 8am - 7pm
			</div>
			<div id="allHours">
				See all library hours >
			</div>
		</div>
</div>

<div class="row ctaRow">
	<div class="col col-sm-6 col-lg-4 col-xl-3">
		<div class="card ctaFirst">
			<%= image_tag('researchhelp.jpg', class: "card-img-top", alt: "Card image cap") %>
		  <div class="card-body">
		    <span class="card-title">Help with Research</span>
		  </div>
		</div>
	</div>
	<div class="col col-sm-6 col-lg-4 col-xl-3">
		<div class="card ctaMidOne">
			<%= image_tag('researchhelp.jpg', class: "card-img-top", alt: "Card image cap") %>
		  <div class="card-body">
		    <span class="card-title">Find a study space</span>
		  </div>
		</div>
	</div>
	<div class="col col-sm-6 col-lg-4 col-xl-3">
		<div class="card ctaMidTwo">
			<%= image_tag('researchhelp.jpg', class: "card-img-top", alt: "Card image cap") %>
		  <div class="card-body">
		    <span class="card-title">Print my paper</span>
		  </div>
		</div>
	</div>
	<div class="col col-sm-6 col-lg-4 col-xl-3">
		<div class="card ctaLast">
			<div class="">
				<ul>
					<li class="oddrow">Health Sciences Libraries ></li>
					<li>Special Collections Research Center ></li>
					<li class="oddrow">Ambler Library ></li>
					<li>All Libraries ></li>
				</ul>
		  </div>
		</div>
	</div>
</div>

<% unless @highlights.blank? %>

<div class="row">
	<div class="col">
		<div class="vertical-stripes">
			<h1><span>News &amp; Highlights</span></h1>
		</div>
	</div>
</div>

<div class="row ctaRow news">
	<% @highlights.each_with_index do |highlight, index| %>
			<div class="col col-sm-6 col-lg-4 col-xl-3">
				<div class="card cta<%= (index+1).ordinalize %> ">

			    <% if highlight.photo.attached?  %>
			      <%= image_tag highlight.photo.variant(resize: '360x360', gravity: 'center'), class: "card-img-top", alt: "alt text field needs to be added to model" %>
			    <% else %>
			      <%= image_tag "T.gif", style: 'width: 300px;' %>
			    <% end %>
				  <div class="card-body">
				    <span class="card-title"><%= highlight.title %></span>
				    <p class="card-text"><%= highlight.blurb %></p>
				    <%= link_to "See more >", highlight.link, class: 'see-more' %>
				  </div>
				</div>
			</div>
		<% end %>
</div>
<% end %>

<div class="row">
	<div class="col">
		<div class="vertical-stripes">
			<h1><span>Events</span></h1>
		</div>
	</div>
</div>

<div class="row ctaRow events">
	<div class="col col-sm-6 col-lg-4 col-xl-3">
		<div class="card ctaFirst">
			<%= image_tag('researchhelp.jpg', class: "card-img-top", alt: "Card image cap") %>
			<div class="info">
				<div class="when">
					Sep 14 @ 2PM
				</div>
				<div class="details">
					Details >
				</div>
			</div>
		  <div class="card-body">
		    <span style="font-weight:600">Quisque consecteteur null ut sucipit tincidunt</span><br />
		    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
		  </div>
		</div>
	</div>
	<div class="col col-sm-6 col-lg-4 col-xl-3">
		<div class="card ctaMid">
			<%= image_tag('researchhelp.jpg', class: "card-img-top", alt: "Card image cap") %>
			<div class="info">
				<div class="when">
					Sep 14 @ 2PM
				</div>
				<div class="details">
					Details >
				</div>
			</div>
		  <div class="card-body">
		    <span style="font-weight:600">Quisque consecteteur null ut sucipit tincidunt</span><br />
		    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
		  </div>
		</div>
	</div>
	<div class="col col-sm-6 col-lg-4 col-xl-3">
		<div class="card ctaMid">
			<%= image_tag('researchhelp.jpg', class: "card-img-top", alt: "Card image cap") %>
			<div class="info">
				<div class="when">
					Sep 30 @ 12:30PM
				</div>
				<div class="details">
					Details >
				</div>
			</div>
		  <div class="card-body">
		    <span style="font-weight:600">Quisque consecteteur null ut sucipit tincidunt</span><br />
		    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
		  </div>
		</div>
	</div>
	<div class="col col-sm-6 col-lg-4 col-xl-3">
		<div class="card ctaLast">
			<%= image_tag('researchhelp.jpg', class: "card-img-top", alt: "Card image cap") %>
			<div class="info">
				<div class="when">
					Sep 14 @ 2PM
				</div>
				<div class="details">
					Details >
				</div>
			</div>
		  <div class="card-body">
		    <p class="card-text">
		    <span style="font-weight:600">Quisque consecteteur null ut sucipit tincidunt</span><br />
		    Some quick example text to build on the card title and make up the bulk of the card's content.</p>
		  </div>
		</div>
	</div>
</div>
</div>