<div id="home">
<div id="searchFields">

	<%= render "page-search" %>

</div>

	<div class="col-12 d-block d-lg-none px-0" id="search-in-page">
		<%= render "page-search" %>
	</div>
<div class="container under">
	<div class="row ctaRow">
		<div class="col-12 col-lg-3 pr-3">
	    <div class="cta-white">
	    	<% unless @research_help.nil? %>
		    <%= link_to @research_help, class: "strong" do %>
		      <%= image_tag('research_help.png', class: "decorative") %> <span>Research Help</span>
		    <% end %>
	      <% end %>
	    </div>
	  </div>
	  <div class="col-12 col-lg-3 pr-3">
	    <div class="cta-white">
	    	<% unless @print_my_paper.nil? %>
		    <%= link_to @print_my_paper, class: "strong" do %>
		      <%= image_tag('printer.png', class: "decorative") %> <span>Print My Paper</span>
		    <% end %>
	      <% end %>
	    </div>
	  </div>
	  <div class="col-12 col-lg-3 pr-3">
	    <div class="cta-white">
	    	<% unless @book_study_room.nil? %>
		    <%= link_to @book_study_room, class: "strong" do %>
		      <%= image_tag('study_room.png', class: "decorative") %> <span>Book a Study Room</span>
		    <% end %>
	      <% end %>
	    </div>
	  </div>
	  <div class="col-12 col-lg-3">
	    <div class="cta-white">
		    <%= link_to pages_charles_path, class: "strong" do %>
		      <%= image_tag('explore_charles.png', class: "decorative") %> <span>Explore Charles Library</span>
	      <% end %>
	    </div>
	  </div>
	</div>
</div>

<div id="hollywood-squares">
	<div class="container">
		<div class="row">
			<div class="col-12 col-lg-3 catalog-search h-auto">
				<div class="h-22 square">
			    <%= link_to "#{librarysearch_url}/catalog" do %>
			      <%= image_tag('book_white.png', class: "icon decorative") %> <span>Books & Media</span>
			    <% end %>
				</div>
				<div div class="h-22 square">
			    <%= link_to "#{librarysearch_url}/articles" do %>
			      <%= image_tag('magazine_white.png', class: "icon decorative") %> <span>Articles</span>
			    <% end %>
				</div>
				<div class="h-22 square">
			    <%= link_to @db_az_link do %>
			      <%= image_tag('database_white.png', class: "icon decorative") %> <span>Databases</span>
			    <% end %>
				</div>
				<div class="h-22 square bb-0">
			    <%= link_to @libguides do %>
			      <%= image_tag('guides_white.png', class: "icon decorative") %> <span>Research Guides</span>
			    <% end %>
				</div>
				<div class="caption">
					<%= link_to "Search our collections >", librarysearch_url, class: "price" %>
				</div>
			</div>
			<div class="col-12 col-lg-6 px-0 px-lg-5 news-events">
				<div class="events">
			    <%= link_to events_path do %>
			      <%= image_tag('event_space.jpg', class: "d-none d-lg-block decorative") %>
			      <%= image_tag('art.png', class: "d-inline d-lg-none decorative") %>
			      <div class="caption" id="eventscaption">
							<span class="lynde">Events & Exhibits</span>
						</div>
			    <% end %>
				</div>
				<div class="news">
					<%= link_to news_path do %>
			      <%= image_tag('graduate_scholars.jpg', class: "d-none d-lg-block decorative") %>
			      <%= image_tag('newspaper.png', class: "d-inline d-lg-none decorative") %>
			      <div class="caption" id="newscaption">
							<span class="lynde">Library News</span>
						</div>
			    <% end %>
				</div>
			</div>
			<div class="col-12 col-lg-3 locations-links px-0">
				<div class="h-18"><%= link_to "Health Sciences Libraries", pages_hsl_path %></div>
				<div class="h-18 two-lines"><%= link_to "Loretta C. Duckworth Scholars Studio", pages_lcdss_path %></div>
				<div class="h-18 two-lines"><%= link_to "Charles L. Blockson Afro-American Collection", pages_blockson_path %></div>
				<div class="h-18 two-lines"><%= link_to "Special Collections Research Center", pages_scrc_path %></div>
				<div class="h-18 bb-0"><%= link_to "Law Library", "https://www.law.temple.edu/library/about-the-law-library/" %></div>
				<div class="caption">
					<%= link_to "See all libraries and locations >", @locations, class: "gobel" %>
				</div>
			</div>
		</div>
	</div>
</div>


</div>

</div>
