<% content_for :body_class, "minipage hsl" %>

<div class="banner-image"></div>

<div class="container">

<div class="row">
	<div class="col">
		<h1 class="page-title text-center">
			Health Sciences Libraries
		</h1>
	</div>
</div>

<div class="row">
	
	<div class="col-12 col-lg-4 pr-14 hsl-left">
		<% unless @ginsburg_location.nil? && @podiatry_location.nil? %>
		<div class="hsl-locations">
			<% unless @ginsburg_location.nil? %>
			<%= link_to "Ginsburg Health Sciences Library", building_path(@ginsburg_location) %>
			<hr />
			<% end %>
			<% unless @podiatry_location.nil? %>
			<%= link_to "Krausz Podiatric Library", building_path(@podiatry_location) %>
			<% end %>
		</div>
		<% end %>

		<div class="hsl-contact">
			<%= image_tag "phone-handle-white.png", style: "width: 100px" %>
			<%= link_to "Contact Us", pages_contact_path %>
			<hr />
			<%= image_tag "email-white.png", style: "width: 100px" %>
			<%= link_to "Mailing List", "http://eepurl.com/cbRrYP" %>
		</div>
	</div>

	<div class="col-12 col-lg-8">
		<div class="row" id="hsl-links-container">
			<div class="col-12 col-lg-6">
				<div class="hsl-links d-none d-lg-block">
					<h2>Visit & Study</h2>
					<ul class="list-unstyled">
						<% @visit_links.each do |link| %>
							<li><%= link_to link.label, link %></li>
						<% end %>
					</ul>
				</div>
				<div class="hsl-links d-block d-lg-none">
					<%= render "hsl_visit" %>
				</div>
			</div>
			<div class="col-12 col-lg-6">
				<div class="hsl-links d-none d-lg-block">
					<h2>Resources & Media</h2>
					<ul class="list-unstyled">
						<% @resource_links.each do |link| %>
							<li><%= link_to link.label, link %></li>
						<% end %>
					</ul>
				</div>
				<div class="hsl-links d-block d-lg-none">
					<%= render "hsl_resources" %>
				</div>
			</div>
			<div class="col-12 col-lg-6">
				<div class="hsl-links d-none d-lg-block">
					<h2>Research Services</h2>
					<ul class="list-unstyled">
						<% @research_links.each do |link| %>
							<li><%= link_to link.label, link %></li>
						<% end %>
					</ul>
				</div>
				<div class="hsl-links d-block d-lg-none">
					<%= render "hsl_research" %>
				</div>
			</div>
			<div class="col-12 col-lg-6">
				<div class="hsl-links d-none d-lg-block">
					<h2>Workshops & Events</h2>
					<ul class="list-unstyled">
						<% @event_links.each do |link| %>
							<li><%= link_to link.title, link %></li>
						<% end %>
						<li class="text-right hsl-event"><%= link_to "View all", events_path, style: "text-decoration:underline" %> ></li>
					</ul>
				</div>
				<div class="hsl-links d-block d-lg-none">
					<%= render "hsl_events" %>
				</div>
			</div>
		</div>
	</div>
	
</div>

</div>


