<% content_for :body_class, "minipage" %>
<h1 class="title">
	Health Sciences Libraries
</h1>
<div id="hsl">
<div id="searchFields">
	<div id="searchOptions">
		<ul>
			<li>Pubmed</li>
			<li>Everything</li>
			<li>Journals</li>
		</ul>
		<div id="advancedSearchLink">
			Advanced Search
		</div>
	</div>
		<div id="dateTime">
			<div class="displayRow">
				<div id="date">
					<%= @todays_date %>
				</div>
			</div>
			<div class="displayRow">
				<div id="time">
					<% unless @ginsburg_hours.nil? %> 
						<%= link_to "Ginsburg Library", hour_path("ginsburg") %> | <%= @ginsburg_hours %><br />
          <% end %>
					<% unless @podiatry_hours.nil? %><%= link_to "Podiatry Library", hour_path("podiatry") %> | <%= @podiatry_hours %>
          <% end %>						
				</div>
				<div id="allHours">
					<%= link_to "See all libraries hours", hours_path %> >
				</div>
			</div>
		</div>
</div>


<div class="row ctaRow">
	<div class="col col-sm-6 col-lg-4 col-xl-3">
		<div class="card ctaFirst">
			<%= image_tag('researchhelp.jpg', class: "card-img-top", alt: "Card image cap") %>
		  <div class="card-body">
		    <span class="card-title">Help with Research</span>
		  </div>
		</div>
	</div>
	<div class="col col-sm-6 col-lg-4 col-xl-3">
		<div class="card ctaMidOne">
			<%= image_tag('researchhelp.jpg', class: "card-img-top", alt: "Card image cap") %>
		  <div class="card-body">
		    <span class="card-title">Resources &amp; Media</span>
		  </div>
		</div>
	</div>
	<div class="col col-sm-6 col-lg-4 col-xl-3">
		<div class="card ctaMidTwo">
			<%= image_tag('researchhelp.jpg', class: "card-img-top", alt: "Card image cap") %>
		  <div class="card-body">
		    <span class="card-title">Innovation Space</span>
		  </div>
		</div>
	</div>
	<div class="col col-sm-6 col-lg-4 col-xl-3">
		<div class="card ctaLast">
			<div class="hsl-list">
				<ul>
					<li class="oddrow">
						<%= link_to "Ginsburg Library", building_path(3) %> >
					</li>
					<li>
						<%= link_to "Podiatry Library", building_path(4) %> >
					</li>
					<li class="oddrow">HSL Staff Directory ></li>
					<li>HSL Services ></li>
				</ul>
		  </div>
		</div>
	</div>
</div>

<% unless @events.blank? %>
<div class="row">
	<div class="col">
		<div class="vertical-stripes">
			<h1><span>News &amp; Highlights</span></h1>
		</div>
	</div>
</div>

<div class="container">
<div class="row ctaRow events">
	<% @events.in_groups_of(4).each do |event| %>
	<div class="col-12 col-xl-3">
		<div class="card ctaFirst">
    	<% if event.first.image.attached? %>
        <%= image_tag event.first.image.variant(gravity: 'center', extent: "100%x100%"), class: "d-none d-xl-block card-img-top", alt: "" %>
      <% else %>
        <%= link_to image_tag('T-borderless.gif', class: "d-none d-xl-block card-img-top", alt: ""), event_path(event.first) %>
      <% end %>
			<div class="info">
				<div class="d-none d-xl-inline-block when">
					<%= event.first.start_time.strftime("%b %d @ %l%p") %>
				</div>
				<div class="details">
					<%= link_to "Details >", event_path(event.first) %>
				</div>
			</div>
		  <div class="card-body">
		    <span><%= link_to event.first.title, events_path(event.first) %></span>
		    <p class="d-none d-xl-block"><%= strip_tags event.first.description[0..120] %>...</p>
		  </div>
		</div>
	</div>
	<% unless event.second.nil? %>
	<div class="col-12 col-xl-3">
		<div class="card ctaMid">
			<% if event.second.image.attached? %>
        <%= image_tag event.second.image.variant(gravity: 'center', extent: "100%x100%"), class: "d-none d-xl-block card-img-top", alt: "" %>
      <% else %>
        <%= link_to image_tag('T-borderless.gif', class: "d-none d-xl-block card-img-top", alt: ""), event_path(event.second) %>
      <% end %>
			<div class="info">
				<div class="d-none d-xl-inline-block when">
					<%= event.second.start_time.strftime("%b %d @ %l%p") %>
				</div>
				<div class="details">
					<%= link_to "Details >", event_path(event.second) %>
				</div>
			</div>
		  <div class="card-body">
		    <span><%= link_to event.second.title, events_path(event.second) %></span>
		    <p class="d-none d-xl-block"><%= strip_tags event.second.description[0..120] %>...</p>
		  </div>
		</div>
	</div>
	<% end %>
	<% unless event.third.nil? %>
	<div class="col-12 col-xl-3">
		<div class="card ctaMid">
			<% if event.third.image.attached? %>
        <%= image_tag event.third.image.variant(gravity: 'center', extent: "100%x100%"), class: "d-none d-xl-block card-img-top", alt: "" %>
      <% else %>
        <%= link_to image_tag('T-borderless.gif', class: "d-none d-xl-block card-img-top", alt: ""), event_path(event.third) %>
      <% end %>
			<div class="info">
				<div class="d-none d-xl-inline-block when">
					<%= event.third.start_time.strftime("%b %d @ %l%p") %>
				</div>
				<div class="details">
					<%= link_to "Details >", event_path(event.third) %>
				</div>
			</div>
		  <div class="card-body">
		    <span><%= link_to event.third.title, events_path(event.third) %></span>
		    <p class="d-none d-xl-block"><%= strip_tags event.third.description[0..120] %>...</p>
		  </div>
		</div>
	</div>
	<% end %>
	<% unless event.fourth.nil? %>
	<div class="col-12 col-xl-3">
		<div class="card ctaLast">
			<% if event.fourth.image.attached? %>
        <%= image_tag event.fourth.image.variant(gravity: 'center', extent: "100%x100%"), class: "d-none d-xl-block card-img-top", alt: "" %>
      <% else %>
        <%= link_to image_tag('T-borderless.gif', class: "d-none d-xl-block card-img-top", alt: "Card image cap"), event_path(event.fourth) %>
      <% end %>
			<div class="info">
				<div class="d-none d-xl-inline-block when">
					<%= event.fourth.start_time.strftime("%b %d @ %l%p") %>
				</div>
				<div class="details">
					<%= link_to "Details >", event_path(event.fourth) %>
				</div>
			</div>
		  <div class="card-body">
		    <span><%= link_to event.fourth.title, events_path(event.fourth) %></span>
		    <p class="d-none d-xl-block"><%= strip_tags event.fourth.description[0..120] %>...</p>
		  </div>
		</div>
	</div>
	<% end %>
<% end %>
</div>
</div>
<% end %>

<div class="row">
	<div class="col">
		<div class="vertical-stripes">
			<h1><span>Selected Resources</span></h1>
		</div>
	</div>
</div>

  <div class="row hslResourcesRow">
    
      <div class="col-md-1"></div>
        <div class="col-sm-10 offset-sm-1 col-md-3 offset-md-1 m-2 cta first">
          <div class="resource">
            <%= link_to "Dynamed-Plus", "http://libproxy.temple.edu/login?url=http://search.ebscohost.com/login.aspx?authtype=ip,uid&profile=dynamed&custid=s8483746" %>
          </div>
        </div>
 
        <div class="col-sm-10 offset-sm-1 col-md-3 m-2 cta">
          <div class="resource">
              <%= link_to "Access Pharmacy", "http://libproxy.temple.edu/login?url=http://accesspharmacy.mhmedical.com/" %>
          </div>
        </div>

        <div class="col-sm-10 offset-sm-1 col-md-3 m-2 cta last">
          <div class="resource">
              <%= link_to "Access Medicine", "http://libproxy.temple.edu/login?url=http://accessmedicine.mhmedical.com/" %>
          </div>
        </div>
      <div class="col-md-1"></div>

      <div class="col-md-1"></div>
        <div class="col-sm-10 offset-sm-1 col-md-3 offset-md-1 m-2 cta first">
          <div class="resource">
            <%= link_to "Access Surgery", "http://libproxy.temple.edu/login?url=http://accesssurgery.mhmedical.com/" %>
          </div>
        </div>
 
        <div class="col-sm-10 offset-sm-1 col-md-3 m-2 cta">
          <div class="resource">
              <%= link_to "CINAHL", "http://libproxy.temple.edu/login?url=http://search.ebscohost.com/login.aspx?profile=ehost&defaultdb=cin20" %>
          </div>
        </div>

        <div class="col-sm-10 offset-sm-1 col-md-3 m-2 cta last">
          <div class="resource">
              <%= link_to "OVID", "http://libproxy.temple.edu/login?url=http://ovidsp.ovid.com/autologin" %>
          </div>
        </div>
      <div class="col-md-1"></div>

    </div>



