<% content_for :body_class, "categories" %>

<div class="container" style="margin-top: 35px;">

	<div class="row">
		<div class="col-12 col-md-6 col-lg-4 text-center">
			<%= link_to (image_tag "information.png", class: "category-icon"), controller: "pages", action: "research" %>
			<h2><%= link_to "Get Started", controller: "pages", action: "research" %></h2>
			<p>Lorem ipsum magillicus</p>
		</div>
		<div class="col-12 col-md-6 col-lg-4 text-center">
			<%= link_to (image_tag "writing.png", class: "category-icon"), controller: "pages", action: "research" %>
			<h2><%= link_to "Write & Cite", controller: "pages", action: "research" %></h2>
			<p>Lorem ipsum magillicus</p>
		</div>
		<div class="col-12 col-md-6 col-lg-4 text-center">
			<%= link_to (image_tag "talk.png", class: "category-icon"), controller: "pages", action: "research" %>
			<h2><%= link_to "Subject Librarians", controller: "pages", action: "research" %></h2>
			<p>Lorem ipsum magillicus</p>
		</div>

		<div class="col-12 col-md-6 col-lg-4 text-center">
			<%= link_to (image_tag "paper-plane.png", class: "category-icon"), controller: "pages", action: "research" %>
			<h2><%= link_to "Library Workshops", controller: "pages", action: "research" %></h2>
			<p>Lorem ipsum magillicus</p>
		</div>
		<div class="col-12 col-md-6 col-lg-4 text-center">
			<%= link_to (image_tag "attachment.png", class: "category-icon"), controller: "pages", action: "research" %>
			<h2><%= link_to "Support for Faculty & Instructors", controller: "pages", action: "research" %></h2>
			<p>Lorem ipsum magillicus</p>
		</div>
		<div class="col-12 col-md-6 col-lg-4 text-center">
			<%= link_to (image_tag "archive.png", class: "category-icon"), controller: "pages", action: "research" %>
			<h2><%= link_to "Collections", controller: "pages", action: "research" %></h2>
			<p>Lorem ipsum magillicus</p>
		</div>

		<div class="col-12 col-md-6 col-lg-4 text-center">
			<%= link_to (image_tag "double-page.png", class: "category-icon"), controller: "pages", action: "research" %>
			<h2><%= link_to "Publishing Services", controller: "pages", action: "research" %></h2>
			<p>Lorem ipsum magillicus</p>
		</div>
		<div class="col-12 col-md-6 col-lg-4 text-center">
			<%= link_to (image_tag "html.png", class: "category-icon"), controller: "pages", action: "research" %>
			<h2><%= link_to "Digital Scholarship", controller: "pages", action: "research" %></h2>
			<p>Lorem ipsum magillicus</p>
		</div>
		<div class="col-12 col-md-6 col-lg-4 text-center">
			<%= link_to (image_tag "data.png", class: "category-icon"), controller: "pages", action: "research" %>
			<h2><%= link_to "Data Management", controller: "pages", action: "research" %></h2>
			<p>Lorem ipsum magillicus</p>
		</div>
	</div>

</div>