<% content_for :body_class, "minipage dsc" %>

<div class="banner-image"></div>

<div class="container">

<div class="row">
	<div class="col">
		<h1 class="page-title text-center">
			Loretta C. Duckworth Scholars Studio
		</h1>
	</div>
</div>

<div class="row">
	
	<div class="col-12 col-lg-4 pr-14" id="dsc-left">
		<% unless @makerspace_location.nil? && @podiatry_location.nil? && @innovation_location.nil? %>
		<div class="dsc-locations">
			<% unless @makerspace_location.nil? %>
			<%= link_to "Makerspace", space_path(@makerspace_location) %>
			<% end %>
			<% unless @vr_location.nil? %>
			<hr />
			<%= link_to "Immersive Visualization lab", space_path(@vr_location) %>
			<% end %>
			<% unless @innovation_location.nil? %>
			<hr />
			<%= link_to "Innovation Tech Sandbox", space_path(@innovation_location) %>
			<% end %>
		</div>
		<% end %>

		<div class="dsc-contact">
			<%= image_tag "phone-handle-white.png", style: "width: 100px" %>
			215-204-xxxx
			<hr />
			<%= image_tag "email-white.png", style: "width: 100px" %>
			<span class="mailer"><%= link_to "Mailing List", "https://us14.list-manage.com/subscribe?u=b82945f0d143a7147c9760356&id=c88997ec60", target: "_blank" %></span>
		</div>

	</div>

	<div class="col-12 col-lg-8" id="dsc-description-container">
		<% unless @page.description.nil? %>
		<div class="row">
			<div class="col-12" id="dsc-description">
				<%= sanitize(@page.description.html_safe) %>
			</div>
		</div>
		<% end %>
		<div class="row" id="dsc-links-container">
			<div class="col-12 col-lg-6">
				<div class="dsc-links d-none d-lg-block">
					<h2>Visit & Study</h2>
					<ul class="list-unstyled">
						<% @visit_links.each do |link| %>
							<li><%= link_to link.label, link %></li>
						<% end %>
					</ul>
				</div>
				<div class="dsc-links d-block d-lg-none">
					<%= render "dsc_visit" %>
				</div>
			</div>
			<div class="col-12 col-lg-6">
				<div class="dsc-links d-none d-lg-block">
					<h2>Research Services</h2>
					<ul class="list-unstyled">
						<% @research_links.each do |link| %>
							<li><%= link_to link.label, link %></li>
						<% end %>
					</ul>
				</div>
				<div class="dsc-links d-block d-lg-none">
					<%= render "dsc_research" %>
				</div>
			</div>
			<div class="col-12 col-lg-6">
				<div class="dsc-links d-none d-lg-block">
					<h2>Workshops & Events</h2>
					<ul class="list-unstyled">
						<% unless @events_links.nil? %>
						<% @events_links.each do |link| %>
							<li><%= link_to link.label, link %></li>
						<% end %>
						<% end %>
							<li class="text-right dsc-event"><%= link_to "View all", events_path, style: "text-decoration:underline" %> ></li>
					</ul>
				</div>
				<div class="dsc-links d-block d-lg-none">
					<%= render "dsc_events" %>
				</div>
			</div>
			<div class="col-12 col-lg-6">
				<div class="dsc-links d-none d-lg-block">
					<h2>Research Blog</h2>
					<ul class="list-unstyled">
						<% @blog_posts.each do |link| %>
							<li><%= link_to link.title, link.post_guid %></li>
						<% end %>
						<li class="text-right dsc-event"><%= link_to "View all", strip_tags(@blog.base_url), style: "text-decoration:underline" %> ></li>
					</ul>
				</div>
				<div class="dsc-links d-block d-lg-none">
					<%= render "dsc_blog" %>
				</div>
			</div>
		</div>
	</div>
	
</div>

</div>


