<div class="field-unit__label">
  <% if field.resource.class.to_s == "Building" && field.attribute == :external_link %>
    <%= f.label "Library website (external link)" %>
  <% else %>
    <%= f.label field.permitted_attribute %>
  <% end %>
</div>
<div class="field-unit__field">
  <%= f.select(field.permitted_attribute, nil, {include_blank: true}, field.html_attributes) do %>
    <%= options_for_select(field.associated_resource_options, field.selected_option) %>
  <% end %>
  <% if field.resource.class.to_s == "Building" && field.attribute == :external_link %>
    <p class="text-muted mb-0"><%= t("manifold.default.fields.belongs_to") %></p>
  <% end %>
</div>
