<% if field.data.present? %>
  <div class="field-unit__label">
    <%= f.label "Published #{field.attribute.to_s.titleize}" %>
  </div>

  <div contenteditable="false"
      class="field-unit__field field-published field-description"
      id="<%= fieldname_in_draft(@requested_resource, field) %>">
      
      <%= field.resource.description.html_safe if field.attribute == :description && field.resource.description.present? %>
      
      <% if field.attribute == :long_description && field.resource.long_description.present?  %>
      
        <%= field.resource.long_description.html_safe if field.data.class.to_s != "ActionText::RichText" %>
        <%= field.data if field.data.class.to_s == "ActionText::RichText" %>
      <% end %>
      <%= field.resource.access_description.html_safe if field.attribute == :access_description  && field.resource.access_description.present? %>
      <%= field.data if field.attribute == :covid_alert %>
      <%= field.data if field.attribute == :get_help %>
  </div>
<% end %>

<div class="field-unit__label">
  <% if field.data.present? %>
    <%= f.label "Edit #{field.attribute.to_s.titleize}" %>
  <% else %>
    <%= f.label field.attribute.to_s.titleize %>
  <% end %>
</div>

<div class="field-unit__field field-draft">
  <%= f.rich_text_area draft_name(field) %>
</div>
