<p id="notice"><%= notice %></p>

<h1>Buildings</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Address1</th>
      <th>Temple building code</th>
      <th>Directions map</th>
      <th>Hours</th>
      <th>Phone number</th>
      <th>Image</th>
      <th>Campus</th>
      <th>Accessibility</th>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @buildings.each do |building| %>
      <tr>
        <td><%= building.name %></td>
        <td><%= building.description %></td>
        <td><%= building.address1 %></td>
        <td><%= building.temple_building_code %></td>
        <td><%= building.directions_map %></td>
        <td><%= building.hours %></td>
        <td><%= building.phone_number %></td>
        <td><%= building.image %></td>
        <td><%= building.campus %></td>
        <td><%= building.accessibility %></td>
        <td><%= building.email %></td>
        <td><%= link_to 'Show', building %></td>
        <td><%= link_to 'Edit', edit_building_path(building) %></td>
        <td><%= link_to 'Destroy', building, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Building', new_building_path %>
