<div class="row" id="seagreen">
  <div class="col-11 offset-1">
  </div>
</div>

<%= render 'searchfields.html.erb' %>

<div class="row">
  <div class="col breadcrumbs">
    <%= link_to "Home", Rails.root.to_s %>
    Buildings
  </div>
</div>

<div class="row" style="position:relative;top: -77px;">
  <div class="col">
    <div class="vertical-stripes-sm">
      <h2><span>Buildings</span></h2>
    </div>
  </div>
</div>

<div class="container">
<div class="row spacesRow">
<% unless @buildings.nil? %>

    <% @buildings.each do |building| %>
      <div class="col-12 col-sm-6 col-md-4 col-lg-3 ctaTwo text-center">
        <div class="related_space">
          <% if building.photo.attached? %>
            <%= link_to image_tag(building.photo.variant(gravity: 'center', crop: "200x200+50%+50%", extent: "100%x100%"), class: "card-img-top", alt: "Card image cap"), building_path(building) %>
          <% else %>
            <%= link_to image_tag('T-borderless.gif', class: "card-img-top", alt: "Card image cap"), building_path(building) %>
          <% end %>
        </div>
        <div class="card-body" style="padding: 0;">
          <span class="card-title"><%= building.name %></span>
        </div>
      </div>
    <% end %>

<% end %>
</div>
</div>