<p id="notice"><%= notice %></p>

<h1>
  Library: <%= @building.name %>
</h1>


  <div class="row">
    <div class="col">
      <div class="vertical-stripes-sm">
        <h1>Description</h1>
      </div>
    </div>
  </div>

<div class="container">
  <div class="row">
    <div class="col">
      <p>
        <%= @building.description.html_safe %>
      </p>
    </div>
  </div>
</div>

  <div class="row">
    <div class="col">
      <div class="vertical-stripes-sm">
        <h1>Plan your visit</h1>
      </div>
    </div>
  </div>

<div class="container">
  <div class="row">
    <div class="col-12 col-lg-4 card">
      <%= @building.phone_number %><br />
      <%= @building.email %><br />
      <%= @building.address1 %>
    </div>
    <div class="col-12 col-lg-4 card">
      <div id="dateTime">
      <div id="date">
        FRIDAY, AUGUST 17, 2018
      </div>
      <div id="time">
        Paley Library | 8am - 7pm
      </div>
      <div id="allHours">
        See all library hours >
      </div>
    </div>
    </div>
    <div class="col-12 col-lg-4 card">
      <%= link_to "Google Map!", @building.directions_map %>
    </div>
  </div>
</div>

  <div class="row">
    <div class="col">
      <div class="vertical-stripes-sm">
        <h1>Paley Spaces</h1>
      </div>
    </div>
  </div>

  <div class="">
    <div class="row spacesRow">

      <div class="col-12 col-md-6 col-lg-2 offset-lg-1 ctaTwo text-center">
        <div class="related_space">
          <%= image_tag('researchhelp.jpg', class: "card-img-top", alt: "Card image cap") %>
        </div>
        <div class="card-body">
          <span class="card-title">Find a study space</span>
        </div>
      </div>

      <div class="col-12 col-md-6 col-lg-2 ctaTwo text-center">
        <div class="related_space">
          <%= image_tag('researchhelp.jpg', class: "card-img-top", alt: "Card image cap") %>
        </div>
        <div class="card-body">
          <span class="card-title">Find a study space</span>
        </div>
      </div>

      <div class="col-12 col-md-6 col-lg-2 ctaTwo text-center">
        <div class="related_space">
          <%= image_tag('researchhelp.jpg', class: "card-img-top", alt: "Card image cap") %>
        </div>
        <div class="card-body">
          <span class="card-title">Find a study space</span>
        </div>
      </div>

      <div class="col-12 col-md-6 col-lg-2 ctaTwo text-center">
        <div class="related_space">
          <%= image_tag('researchhelp.jpg', class: "card-img-top", alt: "Card image cap") %>
        </div>
        <div class="card-body">
          <span class="card-title">Find a study space</span>
        </div>
      </div>

      <div class="col-12 col-md-6 col-lg-2 ctaTwo text-center">
        <div class="related_space">
          <%= image_tag('researchhelp.jpg', class: "card-img-top", alt: "Card image cap") %>
        </div>
        <div class="card-body">
          <span class="card-title">Charles L. Blockson Afro-American Collection</span>
        </div>
      </div>

      <div class="col-12 col-md-6 col-lg-2 offset-lg-1 ctaTwo text-center">
        <div class="related_space">
          <%= image_tag('researchhelp.jpg', class: "card-img-top", alt: "Card image cap") %>
        </div>
        <div class="card-body">
          <span class="card-title">Find a study space</span>
        </div>
      </div>

      <div class="col-12 col-md-6 col-lg-2 ctaTwo text-center">
        <div class="related_space">
          <%= image_tag('researchhelp.jpg', class: "card-img-top", alt: "Card image cap") %>
        </div>
        <div class="card-body">
          <span class="card-title">Find a study space</span>
        </div>
      </div>

      <div class="col-12 col-md-6 col-lg-2 ctaTwo text-center">
        <div class="related_space">
          <%= image_tag('researchhelp.jpg', class: "card-img-top", alt: "Card image cap") %>
        </div>
        <div class="card-body">
          <span class="card-title">Find a study space</span>
        </div>
      </div>

      <div class="col-12 col-md-6 col-lg-2 ctaTwo text-center">
        <div class="related_space">
          <%= image_tag('researchhelp.jpg', class: "card-img-top", alt: "Card image cap") %>
        </div>
        <div class="card-body">
          <span class="card-title">Find a study space</span>
        </div>
      </div>
      
      <div class="col-12 col-md-6 col-lg-2 ctaTwo text-center">
        <div class="related_space">
          <%= image_tag('researchhelp.jpg', class: "card-img-top", alt: "Card image cap") %>
        </div>
        <div class="card-body">
          <span class="card-title">Find a study space</span>
        </div>
      </div>

  </div>

