<div class="row" id="seagreen">
  <div class="col-11 offset-1">
    <h1>
      <span>Library: </span>
      <%= @building.name %>
    </h1>
  </div>
</div>


<% if @building.photo.attached?  %>
  <p>
    <%= image_tag @building.photo, class: "large" %>
  </p>
<% end %>

<p>
  <strong>Description:</strong>
  <%= @building.description.html_safe %>
</p>

<p>
  <strong>Address:</strong>
  <%= @building.address1 %>
</p>

<p>
  <strong>Temple building code:</strong>
  <%= @building.temple_building_code %>
</p>

<p>
  <strong>Directions map:</strong>
  <%= link_to "Google Map!", @building.directions_map %>
</p>

<p>
  <strong>Hours:</strong>
  <%= @building.hours %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @building.phone_number %>
</p>

<p>
  <strong>Campus:</strong>
  <%= @building.campus %>
</p>

<p>
  <strong>Email:</strong>
  <%= @building.email %>
</p>

<%= link_to 'Back', buildings_path %>
