<div class="row">
  <div class="col breadcrumbs">
    <%= link_to "Home", root_path.to_s %> 
    <%= link_to "Libraries", controller: 'buildings', action: :index %> 
    <%= @building.name %>
  </div>
</div>


<div class="row building-info">
  <div class="col-lg-12 col-xl-6 text-center text-xl-right">
    <div class="building-image">
      <% if @building.photo.attached? %>
        <%= image_tag @building.photo.variant(gravity: 'center', extent: "100%x100%") %>
      <% else %>
        <%= image_tag 'T-borderless.gif' %>
      <% end %>
    </div>
  </div>
  <div class="col-lg-12 col-xl-6 text-center text-xl-left">
    <div class="building-description">
      <h1 class="text-md-center text-xl-left"><%= @building.name %></h1>
      <div class="text-left text"><%= @building.description.html_safe %></div>
    </div>
  </div>
</div>

 <%= render "visit" %>
 
 <%= render "spaces" %>
