<div class="field-unit__label">
  <%= f.label field.attribute %>
</div>
<div class="field-unit__field">
	<% unless field.data.nil? %>
    <% unless field.data.file.nil? %>
      <%= f.file_field field.attribute %>
      <%= link_to field.data.file.filename, field.data.url %>
      <%= link_to t("manifold.admin.actions.detach"), { action: :detach_epub }, data: { confirm: t("manifold.default.fields.confirm") } %>
    <% else %>
      <%= f.file_field field.attribute %>
    <% end %>
	<% end %>
</div>
