<%= f.input :department, required: true, label: "Departmental Affiliation" %>
<%= f.input :research_group, as: :text, required: true, label: "Please list the names and email addresses of others in research or pedagogical group. (If not applicable, state this.) " %>
<%= f.input :project_purpose, as: :text, required: true, label: "Describe your research project or pedagogical purpose", hint: "Max 500 words" %>
<%= f.input :dataset, as: :text, label: "Describe dataset. Explain why it is important to your research. Please provide a URL to a page describing the data, if available", hint: "Max 500 words" %>
<%= f.input :interest_level, as: :text, label: "Beyond your own work, explain how this dataset might be of interest to other researchers or instructors at Temple University." %>
<%= f.input :years_limit, as: :text, label: "Please tell us if the data you need is limited to certain years? If so, what years?" %>
<%= f.input :data_creator, as: :text, label: "Who is the creator/distributor/provider/licensor of the requested data?" %>
<%= f.input :data_discovery, as: :text, label: "How did you find out about this data?" %>
<%= f.input :comments, as: :text, label: "Is there anything else you would like to add?" %>


<p>I have read and understand the terms and conditions of the Library Data Grants program. I understand that awardees will be notified by December 15 and get access to the data during the spring term. I also understand that if awarded, I will attend a brown bag lunch to discuss how I used the data in my research or pedagogical work. For published research in which the data is used, I will include this statement, "The author wishes to acknowledge the Temple University Libraries’ funding for data used in this research."</p>

