<span style="font-size:large;font-weight:900;">Requestor/Event Leader/Coordinator/Student Group</span>
<%= f.input :name, label: "Name", required: :true %>
<%= f.input :email, label: "E-Mail", required: :true %>
<%= f.input :phone, label: "Telephone", required: :true %>
<%= f.input :department, label: "Department", required: :true %>
<span style="font-size:large;font-weight:900;">Sponsoring Budget Unit Head</span>
<%= f.input :name, label: "Name", required: :true %>
<%= f.input :email, label: "E-Mail", required: :true %>
<%= f.input :phone, label: "Telephone", required: :true %>
<%= f.input :foapal, label: "FOAPAL", required: :true, hint: "in case of damages or additional cleaning costs" %>
