<fieldset>
  <legend><%= t("manifold.forms.event_space_request.date_legend") %></legend>
  <%= f.input :date_of_event, as: :date, start_year: Date.today.year, end_year: Date.today.year+1, 
              order: [:month, :day, :year], html5: true, 
              label: t("manifold.forms.event_space_request.date"), 
              required: :true %>
  <%= f.input :event_start, as: :time, html5: true, label: t("manifold.forms.event_space_request.start_time"), required: :true %>
  <%= f.input :event_end, as: :time, html5: true, label: t("manifold.forms.event_space_request.end_time"), required: :true %>
</fieldset>

<fieldset>
  <legend><%= t("manifold.forms.event_space_request.info_legend") %></legend>
  <%= f.input :event_space, as: :select, collection: t("manifold.forms.event_space_request.space_collection").map{ |k,v| v }, 
              label: t("manifold.forms.event_space_request.space_label"), required: :true, 
              hint:  t("manifold.forms.event_space_request.space_hint") %>
  <%= f.input :event_title, as: :text, label: t("manifold.forms.event_space_request.event_title"), required: :true %>
  <%= f.input :attendees, as: :integer, label: t("manifold.forms.event_space_request.attendees"), required: :true %>
</fieldset>

<fieldset>
  <legend><%= t("manifold.forms.event_space_request.setup_legend") %></legend>
  <%= f.input :setup_style, as: :select, 
              label: t("manifold.forms.event_space_request.setup_style_label"),
              collection: t("manifold.forms.event_space_request.setup_style_collection").map{ |k,v| v }, 
              required: :true %>

  <span data-controller="selectize">
  <%= f.input :av_support, as: :select, 
              collection: t("manifold.forms.event_space_request.av_support_collection").map{ |k,v| v },
              label: t("manifold.forms.event_space_request.av_support"),
              hint:  t("manifold.forms.event_space_request.multi_select"),
              input_html: { multiple: true } %>
  </span>

  <%= f.input :catering, as: :radio_buttons, required: false, 
              label: t("manifold.forms.event_space_request.catering") %>
<br />
  <%= f.input :comments, as: :text, label: t("manifold.forms.event_space_request.comments"), 
              input_html: { style: "mt-4"} %>
</fieldset>

<fieldset class="mt-4">
  <legend><%= t("manifold.forms.event_space_request.your_info_legend") %></legend>
  <span class="fs-5"><%= t("manifold.forms.event_space_request.span") %></span>
  <%= f.input :name, label: t("manifold.forms.fields.name"), required: :true %>
  <%= f.input :email, label: t("manifold.forms.fields.email"), required: :true %>
  <%= f.input :phone, label: t("manifold.forms.fields.phone_number"), required: :true %>
  <%= f.input :department, label: t("manifold.forms.event_space_request.department"), required: :true %>
  <%= f.input :foapal, label: t("manifold.forms.fields.foapal"), required: :true, 
              hint: t("manifold.forms.event_space_request.foapal_hint") %>
  <span class="d-block mt-4 fs-5"><%= t("manifold.forms.event_space_request.span_2") %></span>
  <%= f.input :financial_name, label: t("manifold.forms.fields.name"), required: :true %>
  <%= f.input :financial_email, label: t("manifold.forms.fields.email"), required: :true %>
  <%= f.input :financial_phone, label: t("manifold.forms.fields.phone_number"), required: :true %>
</fieldset>

  <%= f.input :policy_check, as: :boolean, required: true, class: "inline", 
              label: t("manifold.forms.event_space_request.policy_check_html") %>

