<div class="field-unit__label">
  <%= f.label field.attribute %>
  <% if is_admin? %>
    <% if [:tutorial_path].include? field.attribute %>
      <p class="h-one-half"></p>
    <% end %>
    <% if [:slug].include? field.attribute %>
      <p class="h-one-half"></p>
    <% end %>
    <% if [:title, :name].include? field.attribute %>
      <p class="h-one-half"></p>
    <% end %>
  <% end %>
</div>
<div class="field-unit__field">
  <%= f.text_field field.attribute, field.html_attributes %>
  <% if is_admin? %>
    <% if resource_name == :form_info %>
      <% if field.attribute == :slug %>
        <p><%= t("manifold.default.fields.string.no_edit_slug").html_safe %></p>
      <% end %>
    <% else %>
      <% if field.attribute == :slug %>
        <p><%= t("manifold.default.fields.string.slugs").html_safe %></p>
      <% end %>
      <% if (field.attribute == :name || field.attribute == :title) && (field.resource.class.to_s != "SubjectSpecialty") %>
        <p><%= t("manifold.default.fields.string.renaming") %></p>
      <% end %>
      <% if field.attribute == :tutorial_path %>
        <p><%= t("manifold.default.fields.string.tutorial_path") %></p>
      <% end %>
    <% end %>
  <% end %>
</div>
