<div class="container">
  <div class="row">
    <div class="col-12 col-lg-9">

      <div class="row">
        <div class="col" style="padding-left: 0">
          <h1><%= title t("manifold.forms.index.title") %></h1>
        </div>
      </div>
    </div>

  <div class="row">
    <div class="col text-center" style="font-size: larger;margin-bottom: 21px">
      <%= t("manifold.forms.index.intro_html") %>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <h2><%= t("manifold.forms.index.temple_materials.label") %></h2>
      <ul class="list-unstyled">
        <li>
            <%= link_to t("manifold.forms.index.temple_materials.missing_book"), [forms_path, "missing-book"].join("/") %>
        </li>
        <li>
            <%= link_to t("manifold.forms.index.temple_materials.recall_book"), [forms_path, "recall-book"].join("/") %>
        </li>
      </ul>
      <h2><%= t("manifold.forms.index.instructional_services.label") %></h2>
        <ul class="list-unstyled">
          <li>
            <%= link_to t("manifold.forms.index.instructional_services.library_instruction"), [forms_path, "library-instruction"].join("/") %>
          </li>
          <li>
            <%= link_to t("manifold.forms.index.instructional_services.scrc_instruction"), [forms_path, "scrc-instruction"].join("/") %>
          </li>
        </ul>
      <h2><%= t("manifold.forms.index.library_privileges.label") %></h2>
        <ul class="list-unstyled">
          <li>
            <%= link_to t("manifold.forms.index.library_privileges.proxy_account"), [forms_path, "proxy-account"].join("/") %>
          </li>
          <li>
            <%= link_to t("manifold.forms.index.library_privileges.graduate_locker_request"), [forms_path, "graduate-locker-request"].join("/") %>
          </li>
          <li>
            <%= link_to t("manifold.forms.index.library_privileges.partners_borrowing"), [forms_path, "partners-borrowing"].join("/") %>
          </li>
        </ul>
      <h2><%= t("manifold.forms.index.collection_development.label") %></h2>
        <ul class="list-unstyled">
          <li>
            <%= link_to t("manifold.forms.index.collection_development.purchase_request"), [forms_path, "purchase-request"].join("/") %>
          </li>
        </ul>
      <h2><%= t("manifold.forms.index.administrative_services.label") %></h2>
        <ul class="list-unstyled">
          <li>
            <%= link_to t("manifold.forms.index.administrative_services.table_request"), [forms_path, "table-request"].join("/") %>
          </li>
          <li>
            <%= link_to t("manifold.forms.index.administrative_services.event_space_request"), [forms_path, "event-space-request"].join("/") %>
          </li>
          <li>
            <%= link_to t("manifold.forms.index.administrative_services.group_visit"), [forms_path, "group-visit"].join("/") %>
          </li>
          <li>
            <%= link_to t("manifold.forms.index.administrative_services.filming_request"), [forms_path, "filming-request"].join("/") %>
          </li>
          <li>
            <%= link_to t("manifold.forms.index.administrative_services.exhibit_request"), [forms_path, "exhibit-request"].join("/") %>
          </li>
        </ul>
      <h2><%= t("manifold.forms.index.requests") %></h2>
        <ul class="list-unstyled">
          <li>
            <%= t("manifold.forms.index.requests_html") %> 
          </li>
        </ul>
      <h2><%= t("manifold.forms.index.not_held") %></h2>
        <ul class="list-unstyled">
          <li>
            <%= t("manifold.forms.index.not_held_one_html") %>
          </li>
          <li>
            <%= t("manifold.forms.index.not_held_two_html") %>
          </li>
        </ul>
      </div>
  </div>
</div>
