<div class="container">
  <div class="row">
    <div class="col-12 col-lg-9">

      <div class="row">
        <div class="col" style="padding-left: 0">
          <h1><%= title t("manifold.forms.index.title") %></h1>
        </div>
      </div>
    </div>

  <div class="row">
    <div class="col text-center" style="font-size: larger;margin-bottom: 21px">
      <%= t("manifold.forms.index.intro_html") %>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <h2><%= t("manifold.forms.index.temple_materials") %></h2>
      <ul class="list-unstyled">
        <li>
          <a href="/forms/missing-book">Missing Book Search Request</a>
        </li>
        <li>
          <a href="/forms/recall-book">Request Recall of Books Already Checked Out (Faculty/Library Staff only)</a>
        </li>
      </ul>
      <h2><%= t("manifold.forms.index.instructional_materials") %></h2>
      <ul class="list-unstyled">
        <li>
          <a href="/forms/library-instruction">Request a Library Instruction Session</a>
        </li>
        <li>
          <a href="/forms/scrc-instruction">SCRC Instruction Session/Visit Request Form</a>
        </li>
      </ul>
      <h2><%= t("manifold.forms.index.library_privileges") %></h2>
      <ul class="list-unstyled">
        <li>
          <a href="/forms/proxy-account">Proxy Account</a>
        </li>
        <li>
          <a href="/forms/graduate-locker-request">Charles Library Graduate Studio Locker Request</a>
        </li>
        <li>
          <a href="/forms/partners-borrowing">Partners Borrowing Privileges Application/Renewal</a>
        </li>
        </ul>
      <h2><%= t("manifold.forms.index.collection_development") %></h2>
        <ul class="list-unstyled">
          <li>
            <a href="/forms/purchase-request">Request a Purchase for the Library Collections</a>
          </li>
        </ul>
        <h2><%= t("manifold.forms.index.administrative_services") %></h2>
          <ul class="list-unstyled">
            <li>
              <a href="/forms/table-request">Library Staff and Registered Student Organization Table Request</a>
            </li>
            <li>
              <a href="/forms/event-space-request">Charles Library Event Space Request</a>
            </li>
            <li>
              <a href="/forms/group-visit">Group Visit Request</a>
            </li>
            <li>
              <a href="/forms/filming-request">Guidelines for Requesting Permission to Use the Libraries for Filming</a>
            </li>
          </ul>
        <h2><%= t("manifold.forms.index.requests") %></h2>
          <ul class="list-unstyled">
            <li>
              <%= t("manifold.forms.index.requests_html") %> 
            </li>
          </ul>
        <h2><%= t("manifold.forms.index.not_held") %></h2>
          <ul class="list-unstyled">
            <li>
              <%= t("manifold.forms.index.not_held_one_html") %>
            </li>
            <li>
              <%= t("manifold.forms.index.not_held_two_html") %>
            </li>
          </ul>
      </div>
  </div>
</div>
