<div class="container-lg">

  <% if params[:success] == "true" %>
  <div class="row">
    <div class="col-12 flash notice">
      <%= t("manifold.forms.submissions.success_message") %>
    </div>
  </div>
  <% end %>
  <% if params[:success] == "false" %>
  <div class="row">
    <div class="col-12 flash error">
      <%= t("manifold.forms.submissions.failure_message") %>
    </div>
  </div>
  <% end %>

  <div class="row">
    <div class="col-12 col-lg-9 offset-lg-1">
      <h1><%= title t("manifold.forms.index.title") %></h1>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-lg-8 offset-lg-1 text-start fs-5">
      <%= t("manifold.forms.index.intro") %>
    </div>
    <div class="col-12 col-lg-3">
      <h2 class="access-link mb-5 mb-lg-0"><%= link_to "Library Suggestions/Feedback", webpages_contact_path %></h2>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-lg-9 offset-lg-1">
    <% @form_groups.each do |group| %>
      <h2 class="bl-red mt-5"><%= group[0] %></h2>
      <ul class="list-unstyled ml-3">
        <% group[1].each do |form| %>
          <li>
            <%= link_to form.title, form_path(form.slug) %>
          </li>
        <% end %>
      </ul>
    <% end %>
    
      <h2 class="bl-red mt-5"><%= t("manifold.forms.index.requests") %></h2>
        <ul class="list-unstyled ml-3">
          <li>
            <%= t("manifold.forms.index.requests_html") %> 
          </li>
        </ul>

      <h2 class="bl-red mt-5"><%= t("manifold.forms.index.not_held") %></h2>
        <ul class="list-unstyled ml-3">
          <li>
            <%= t("manifold.forms.index.not_held_one_html") %>
          </li>
          <li>
            <%= t("manifold.forms.index.not_held_two_html") %>
          </li>
        </ul>
      </div>

  </div>
</div>
