<div class="container-lg form mt-0 pt-0">
  <% unless @type.nil? || @type == "all" %>

  <% if params[:success] == "av-requests" %>
  <div class="row">
    <div class="col-12 flash notice mb-3">
      <%= t("manifold.forms.submissions.av_requests_success_message") %>
    </div>
  </div>
  <% elsif params[:success] == "copy-requests" %>
  <div class="row">
    <div class="col-12 flash notice mb-3">
      <%= t("manifold.forms.submissions.copy_requests_success_message") %>
    </div>
  </div>
  <% elsif params[:success] == "true" %>
  <div class="row">
    <div class="col-12 flash notice mb-3">
      <%= t("manifold.forms.submissions.success_message") %>
    </div>
  </div>
  <% elsif params[:success] == "false" %>
  <div class="row">
    <div class="col-12 flash error mb-3">
      <%= t("manifold.forms.submissions.failure_message") %>
    </div>
  </div>
  <% end %>

  <div class="row">
    <div class="col-12 col-lg-9 offset-lg-1">

      <div class="row">
        <div class="col back-button mt-2">
          < <%= link_to "View all forms", forms_path, class: "inline" %>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <h1><%= title @title %></h1>
        </div>
      </div>

      <% if @intro.present? && @type != "av-requests" && @type != "copy-requests" %>
      <div class="row">
        <div class="col mb-3">
          <%= render "intro" %>
        </div>
      </div>
      <% end %>

      <%= simple_form_for @form, html: {class: "form-horizontal", enctype: "multipart" } do |f| %>
      <%= f.input :form_type, as: :hidden, input_html: { value: "#{@type}" } %>
      <%= f.input :title, as: :hidden, input_html: { value: "#{@title}" } %>
      <%= f.input :recipients, as: :hidden, input_html: { value: "#{@recipients}" } unless @type == "av-requests" || @type == "copy-requests" %>

      <% unless ["event-space-request"].include? @type %> 
        <div class="row">
          <div class="col mx-3">
            <fieldset class="fieldset-border mb-4">
              <legend class="fieldset-legend"><%= t("manifold.forms.shared.your_info") %></legend>
            <%= render "forms/#{@type}/personal_info", f: f %>
            </fieldset>
          </div>
        </div>
      <% end %>

      <% unless ["graduate-locker-request"].include? @type %>
        <div class="row">
          <div class="col mx-3">
            <fieldset class="fieldset-border">
              <legend class="fieldset-legend"><%= t("manifold.forms.shared.request_info") %></legend>
              <%= render "forms/#{@type}/request-info", f: f %>
          </div>
        </div>
      <% end %>

      <% if @intro.present? && (@type == "av-requests" || @type == "copy-requests") %>
      <div class="row">
        <div class="col mb-3">
          <%= render "intro" %>
        </div>
      </div>
      <% end %>

      <% if ["event-space-request"].include? @type %> 
        <div class="row">
          <div class="col mx-3">
            <fieldset class="fieldset-border mb-4">
              <legend class="fieldset-legend"><%= t("manifold.forms.shared.your_info") %></legend>
            <%= render "forms/#{@type}/personal_info", f: f %>
            </fieldset>
          </div>
        </div>
      <% end %>

        <div class="row mt-4">
          <div class="col mx-3">
            <%= f.button :submit, t("manifold.forms.shared.submit"), class: "btn btn-primary" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <% else %>
    <%= render "all" %>
  <% end %>
</div>
