<div class="field-unit__label">
  <%= f.label field.attribute %>
</div>
<div class="field-unit__field">
	<% if field.data.attached? %>
	  <%= image_tag field.data %><br />
    <%= f.file_field field.attribute %>
    <%= link_to t("manifold.admin.actions.detach"), { action: :detach }, data: { confirm: "Are you sure?" } %>
  <% else %>
	  <%= f.file_field field.attribute %>    
	<% end %>
</div>
