<div class="field-unit__label">
  <%= f.label "Image Upload" %>
  <% if field.resource.class.to_s == "Collection" %>
  	<p style="height: 1.5rem"></p>
  <% end %>
</div>
<div class="field-unit__field">
	<% if field.data.attached? %>
	  <%= image_tag field.data %><br />
    <%= f.file_field field.attribute %>
    <%= link_to t("manifold.admin.actions.detach"), { action: :detach }, data: { confirm: "Are you sure?" } %>
  <% else %>
	  <%= f.file_field field.attribute %>
    <% if field.resource.class.to_s == "Collection" %>
    	<p class="text-muted">Requirements: 600 x 300 px -- .jpg, .png, .gif files only</p>
    <% end %>
	<% end %>
</div>
