<div class="field-unit__label">
  <%= f.label "Image Upload" %>
  <% if field.resource.class.to_s == "Collection" || field.resource.class.to_s == "Exhibition" || field.resource.class.to_s == "Space" %>
  	<p class="h-one-half"></p>
  <% end %>
</div>
<div class="field-unit__field">
	<% if (field.data.attached? && field.data.persisted?) %>
	  <%= image_tag field.data %><br />
    <%= f.file_field field.attribute %>
    <%= link_to t("manifold.admin.actions.detach"), { action: :detach, type: field.attribute }, data: { confirm: t("manifold.default.fields.confirm") } %>
  <% else %>
	  <%= f.file_field field.attribute %>
    <% if field.resource.class.to_s == "Collection" || field.resource.class.to_s == "Space"%>
      <p class="text-muted"><%= t("manifold.default.fields.photo_field.rectangle") %></p>
    <% end %>
    <% if field.resource.class.to_s == "Exhibition" %>
      <p class="text-muted"><%= t("manifold.default.fields.photo_field.square") %></p>
    <% end %>
	<% end %>
</div>
