<%= render "categories-mobile-menu" %>

<div class="container category-show<% if explore_charles(@category) %> charles<% end %>">
  
  <div class="row">
    <% unless @nav_items.blank? %>
      <div class="col-lg-3 d-none d-lg-block">
        <%= render "category_items" %>
      </div>
      <% unless explore_charles(@category) %>
      <div class="col-12 col-lg-6">
      <% else %>
      <div class="col-12 col-lg-9">
      <% end %>
    <% else %>
      <div class="col-12">
    <% end %>
        <h1 class="page-title"><%= title @category.label %></h1>
        <div class="details">
          <%= link_to image_tag(@category.show_image, class: "decorative mb-3", alt: ""), asset_path(@image) unless @image.nil? %>
          <%= render "categories/marketing/slideshow" if explore_charles(@category) %>
          <% unless @category.long_description.nil? %>
            <%= sanitize @category.long_description.html_safe %>
          <% else %>
            <p style="font-size: 150%;"><%= t("manifold.categories.under_construction") %></p>
          <% end %>
        </div>
      </div>

      <% unless explore_charles(@category) %>
      <div class="col-12 col-lg-3">
        <% unless @category.external_link.nil? %>
        <h2>
          <%= link_to @category.external_link.title, @category.external_link.link, class: "categories-external-link" %>
        </h2>
        <% end %>
        <% unless @category.get_help.blank? %>
          <h2>Get Help</h2>
        <div class="entity-help">
          <p><%= sanitize @category.get_help.html_safe %></p>
        </div>
        <% end %>
      </div>
      <% end %>

  </div>
</div>
