<%= render "categories-mobile-menu" %>

<div class="container-lg category-show<% if explore_charles(@category) %> charles<% end %>">
  
  <div class="row">
    <% if @nav_items.present? %>
      <div class="col-lg-3 d-none d-lg-block">
        <%= render "category_items" %>
      </div>
      <% if @category.external_link.present? || @category.get_help.present? %>
        <div class="col-12 col-lg-6">
      <% else %>
        <div class="col-12 col-lg-9">
      <% end %>
    <% else %>
      <div class="col-12">
    <% end %>

    <%= render "secondary_covid_alert" if @header_alert.present? %>

      <h1 class="page-title"><%= title @category.label.html_safe %></h1>
        <div class="details">
          <%= render "categories/marketing/slideshow" if explore_charles(@category) %>
          <% if @category.long_description.present? %>
            <%= @category.long_description %>
          <% else %>
            <p style="font-size: 150%;"><%= t("manifold.categories.under_construction") %></p>
          <% end %>
        </div>
      </div>

      <% unless explore_charles(@category) %>
      <% if @category.external_link.present? || @category.get_help.present? %>
      <div class="col-12 col-lg-3">
        <% if @category.external_link.present? %>
        <h2>
          <%= link_to @category.external_link.title, @category.external_link.link, class: "categories-external-link" %>
        </h2>
        <% end %>
        <% unless @category.get_help.blank? %>
          <h2>Get Help</h2>
        <div class="entity-help">
          <p><%= @category.get_help %></p>
        </div>
        <% end %>
      </div>
      <% end %>
      <% end %>

  </div>
</div>
