<div id="site-footer" class="">
  <section>
  <div class="row social">
    <div class="col-7">
      <%= link_to "Donate to the Libraries", "#", class: 'donate' %>
    </div>
    <div class="col-5 text-right">
      <ul>
        <li class="social-footer instagram">
          <%= link_to image_tag('instagram-logo_white.svg'), 'http://instagram.com/tulibraries' %>
        </li>
        <li class="social-footer facebook">
          <%= link_to image_tag('facebook-logo_white.svg'), 'https://www.facebook.com/pages/Temple-University-Libraries/6340283058' %>
        </li>
        <li class="social-footer twitter">
          <%= link_to image_tag('twitter-logo_white.svg'), 'http://twitter.com/TempleLibraries' %>
        </li>
      </ul>
    </div>
  </div>
</section>
<section>
  <div class="row">
    <div class="col" style="padding:0;">
      <%= link_to root_path, class: "footer-name", id: "footer-logo" do %>
        <%= image_tag('temple-logo-t-box.svg', class: "footer-logo") %> University Libraries
      <% end %>
      <h1 class="element-invisible">More Resources</h1>
      <div class="postscript row" style="margin-top: 28px;">      
        <div class="col-md-6 col-lg-3 footer-col" id="footer-buildings">
          <h2><%= link_to "Libraries", buildings_path, class: "col-heading" %></h2>
          <ul>
            <% @footer_buildings.each do |library| %>
              <li><%= link_to library.name, library %></li>
            <% end %>
            </ul>
        </div>
        <div class="col-md-6 col-lg-3 footer-col" id="footer-services">
          <h2><%= link_to "Services", service_path(2), class: "col-heading" %></h2>
          <ul>
            <% @footer_services.each do |service| %>
              <li><%= link_to service.title, service %></li>
            <% end %>
            </ul>
        </div>
        <div class="col-md-6 col-lg-3 footer-col" id="footer-groups">
          <h2><%= link_to "Groups", groups_path, class: "col-heading" %></h2>
          <ul>
            <% @footer_groups.each do |group| %>
              <li><%= link_to group.name, group %></li>
            <% end %>
            </ul>
        </div>
        <div class="col-md-6 col-lg-3 footer-col" id="footer-collections">
          <h2><%= link_to "Collections", collection_path(1), class: "col-heading" %></h2>
          <ul>
            <% @footer_collections.each do |collection| %>
              <li><%= link_to collection.name, collection %></li>
            <% end %>
            </ul>
        </div>
      </div>

        <div class="postscript row see-all">
          <div class="col-md-6 col-lg-3 footer-col">
            <div><%= link_to "View all Libraries", buildings_path %></div>
          </div>
          <div class="col-md-6 col-lg-3 footer-col">
            <div><%= link_to "View all Services", service_path(1) %></div>
          </div>
          <div class="col-md-6 col-lg-3 footer-col">
            <div><%= link_to "View all Groups", groups_path %></div>
          </div>
          <div class="col-md-6 col-lg-3 footer-col">
            <div><%= link_to "View all Collections", collection_path(1) %></div>
          </div>
      </div>

      <div class="tu-links">    

        <div class="region region-footer footer-col">
          <h2 style="border-bottom: solid #ccc 1px;">Useful Links</h2>

          <div class="row">
            <div class="col-md-6 col-lg-3 ">
              <ul>
                <li>EZ-borrow</li>
                <li>ILLiad</li>
                <li>RefWorks</li>
              </ul>
            </div>
            <div class="col-md-6 col-lg-3 ">
              <ul>
                <li>Staff&nbsp;directory</li>
                <li>Contact us</li>
                <li>Memberships</li>
              </ul>
            </div>
            <div class="col-md-6 col-lg-3 ">
              <ul>
                <li>Jobs</li>
                <li>Publications</li>
                <li>Donate</li>
              </ul>
            </div>
             <div class="col-md-6 col-lg-3 ">
              <ul>
                <li>Policies</li>
              </ul>
            </div>
        </div>
      </div>
    </div>
  </div>
</section>
</div>