<div id="site-footer">
  <div class="container">
  <div class="row social">
    <div class="col-12 col-lg-7 px-0">
      <% unless @donate_link.nil? %>
        <%= link_to t("manifold.footer.donate_link"), @donate_link, class: "donate" %>
      <% end %>
    </div>
    <div class="col-12 col-lg-5 text-left text-lg-right px-0 social-link">
      <% unless @social_links.nil? %>
      <ul>
        <%= link_to @social_links do %>
        <li class="social-footer instagram">
          <%= image_tag('instagram-logo_white.svg', alt: "instagram logo") %>
        </li>
        <li class="social-footer facebook">
          <%= image_tag('facebook-logo_white.svg', alt: "facebook logo") %>
        </li>
        <li class="social-footer twitter">
          <%= image_tag('twitter-logo_white.svg', alt: "twitter logo") %>    
        </li>
        <% end %>
      </ul>
      <% end %>
    </div>
  </div>

  <div class="tu-links">
      <div class="row">
        <div class="col-12 col-lg-6 px-0">
          <div class="row">
            <div class="col px-0">
              <h2>Quick Links</h2>
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-lg-4 px-0">
              <ul class="list-unstyled">
                <% unless @ezborrow_link.nil? %>
                <li><%= link_to t("manifold.footer.ezborrow_link"), @ezborrow_link.link %></li>
                <% end %>
                <% unless @jobs_link.nil? %>
                <li><%= link_to t("manifold.footer.employment_opportunities"), @jobs_link %></li>
                <% end %>
                <% unless @standards_link.nil? %>
                <li><%= link_to t("manifold.footer.standards_link"), @standards_link %></li>
                <% end %>
                <li><%= link_to t("manifold.footer.patron_forms_label"), forms_index_path %></li>
              </ul>
            </div>
            <div class="col-12 col-lg-3 px-0">
              <ul class="list-unstyled">
                <% unless @illiad_link.nil? %>
                <li><%= link_to t("manifold.footer.illiad_link"), @illiad_link.link %></li>
                <% end %>
                <% unless @publications_link.nil? %>
                <li><%= link_to t("manifold.footer.publications_link"), @publications_link %></li>
                <% end %>
                <% unless @diversity_link.nil? %>
                <li><%= link_to t("manifold.footer.diversity_link"), @diversity_link %></li>
                <% end %>
              </ul>
            </div>
            <div class="col-12 col-lg-5 px-0">
              <ul class="list-unstyled">
                <% unless @refworks_link.nil? %>
                <li><%= link_to t("manifold.footer.refworks_link"), @refworks_link.link %></li>
                <% end %>
                <% unless @privacy_link.nil? %>
                <li><%= link_to t("manifold.footer.privacy_link"), @privacy_link %></li>
                <% end %>
                <li><%= link_to t("manifold.footer.tu_homepage_link"), @tu_homepage_link %></li>
              </ul>
            </div>
          </div>
          <div class="row">
            <div class="col p-0" style="margin-top: 28px;">
              <%= link_to (image_tag "gear.png", style: "width: 22px", class: "decorative" ), admin_people_path %>
            </div>
          </div>
        </div>

        <div class="col-12 col-lg-6 px-0">
          <div class="row">
            <div class="col-12 col-lg-4 offset-lg-8 px-0 address">
              <p><%= t("manifold.footer.charles_address").html_safe %></p>
              <% unless @numbers_link.nil? %>
              <p><%= link_to t("manifold.footer.numbers_link"), @numbers_link %></p>
              <% end %>
              <p><%= link_to t("manifold.footer.staff_directory"), people_path %></p>
              <p><%= link_to t("manifold.footer.org_charts"), @org_charts %></p>
              <p><%= link_to t("manifold.footer.staff_forms"), @staff_forms, target: "_blank" %></p>
            </div>
          </div>
        </div>
    </div>
  </div>

<!-- float right -->


</div>
</div>