<div id="site-footer" class="">
  <div class="row social">
    <div class="col-4">
      <%= link_to "Donate to the Libraries", "#", class: 'donate' %>
    </div>
    <div class="col-8 text-right">
      <ul>
        <li class="social-footer instagram">
          <%= link_to image_tag('instagram-logo_white.svg'), 'http://instagram.com/tulibraries' %>
        </li>
        <li class="social-footer facebook">
          <%= link_to image_tag('facebook-logo_white.svg'), 'https://www.facebook.com/pages/Temple-University-Libraries/6340283058' %>
        </li>
        <li class="social-footer twitter">
          <%= link_to image_tag('twitter-logo_white.svg'), 'http://twitter.com/TempleLibraries' %>
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <%= link_to root_path, class: "footer-name", id: "footer-logo" do %>
        <%= image_tag('temple-logo-t-box.svg', class: "footer-logo") %> University Libraries
      <% end %>

      <div class="postscript row" style="margin-top: 56px;">      
        <div class="col col-sm-2" id="footer-buildings">
          <%= link_to "Buildings", buildings_path, style: "font-weight:600" %>
          <hr />
          <ul>
            <li>Building 1</li>
            <li>Building 2</li>
            <li>Building 3</li>
            <li>Building 4</li>
            <li>Building 5</li>
            <li>Building 6</li>
            <li class="see-all">View all Buildings</li>
            </ul>
        </div>
        <div class="col col-sm-2" id="footer-spaces">
          <%= link_to "Spaces", spaces_path, style: "font-weight:600" %>
          <hr style="border: solid white 1px;color: white" />
          <ul>
            <li>Space 1</li>
            <li>Spaces 2</li>
            <li>Spaces 3</li>
            <li>Spaces 4</li>
            <li>Spaces 5</li>
            <li>Spaces 6</li>
            <li class="see-all">View all Spaces</li>
            </ul>
        </div>
        <div class="col col-sm-2" id="footer-services">
          <%= link_to "Services", services_path, style: "font-weight:600" %>
          <hr style="border: solid white 1px;color: white" />
          <ul>
            <li>Service 1</li>
            <li>Service 2</li>
            <li>Service 3</li>
            <li>Service 4</li>
            <li>Service 5</li>
            <li>Service 6</li>
            <li class="see-all">View all Services</li>
            </ul>
        </div>
        <div class="col col-sm-2" id="footer-groups">
          <%= link_to "Groups", groups_path, style: "font-weight:600" %>
          <hr style="border: solid white 1px;color: white" />
          <ul>
            <li>Group 1</li>
            <li>Group 2</li>
            <li>Group 3</li>
            <li>Group 4</li>
            <li>Group 5</li>
            <li>Group 6</li>
            <li class="see-all">View all Groups</li>
            </ul>
        </div>
        <div class="col col-sm-2" id="footer-collections">
          <strong>Collections</strong>
          <%# link_to "Collections", collections_path, style: "font-weight:600" %>
          <hr style="border: solid white 1px;color: white" />
          <ul>
            <li>Collection 1</li>
            <li>Collection 2</li>
            <li>Collection 3</li>
            <li>Collection 4</li>
            <li>Collection 5</li>
            <li>Collection 6</li>
            <li class="see-all">View all Collections</li>
            </ul>
        </div>
      </div>


      <div class="tu-links">    

        <div class="region region-footer">
          <div class="row">
            <div class="col col-sm-12 tools">
              Staff Tools
              <hr />
            </div>
          </div>
          <div class="row">
            <div class="col col-sm-2">
              <ul>
                <li>EZ-borrow</li>
                <li>ILLiad</li>
                <li>RefWorks</li>
              </ul>
            </div>
            <div class="col col-sm-2">
              <ul>
                <li>Staff directory</li>
                <li>Contact us</li>
                <li>Memberships</li>
              </ul>
            </div>
            <div class="col col-sm-2">
              <ul>
                <li>Jobs</li>
                <li>Publications</li>
                <li>Donate</li>
              </ul>
            </div>
            <div class="col col-sm-2">
              <ul>
                <li>Policies</li>
              </ul>
            </div>
            <div class="col col-sm-4">
              
            </div>

        </div>
      </div>
    </div>
  </div>
</div>