<div id="site-footer">
  <div class="container">
  <div class="row social">
    <div class="col-12 col-lg-7 px-0">
      <% unless @donate_link.nil? %>
        <%= link_to image_tag("give_button.png"), page_path(@donate_link), class: "donate", alt: "Support the Libraries" %>
      <% end %>
    </div>
    <div class="col-12 col-lg-5 text-left text-lg-right px-0">
      <% unless @social_links.nil? %>
      <ul>
        <li class="social-footer instagram">
          <%= link_to image_tag('instagram-logo_white.svg'), @social_links %>
        </li>
        <li class="social-footer facebook">
          <%= link_to image_tag('facebook-logo_white.svg'), @social_links %>
        </li>
        <li class="social-footer twitter">
          <%= link_to image_tag('twitter-logo_white.svg'), @social_links %>
        </li>
      </ul>
      <% end %>
    </div>
  </div>

  <div class="tu-links">
      <div class="row">
        <div class="col-12 col-lg-6 px-0">
          <div class="row">
            <div class="col px-0">
              <h2>Quick Links</h2>
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-lg-4 px-0">
              <ul class="list-unstyled">
                <% unless @ezborrow_link.nil? %>
                <li><%= link_to "EZ-borrow", @ezborrow_link.link %></li>
                <% end %>
                <% unless @jobs_link.nil? %>
                <li><%= link_to "Jobs", page_path(@jobs_link) %></li>
                <% end %>
                <li><%= link_to "Privacy Guidelines", "#" %></li>
              </ul>
            </div>
            <div class="col-12 col-lg-4 px-0">
              <ul class="list-unstyled">
                <% unless @illiad_link.nil? %>
                <li><%= link_to "ILLiad", @illiad_link.link %></li>
                <% end %>
                <% unless @publications_link.nil? %>
                <li><%= link_to "Publications", page_path(@publications_link) %></li>
                <% end %>
                <li><%= link_to "Diversity Statement", "#" %></li>
              </ul>
            </div>
            <div class="col-12 col-lg-4 px-0">
              <ul class="list-unstyled">
                <% unless @refworks_link.nil? %>
                <li><%= link_to "RefWorks", @refworks_link.link %></li>
                <% end %>
                <li><%= link_to "Community Standards", "#" %></li>
                <li><%= link_to "Virtual Reference Services", "#" %></li>
              </ul>
            </div>
          </div>
        </div>

        <div class="col-12 col-lg-6 px-0">
          <div class="row">
            <div class="col-12 col-lg-4 offset-lg-8 px-0 address">
              <p>
              Temple University Libraries<br />
              1900 N. 13th Street<br />
              Philadelphia, PA 19122<br />
              (215) 204-8231
              </p>
              <% unless @numbers_link.nil? %>
              <p><%= link_to "Frequently Called Numbers", page_path(@numbers_link) %></p>
              <% end %>
              <p><%= link_to "Staff Directory", people_path %></p>
            </div>
          </div>
        </div>
    </div>
  </div>

<!-- float right -->


</div>
</div>