<div id="header-navbar" class="container navbar navbar-static-top" role="navigation">
  <div class="col-6 col-md-5 col-lg-4 logo-container">
    <%= link_to root_path, class: "header-name", id: "header-logo" do %>
      <%= image_tag('temple-logo-t-box.svg', class: "header-logo") %> <span>University Libraries</span>
    <% end %>
  </div>

  <div id="main-search" class="col-6 col-lg-5 offset-lg-3 d-none d-md-block d-lg-block text-right">
    <%= render "main-search" %>
  </div>
  <div id="mobile-search-button" class="col-3 d-block d-md-none d-lg-none text-right">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mobile-search" aria-controls="mobile-search" aria-expanded="false" aria-label="Toggle search form">
    <span class="navbar-toggler-icon" onclick="toggle(this)">
      <div class="bar1"></div>
      <div class="bar2"></div>
      <div class="bar3"></div>
    </span>
  </button>
  </div>
</div>

<div id="wrapper">

  <div id="header" class="row">
    <div class="col">
      <% unless @alert.blank? %>
      <div class="container">
        <div class="row">   
          <div class="col-md-12">
            <marquee>
              <% @alert.each do |alert| %>
                <% unless alert.link.blank? %>
                  <%= link_to alert.scroll_text+", click here to see full details...", alert.link %>
                <% else %>
                  <%= link_to alert.scroll_text+", click here to see full details...", alerts_path, id: alert.id %>
                <% end %>
              <% end %>
            </marquee>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div> <!-- #header -->

  <div class="row d-none d-sm-none d-md-none d-lg-block" id="main-menu">
    <div class="container nav-container">
      <ul class="list-unstyled" style=""> 
        <li class="first">
          <a href="/">About</a>
        </li>
        <li>
          <a href="/">Visit & Study</a>
        </li>
        <li>
          <a href="/">Research Services</a>
        </li>
        <li class="last">
          <a href="/">Contact Us</a>
        </li> 
        <li class="nav-right hours-nav">
          <a href="/">Hours</a>
        </li>
        <li class="nav-right chat-nav">
          <a href="/">Chat</a>
        </li>
        <li class="nav-right account-nav">
          <a href="/">My Account</a>
        </li>
      </ul> 
    </div>
  </div>

  <div class="row d-block d-sm-block d-md-block d-lg-none text-center" id="mobile-search-container">
    <%= render "mobile-search" %>
  </div>

  <div class="row d-block d-sm-block d-md-block d-lg-none" id="mobile-nav">
    <%= render "mobile-nav" %>
  </div>

</div>
