<div class="header-search-container">
	<form action=<%= "#{librarysearch_url("everything")}" %> id="header-search">
		<label for="librarySearch" class="visuallyhidden"><%= t("manifold.header.search.everything") %></label>
	  <input type="text" name="q" id="librarySearch" placeholder="<%= t("manifold.default.search_everything") %>" autocomplete="off" />
	  <input type="submit" value = "" aria-label="submit search query">
	  <input type="hidden" name="search_field" id="search_field" value="all">
	</form>
  <ul class="text-left">
	  <li><%= link_to t("manifold.header.search.books"), "#{librarysearch_url("books")}" %></li>
    <li><%= link_to t("manifold.header.search.articles"), "#{librarysearch_url("articles")}" %></li>
    <li><%= link_to t("manifold.header.search.databases"), "/databases" %></li>
	</ul>
</div>
