<div id="header-navbar" class="container navbar navbar-static-top" role="navigation">
  <div class="col-8 col-sm-7 col-lg-7 logo-container text-left">
    <%= link_to root_path, class: "header-name", id: "header-logo" do %>
      <%= image_tag('temple-logo-t-box.svg', class: "header-logo") %> <span>University Libraries</span>
    <% end %>
  </div>

<% unless action_name == "home" %>
  <div id="header-search" class="col-12 col-sm-5 col-lg-5 d-none d-lg-block text-right">
    <%= render "header-search" %>
  </div>
<% else %>
  <div id="todays-date" class="col-12 col-sm-5 col-lg-4 text-left">
    <div class="inner-date">
      <%= render "todays_date" %>
    </div>
  </div>
<% end %>

  <div id="mobile-search-button" class="col-3 <% unless action_name == "home" %>d-md-block d-lg-none<% else %>d-none<% end %> text-right">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mobile-search" aria-controls="mobile-search" aria-expanded="false" aria-label="Toggle search form">
    <span class="navbar-toggler-icon" id="search-toggler-icon" onclick="toggle('search')">
      <div class="bar1"></div>
      <div class="bar2"></div>
      <div class="bar3"></div>
    </span>
  </button>
  </div>
</div>

<div id="wrapper">

  <div id="header" class="row">
    <div class="col">
      <% unless @alert.blank? %>
      <div class="container">
        <div class="row">
          <div class="col-12">
            <marquee>
              <% @alert.each do |alert| %>
                <% unless alert.link.blank? %>
                  <%= link_to alert.scroll_text+", click here to see full details...", alert.link %>
                <% else %>
                  <%= alert.scroll_text %>
                <% end %>
              <% end %>
            </marquee>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div> <!-- #header -->

  <div class="row d-none d-sm-none d-md-none d-lg-block" id="main-menu">
    <div class="container nav-container">
      <ul class="list-unstyled">
        <li class="<% if action_name == 'about' %>active<% end %>">
          <%= link_to t("manifold.header.about"), pages_about_path %>
        </li>
        <li class="<% if action_name == 'visit' %>active<% end %>">
          <%= link_to t("manifold.header.visit"), pages_visit_path %>
        </li>
        <li class="<% if action_name == 'research' %>active<% end %>">
          <%= link_to t("manifold.header.research"), pages_research_path %>
        </li>
        <li class="<% if action_name == 'contact' %>active<% end %>">
          <%= link_to t("manifold.header.contact"), pages_contact_path %>
        </li>
        <li class="nav-right hours-nav<% if controller_name == 'library_hours' %> active<% end %>">
          <%= link_to t("manifold.header.hours"), hours_path %>
        </li>
        <li class="nav-right chat-nav" id="chat-nav">
          <%= link_to t("manifold.header.chat"), @chat_link %>
        </li>
        <li class="nav-right account-nav">
          <%= link_to t("manifold.header.my_account"), "#{librarysearch_url("users/account")}" %>
        </li>
      </ul>
    </div>
  </div>

  <div class="row d-block d-sm-block d-md-block d-lg-none text-center" id="mobile-search-container">
    <%= render "mobile-search" %>
  </div>

  <div class="row d-block d-sm-block d-md-block d-lg-none" id="mobile-nav">
    <%= render "mobile-nav" %>
  </div>

</div>
