<% @highlights.each_with_index do |highlight, index| %>
  <div class="col-12 col-xl-3">
    <div class="card cta<%= (index+1).ordinalize %> ">

      <% if highlight.image.attached?  %>
        <%= image_tag highlight.image_variant(360,360), class: "d-none d-xl-block card-img-top", alt: "" %>
      <% else %>
        <%= image_tag "T.gif", style: 'width: 300px;' %>
      <% end %>
      <div class="card-body">
        <span class="card-title"><%= link_to highlight.title, highlight.link %></span>
        <p class="card-text"><%= highlight.blurb %></p>
        <%= link_to "See more >", highlight.link, class: 'see-more' %>
      </div>
    </div>
  </div>
<% end %>