<div class="container nav-container">

    <div class="btn-group dropdown">
        <%= button_tag t("manifold.header.about"),
                    {id: "aboutMenuButton", type: "button", class: "btn btn-lg btn-secondary dropdown-toggle disabled", 
                    "data-toggle" => "dropdown", "aria-haspopup" => "true", "aria-expanded" => "false", 
                    method: :get} %>
        <div class="dropdown-menu" id="about-links">
          <div class="row">
            <%= render "menu-items", items: @about_menu.categories if @about_menu.present?  %>
          </div>
        </div>
    </div>

      <div class="btn-group dropdown">
        <%= button_tag t("manifold.header.visit"),
                    {id: "visitMenuButton", type: "button", class: "btn btn-lg btn-secondary dropdown-toggle disabled",
                    "data-toggle" => "dropdown", "aria-haspopup" => "true", "aria-expanded" => "false", 
                    method: :get} %>
        <div class="dropdown-menu" id="visit-links">
          <div class="row">
            <%= render "menu-items", items: @visit_menu.categories if @visit_menu.present?  %>
          </div>
        </div>
    </div>

    <div class="btn-group dropdown">
        <%= button_tag t("manifold.header.research"), 
                    {id: "researchMenuButton", type: "button", class: "btn btn-lg btn-secondary dropdown-toggle disabled", 
                    "data-toggle" => "dropdown", "aria-haspopup" => "true", "aria-expanded" => "false", 
                    method: :get} %>
        <div class="dropdown-menu" id="research-links">
          <div class="row">
            <%= render "menu-items", items: @research_menu.categories if @research_menu.present? %>
          </div>
        </div>
    </div>

    <div class="btn-group ml-2">
      <ul class="list-unstyled" style="display:inline-block;">
      <li class="<% if action_name == 'contact' %>active<% end %>">
        <%= button_to t("manifold.header.contact"), webpages_contact_path, 
                        {id: "researchMenuButton", type: "button", class: "btn btn-lg btn-secondary dropdown-toggle disabled", 
                          method: :get}  %>
      </li>
      </ul>
    </div>

  <ul class="list-unstyled nav-right-links">
    <li class="nav-right hours-nav<% if controller_name == 'library_hours' %> active<% end %>">
      <%= link_to t("manifold.header.hours"), hours_path %>
    </li>
    <li class="nav-right chat-nav" id="chat-nav">
      <%= link_to t("manifold.header.chat"), "/chat", target: "_blank" %>
    </li>
    <li class="nav-right account-nav">
      <%= link_to t("manifold.header.my_account"), "#{librarysearch_url("users/account")}" %>
    </li>
  </ul>
</div>