<div class="col-4">
  <div class="list-group h-100" id="list-tab" role="tablist">
    <% items.each_with_index do |item, index| %>
      <% unless get_items(item.category) == "" %>
        <%= link_to item.category.name, "##{menu}-#{item.category.name.parameterize}", 
                                    {class: "mt-0 p-2 ps-3 multiples#{" active" if index == 0}", 
                                    id: "#{menu}-#{item.category.name.parameterize}-list", "data-bs-toggle": "list", 
                                    href: "##{menu}-#{item.category.name.parameterize}-items", role: "tab", 
                                    "aria-controls": "home"} %>
      <% else %>
        <%= link_to item.category.name, item.category.link, class: "p-2 ps-3" %>
      <% end %>
  <% end %>
  </div>
</div>

<div class="col-8">
  <div class="tab-content mb-4" id="nav-tabContent">
    <% items.each_with_index do |item, index| %>
    <div class="tab-pane fade<%= " active show" if index == 0 %>" id="<%= menu+"-"+item.category.name.parameterize %>-items" 
         role="tabpanel" aria-labelledby="<%= "#{menu}-#{item.category.name.parameterize}-list" %>">
      <%= sanitize get_items(item.category).html_safe unless get_items(item.category) == "" %>
    </div>
    <% end %>
  </div>
</div>
