<div class="col-4">
  <div class="list-group h-100" id="list-tab" role="tablist">
    <% items.each_with_index do |item, index| %>
      <% unless get_categories(item) == "" %>
        <%= link_to item.category.name, "##{menu}-#{item.category.name.parameterize}", 
                                    {class: "mt-0 p-2 ps-3 multiples#{" active" if index == 0}", 
                                    id: "list-#{menu}-#{item.category.name.parameterize}-list", "data-bs-toggle": "list", 
                                    href: "#list-#{menu}-#{item.category.name.parameterize}", role: "tab", 
                                    "aria-controls": "home"} %>
      <% else %>
        <%= link_to item.category.name, item.category, class: "p-2 ps-3" %>
      <% end %>
  <% end %>
  </div>
</div>

<div class="col-8">
  <div class="tab-content mb-4" id="nav-tabContent">
    <% items.each_with_index do |item, index| %>
    <div class="tab-pane fade<%= " active show" if index == 0 %>" id="list-<%= menu+"-"+item.category.name.parameterize %>" 
         role="tabpanel" aria-labelledby="list-<%= item.category.name.parameterize %>-list">
      <%= sanitize get_categories(item).html_safe unless get_categories(item) == "" %>
    </div>
    <% end %>
  </div>
</div>
