<nav class="navbar navbar-expand-lg navbar-dark">

  <div class="collapse navbar-collapse" id="mobile-search">
    <div class="navbar-nav">
      <form action=<%= "#{librarysearch_url("everything")}" %> class="mobile">
        <label for="librarySearch" class="visuallyhidden"><%= t("manifold.header.search.everything") %></label>
        <input type="text" name="q" id="librarySearch" class="mobile" placeholder="Search everything" autocomplete="off" />
        <input type="submit" class="mobile" value = "" aria-label="submit search query">
      </form>
      <ul class="text-center">
        <li><%= link_to t("manifold.header.search.books"), "#{librarysearch_url("books")}" %></li>
        <li><%= link_to t("manifold.header.search.articles"), "#{librarysearch_url("articles")}" %></li>
        <li><%= link_to t("manifold.header.search.databases"), @db_az_link %></li>
      </ul>
    </div>
  </div>

</nav>
