  <nav class="navbar navbar-expand-lg navbar-dark">
    <button id="menu-button" class="navbar-toggler icon-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mobile-menu" aria-controls="mobile-menu" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon" id="navbar-toggler-icon">
        <div class="bar1"></div>
        <div class="bar2"></div>
        <div class="bar3"></div>
      </span>
      <span class="navbar-brand" id="main-navbar-brand"><%= t("manifold.default.application.mobile_nav.main_menu") %></span>
    </button>
    <div class="collapse navbar-collapse" id="mobile-menu">
      <div class="navbar-nav">
        <div class="row">
          <div class="col">
            <%= link_to t("manifold.header.about"), webpages_about_path %>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <%= link_to t("manifold.header.visit"), webpages_visit_path %>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <%= link_to t("manifold.header.research"), webpages_research_path %>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <%= link_to t("manifold.header.contact"), webpages_contact_path %>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <%= image_tag "person.png", class: "person-icon decorative", alt: "" %>
            <%= link_to t("manifold.header.my_account"), "#{librarysearch_url("users/account")}" %>
          </div>
        </div>
        <div class="row">
          <div class="col" id="chat-nav-mobile">
            <%= image_tag "chat.png", class: "chat-icon decorative", alt: "" %>
            <%= link_to t("manifold.header.chat"), "/chat" %>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <%= image_tag "hours.png", class: "hours-icon decorative", alt: "" %>
            <%= link_to t("manifold.header.hours"), hours_path %>
          </div>
        </div>
      </div>
    </div>

  </nav>
