<div class="current-week model-hours">

  <div class="row">
    <div class="col-12 col-sm-4 pt-1 ps-2">
      <h2><%= t("manifold.default.application.building_hours.title") %></h2>
    </div>
    <div class="col-sm-8 text-sm-end">
      <%= link_to t("manifold.default.application.building_hours.more_hours"), hours_path, class: "today_button caret-right"  %>
    </div>
  </div>

</div>

<%= render @building.weekly_hours if controller_name == "buildings" %>
<%= render @space.weekly_hours if ["spaces", "webpages"].include? controller_name %>

<% if controller_name == "spaces" && @model.image.attached?  %>
  <div class="space-image mt-4">
    <%= image_tag @model.custom_image(1096,730), class: "decorative w-100", alt: "" %>
  </div>
<% end %>

<% if controller_name == "buildings" && (@model.coordinates.present? || @model.google_id.present?) %>
  <div class="building-map mt-4">
    <%= render_map(@model.name, @model.coordinates, @model.google_id) %>
  </div>
<% end %>

</div>