<div class="mobile-hours">
<div class="current-week">

  <div class="row"> <!-- dates header -->
    <div class="col-12"><h2><%= t("manifold.default.application.building_hours.title") %></h2></div>
    </div>
  </div>
  <div class="hours-header">
    <div class="month hours-month-name">
      <%= @weekly_hours.first[0].to_date.strftime("%B %d") %> - <%= @weekly_hours.last[0].strftime("%B %d %Y") %>
    </div>
    <div>
      <%= link_to t("manifold.default.application.building_hours.more_hours"), hours_path, class: "today_button caret-right" %>
    </div>
  </div>

  <div class="row hours-location"> <!-- location -->
    <div class="col-7">
      <% @weekly_hours.each do |i| %>
        <% if @monday.to_date+i == @today.to_date %>
          <div class="hours-dates today day-of-week">
        <% else %>
          <div class="hours-dates">
        <% end %>
          <%= (@monday.to_date+i).strftime("%A, %B %d") %> 
        </div>
      <% end %>
    </div>

    <div class="col-5 text-start">
      <% @model.get_hours.sort_by(&:date).each_with_index do |time,index| %> <!-- hours -->
      <% if @monday.to_date+index == @today.to_date %>
          <div class="today day-of-week hours-dates">
          <% else %>
          <div class="hours-dates">
        <% end %>
        <% if time.hours.downcase == "closed" %>
          <span class="closed"><%= time.hours %></span>
        <% else %>
          <%= time.hours %>
        <% end %>
        </div>
      <% end %> <!-- hours -->
    </div>
  </div>
    
</div>