<div id="searchOptions">
  <ul class="search-links">
    <li><%= link_to "Books", "#{librarysearch_url}/books" %></li>
    <li><%= link_to "Articles", "#{librarysearch_url}/articles" %></li>
    <li><%= link_to "Databases", "#{librarysearch_url}/databases" %></li>
  </ul>
</div>

<div class="bottom-wrapper">
<div id="dateTime">
  <div id="date">
    <%= @todays_date %>
  </div>
  <div class="row" style="margin: 0">
    <div id="time">
      Charles Library | 8am - 7pm
    </div>
    <div id="allHours">
      <%= link_to "See all library hours >", hours_path %>
    </div>
  </div>
</div>
</div>
