<h1>Welcome</h1>
<p id="notice"><%= notice %></p>

<ul>
	<li><%= link_to 'Buildings', controller: 'buildings', action: 'index' %></li>
	<li><%= link_to 'Spaces', controller: 'spaces', action: 'index' %></li>
	<li><%= link_to 'People', controller: 'persons', action: 'index' %></li>
	<li><%= link_to 'Groups', controller: 'groups', action: 'index' %></li>
</ul>