<h2>
  <a style="cursor:pointer" data-toggle="collapse" data-target="#locations" aria-expanded="<%= @locations.blank? ? 'false' : 'true' %>" aria-controls="locations">
  <%= t("manifold.people.location") %>
  </a>
</h2>
  <ul class="list-unstyled navbar-collapse collapse <%= @locations.blank? ? '' : 'show' %>" id="locations">
    <% unless params[:location].blank? || @locations.exclude?(Building.find(params[:location])) %>

      <% @locations.each do |loc| %>
        <% if loc.slug.to_s == params[:location] %>
        <li class="active">
          <%= loc.name %>
          <span class="clear-filter">
            <%= link_to "X", people_path(request.query_parameters.except(:location).merge({page: 1})) %>
          </span>
        </li>
        <% end %>
      <% end %>

    <% else %>

      <% @locations.each do |loc| %>
        <li>
          <%= link_to loc.name, people_path(request.query_parameters.merge({location: loc, page: 1})) %>
        </li>
      <% end %>

    <% end %>
  </ul>
