<h2>
  <a style="cursor:pointer" data-toggle="collapse" data-target="#subjects" aria-expanded="<%= @subjects.blank? ? 'false' : 'true' %>" aria-controls="subjects">
    Subject Specialty
  </a>
</h2>

  <ul class="list-unstyled navbar-collapse collapse <%= @subjects.blank? ? '' : 'show' %>" id="subjects">
    <% unless @subjects.nil? %>
    <% unless params[:specialty].blank? || @subjects.exclude?(params[:specialty]) %>

      <% @subjects.each do |subject| %>
        <% if subject == params[:specialty] %>
          <li class="active"><%= subject %>
            <span class="clear-filter">
              <%= link_to "X", people_path(request.query_parameters.except(:specialty).merge({page: 1})) %>
            </span>
          </li>
        <% end %>
      <% end %>

    <% else %>

      <% @subjects.each do |subject| %>
        <li>
          <%= link_to subject, people_path(request.query_parameters.merge({specialty: subject, page: 1})) %>
        </li>
      <% end %>

    <% end %>
    <% end %>
  </ul>
