<p id="notice"><%= notice %></p>

<h1>Highlights</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Blurb</th>
      <th>Link</th>
      <th>Date</th>
      <th>Time</th>
      <th>Type</th>
      <th>Tags</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @highlights.each do |highlight| %>
      <tr>
        <td><%= highlight.title %></td>
        <td><%= highlight.blurb %></td>
        <td><%= highlight.link %></td>
        <td><%= highlight.date %></td>
        <td><%= highlight.time %></td>
        <td><%= highlight.highlight_type %></td>
        <td><%= highlight.tags %></td>
        <td></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

