<div class="row">
  <div class="col breadcrumbs">
    <%= link_to "Home", root_path.to_s %> 
    Highlights
  </div>
</div>
<div class="row">
  <div class="col">
    <div class="vertical-stripes-sm">
      <h2><span>Highlights</span></h2>
    </div>
  </div>
</div>

<div class="container highlight">

      <div class="card ctaFirst">
        <% if @highlight.photo.attached?  %>
          <%= image_tag @highlight.photo.variant(resize: '360x360', gravity: 'center'), :class => "card-img-top", :alt => "alt text field needs to be added to model" %>
        <% else %>
          <%= image_tag "T.gif", style: 'width: 300px;' %>
        <% end %>
        <div class="card-body">
            <%= link_to @highlight.link_label, strip_tags(@highlight.link) %>
            <br /><br />
          <span>Tags:</span> 
            <% @highlight.tags.split(', ').each do |tag| %>
                <%= tag %><% unless @highlight.tags.split(', ').last == tag %>, <% end %>
            <% end %>
          </div>
        </div>

        <div class="description">

          <h3><%= @highlight.title %></h3>

          <%= sanitize @highlight.blurb.html_safe %>

        </div>


</div>
<div style="clear: both;"></div>