<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @highlight.title %>
</p>

<p>
  <strong>Blurb:</strong>
  <%= @highlight.blurb %>
</p>

<p>
  <strong>Link:</strong>
  <%= @highlight.link %>
</p>

<p>
  <strong>Date:</strong>
  <%= @highlight.date %>
</p>

<p>
  <strong>Time:</strong>
  <%= @highlight.time %>
</p>

<p>
  <strong>Type:</strong>
  <%= @highlight.type %>
</p>

<p>
  <strong>Tags:</strong>
  <%= @highlight.tags %>
</p>

<%= link_to 'Edit', edit_highlight_path(@highlight) %> |
<%= link_to 'Back', highlights_path %>
