
<div class="container">

  <p id="notice"><%= notice %></p>

<% if @highlight.photo.attached? %>
  <p>
    <%= image_tag @highlight.photo, class: "large" %>
  </p>
<% end %>

<p>
  <strong>Title:</strong>
  <%= @highlight.title %>
</p>


<p>
  <strong>Blurb:</strong>
  <%= @highlight.blurb %>
</p>

<p>
  <strong>Link:</strong>
  <%= @highlight.link %>
</p>

<p>
  <strong>Date:</strong>
  <%= @highlight.date %>
</p>

<p>
  <strong>Time:</strong>
  <%= @highlight.time %>
</p>

<p>
  <strong>Type:</strong>
  <%= @highlight.highlight_type %>
</p>

<p>
  <strong>Tags:</strong>
  <%= @highlight.tags %>
</p>

</div>