<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%= yield :head %>

    <%= display_meta_tags site: t("manifold.default.site_title") %>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbo-track': 'reload' %>
    <%= stylesheet_link_tag 'application', 'print/application', media: 'print', 'data-turbo-track': 'reload' %>
    
    <link rel="preconnect" href="https://fonts.googleapis.com" crossorigin />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <%= preload_link_tag("https://fonts.googleapis.com/css2?family=Faustina:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap",
        as: "style") %>
    <link href="https://fonts.googleapis.com/css2?family=Faustina:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
          rel="stylesheet">

    <%= javascript_include_tag 'application', 'data-turbo-track': 'reload', defer: true %>
    
  <% if @nonce.present? %>
    <!-- Google tag (gtag.js) -->
    <script nonce="<%= @nonce %>" async src="https://www.googletagmanager.com/gtag/js?id=GTM-5BNMS63"></script>
    <script nonce="<%= @nonce %>">
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'GTM-5BNMS63');
    </script>
  <% end %>

  </head>

  <body class="<%= yield (:body_class) %>" data-controller="jumble external-links<%= " failover" if @search_mode == "failover-" %>">

  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5BNMS63"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->

  <div class="row d-none d-print-flex">
    <div class="col-6">
      <h1>Temple University Libraries</h1>
    </div>
    <div class="col-6 text-end">
      <%= request.url %>
    </div>
  </div>

  <div id="skip-link">
    <%= link_to t("manifold.default.content_skip"), "#skiplink_ada", class: "element-invisible", tabindex: "1" %><br />
    <%= link_to t("manifold.default.search_skip"), "#", class: "element-invisible", onclick: "document.getElementById('search-block').focus();", tabindex: "2" %>
  </div>

    <% flash.each do |key, value| %>
       <div class="flash <%= key %>"><%= value %></div>
    <% end %>


  <%= render "covid_alert" if @covid_alert.present? %>

  <%= render "header_navbar" %>

  <div id="content" role="main">
    <a href="#" name="skiplink_ada" id="skiplink_ada" aria-label="skip link"></a> 
    
    <div class="lcs_slide_out">
      <%= link_to t("manifold.default.chat"), "/sidebar", target: "_blank", "aria-label": "opens new tab" %>
    </div>

    <%= yield %>

  </div>

  <%= render "footer" %>

  </body>
</html>
