<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Temple University Libraries</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= yield :head %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://v2.libanswers.com/load_chat.php?hash=fe2bd0cb1f04720f51641c4f01b8e22e"></script>
    <script type="text/javascript" src="//script.crazyegg.com/pages/scripts/0088/8647.js" async="async"></script>
    <%= analytics_init if GoogleAnalytics.valid_tracker? %>
  </head>
  <body class="<%= yield (:body_class) %>">
  <div id="skip-link">
    <%= link_to "Skip to main content", "#skiplink_ada", :class => "element-invisible", :tabindex => "1" %>
    <%= link_to "Skip to site search", "#", :class => "element-invisible", :onclick => "document.getElementById('search-block').focus();", :tabindex => "2" %>
  </div>

    <% flash.each do |key, value| %>
       <div class="flash <%= key %>"><%= value %></div>
    <% end %>


  <%= render "header_navbar.html.erb" %>

  <div id="content" style="min-height: 640px">
    <a href="#" name="skiplink_ada" id="skiplink_ada" aria-label="skip link"></a>
    <%= yield %>

  </div>

  <%= render "footer.html.erb" %>

  </body>
</html>
