<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-5BNMS63');</script>
    <!-- End Google Tag Manager -->

    <%= display_meta_tags site: t("manifold.default.site_title") %>
    <%= csrf_meta_tags %>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%= yield :head %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbo-track': 'reload' %>
    <%= stylesheet_link_tag 'application', 'print/application', media: 'print', 'data-turbo-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbo-track': 'reload', defer: true %>
  </head>

  <body class="<%= yield (:body_class) %>" data-controller="jumble external-links<%= " failover" if @search_mode == "failover-" %>">

  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5BNMS63"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->

  <div class="row d-none d-print-flex">
    <div class="col-6">
      <h1>Temple University Libraries</h1>
    </div>
    <div class="col-6 text-end">
      <%= request.url %>
    </div>
  </div>

  <div id="skip-link">
    <%= link_to t("manifold.default.content_skip"), "#skiplink_ada", :class => "element-invisible", :tabindex => "1" %>
    <%= link_to t("manifold.default.search_skip"), "#", :class => "element-invisible", :onclick => "document.getElementById('search-block').focus();", :tabindex => "2" %>
  </div>

    <% flash.each do |key, value| %>
       <div class="flash <%= key %>"><%= value %></div>
    <% end %>


  <%= render "covid_alert" if @covid_alert.present? %>

  <%= render "header_navbar" %>

  <div id="content">
    <a href="#" name="skiplink_ada" id="skiplink_ada" aria-label="skip link"></a> 
    
    <div class="lcs_slide_out">
      <%= link_to t("manifold.default.chat"), "/sidebar", target: "_blank", "aria-label": "opens new tab" %>
    </div>

    <%= yield %>

  </div>

  <%= render "footer" %>

  </body>
</html>
