<!DOCTYPE html>
<html lang="en">
  <head>
    <%= display_meta_tags site: "Temple University Libraries" %>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%= yield :head %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script type="text/javascript" src="//script.crazyegg.com/pages/scripts/0088/8647.js" async="async"></script>
    <%= analytics_init if GoogleAnalytics.valid_tracker? %>
  </head>
  <body class="<%= yield (:body_class) %>">
  <div id="skip-link">
    <%= link_to "Skip to main content", "#skiplink_ada", :class => "element-invisible", :tabindex => "1" %>
    <%= link_to "Skip to site search", "#", :class => "element-invisible", :onclick => "document.getElementById('search-block').focus();", :tabindex => "2" %>
  </div>

    <% flash.each do |key, value| %>
       <div class="flash <%= key %>"><%= value %></div>
    <% end %>

  <%= render "header_navbar.html.erb" %>

  <div id="content" style="min-height: 640px">
    <a href="#" name="skiplink_ada" id="skiplink_ada" aria-label="skip link"></a>

    <%= yield %>

    <div id="libchat_2742b65792dac9042fc276582aee7db3"></div>
  </div>

  <%= render "footer.html.erb" %>

  <script type="text/javascript" src="https://v2.libanswers.com/load_chat.php?hash=2742b65792dac9042fc276582aee7db3"></script>

  <style>
    <!--
    .lcs_slide_out-r {top: 30%!important;}

    #lcs_slide_out_button-15064 {
      text-align:left;
      width: 98px;
      background-image: url('/styles/images/chat.png');
      background-position: right center;
      background-repeat: no-repeat;
      background-size: 42px 49px;
      font-size: 125%;
    }
    -->
  </style>

  </body>
</html>
