<!DOCTYPE html>
<html lang="en">
  <head>
    <%= display_meta_tags site: t("manifold.default.site_title") %>
    <%= csrf_meta_tags %>

    <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'nonce-<%= @nonce %>' www.google-analytics.com ssl.google-analytics.com;img-src 'self' www.google-analytics.com ssl.google-analytics.com tulib-manifold-prod.s3.amazonaws.com;">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%= yield :head %>

    <%# analytics_init if GoogleAnalytics.valid_tracker? %>
    <%= javascript_include_tag '/assets/application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag '/assets/application', media: 'screen', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag '/assets/print/application', media: 'print', 'data-turbolinks-track': 'reload' %>
  </head>
  <body class="<%= yield (:body_class) %>">

  <div class="row d-none d-print-flex">
    <div class="col-6">
      <h1>Temple University Libraries</h1>
    </div>
    <div class="col-6 text-end">
      <%= request.url %>
    </div>
  </div>

  <div id="skip-link">
    <%= link_to t("manifold.default.content_skip"), "#skiplink_ada", :class => "element-invisible", :tabindex => "1" %>
    <%= link_to t("manifold.default.search_skip"), "#", :class => "element-invisible", :onclick => "document.getElementById('search-block').focus();", :tabindex => "2" %>
  </div>

    <% flash.each do |key, value| %>
       <div class="flash <%= key %>"><%= value %></div>
    <% end %>


  <%= render "covid_alert" if @covid_alert.present? %>

  <%= render "header_navbar" %>

  <div id="content">
    <a href="#" name="skiplink_ada" id="skiplink_ada" aria-label="skip link"></a> 
    
    <div class="lcs_slide_out">
      <%= link_to t("manifold.default.chat"), "/sidebar", target: "_blank" %>
    </div>

    <%= yield %>

  </div>

  <%= render "footer" %>

  </body>
</html>
