<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @policy.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @policy.description.html_safe %>
</p>

<p>
  <strong>Effective date:</strong>
  <%= @policy.effective_date %>
</p>

<p>
  <strong>Expiration date:</strong>
  <%= @policy.expiration_date %>
</p>
